Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Bruker github app for repository dispatch events. (#1967)
  .github/workflows/build.yml
Labels: none

Fiks kommentar (#1970)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AksjonspunktDefinisjon.java
Labels: domene/kontrakt

TSF-1681: Ignorerer permisjon om det er eneste aktivitet på stp selv om det finnes andre aktiviteter som ikke går helt opp til stp (#1974)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9Test.java
Labels: domene/kalkulator

TSF-1681: Sjekker om det finnes aktiviteter på stp om permisjon hensyntas, om svaret er nei hensyntas ikke permisjon (#1976)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9.java
Labels: domene/kalkulator

TSF-1786: Aksjonspunkt i database (#1973)
  database/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/aksjonspunkt/AksjonspunktEntitet.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AksjonspunktDefinisjonKodeverdiConverter.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AksjonspunktStatusDefinisjonKodeverdiConverter.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/BeregningStegKodeverdiConverter.java
  database/src/main/resources/META-INF/pu-default.beregningsgrunnlag.orm.xml
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AksjonspunktStatus.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_31__aksjonspunkt.sql
Labels: domene/kontrakt, migreringer

FIX: Hvis OMP grunnlag er blitt fastsatt før må de kunne bli fastsatt igjen (#1981)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspenger.java
Labels: domene/kalkulator

Fjerner unødig sonar (#1983)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
Labels: domene/kalkulator

FIX: Legger til en ekstra replika i Q (#1986)
  .deploy/dev-fss-default.yml
Labels: none

FIX: Fjerner validering på lengden av kodeverdi, gir ikke mening å ha dette her (#1988)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/UtbetaltNæringsYtelseType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/UtbetaltPensjonTrygdType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/UtbetaltYtelseFraOffentligeType.java
Labels: domene/kontrakt

TFP-4384: Bumper regelmodell (#1997)
  pom.xml
Labels: pom

FIX: Kommentar på mulig feil i splittlogikk (#1999)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/SplittBGPerioder.java
Labels: domene/kalkulator

TSF-1786: Utleder og løser aksjonspunkter, legger på begrunnelse på h… (#1979)
  .deploy/dev-fss-default.yml
  .deploy/prod-fss-default.yml
  database/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/aksjonspunkt/AksjonspunktKontrollTjeneste.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/aksjonspunkt/AksjonspunktRepository.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/aksjonspunkt/AksjonspunktTjeneste.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepository.java
  database/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/aksjonspunkt/AksjonspunktRepositoryTest.java
  database/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/aksjonspunkt/AksjonspunktTjenesteTest.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndtererApplikasjonTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AksjonspunktDefinisjon.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AksjonspunktType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/HåndterBeregningDto.java
  web/app-vtp.properties
Labels: domene/kontrakt

TSF-1727 - støtte for 8-47 A (#2002)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/OmsorgspengeGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapUttakArbeidTypeTilAktivitetStatusV2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMapper.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/YtelseTyperKalkulusStøtterKontrakt.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

FIX: Legger på begrunnelse for egen næring dto (#2005)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/opptjening/v1/OppgittEgenNæringDto.java
Labels: domene/kontrakt

Fjerner bruk av PAT i workflow
  .github/workflows/build.yml
Labels: none

TSF-1804 fikser feil dekningsgrad for 8-47 B (#2010)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerSyktBarnGrunnlag.java
Labels: domene/kalkulator

FIX: Kopierer PGI verdier i fordel beregningsgrunnlag håndterer (#2012)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/aksjonspunkt/FordelBeregningsgrunnlagHåndterer.java
Labels: domene/kalkulator

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Legger inn referanser til folketrygdloven i readme (#2020)
  README.md
Labels: none

Fikser nullpointer for tilkommet inntekt (#2019)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/SplittBGPerioder.java
Labels: domene/kalkulator

Update README.md
  README.md
Labels: none

fix: sett logServerErrorDetail for postgres false
  database/src/main/resources/META-INF/persistence.xml
Labels: none

Endringer til readme folketrygdloven (#2024)
  README.md
Labels: none

Endringer til readme for midlertidig inaktiv
  README.md
Labels: none

TSF-1550: Lar saksbehandler fastsette arbeidsandeler hvis det finnes … (#2027)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/OmsorgspengerGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspenger.java
  pom.xml
Labels: domene/kalkulator, pom

Fjerner kommentar som er rettet (#2031)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/SplittBGPerioder.java
Labels: domene/kalkulator

Dependabot: Støtte for avhengigheter under navikt
  .github/dependabot.yml
Labels: none

Oppdaterer versjon for regelmodell (#2042)
  pom.xml
Labels: pom

Tjeneste for å se om grunnbeløp må reguleres (#2037)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/Greguleringsstatusutleder.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/GrunnbeløpreguleringTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/GrunnbeløpRestTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/forvaltning/GreguleringsstatusutlederTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/GrunnbeløpReguleringStatus.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KontrollerGrunnbeløpRequest.java
Labels: domene/kontrakt

TSF-1853: Lager andeler basert på dagpenger for PSB løypa og takler uttak med dagpenger (#2051)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapUttakArbeidTypeTilAktivitetStatusV2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OpptjeningsaktiviteterPerYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMapper.java
Labels: domene/kalkulator

FIX: Respons for greguleringstask (#2053)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/GrunnbeløpRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/GrunnbeløpReguleringRespons.java
Labels: domene/kontrakt

Update DatasourceUtil.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/db/DatasourceUtil.java
Labels: web

FIX: Støtte for å behandle PSB med uttak og status som KUN_YTELSE (#2056)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapUttakArbeidTypeTilAktivitetStatusV2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMapper.java
  pom.xml
Labels: domene/kalkulator, pom

FIX: Endrer kode for ytelse i uttak (#2059)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapUttakArbeidTypeTilAktivitetStatusV2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMapper.java
Labels: domene/kalkulator

FIX: Kommentar (#2061)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
Labels: domene/kalkulator

FIX: Endrer kodeverk for midlertidig inaktiv (#2067)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapUttakArbeidTypeTilAktivitetStatusV2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMapper.java
Labels: domene/kalkulator

Feature/jersey server (#2091)
  kalkulator/src/test/resources/logback-test.xml
  migreringer/src/test/resources/logback-test.xml
  web/pom.xml
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/exceptions/FeilType.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/exceptions/GeneralRestExceptionMapper.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/exceptions/RedirectExceptionMapper.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
  web/src/main/resources/WEB-INF/web.xml
  web/src/main/resources/logback.xml
  web/src/test/java/no/nav/folketrygdloven/kalkulus/app/exceptions/GeneralRestExceptionMapperTest.java
Labels: web, pom

TFP-4315: Tar med ansettelsesperioder som avsluttes på stp (#2094)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
Labels: domene/kalkulator

Fjerner avhengighet til asm (#2096)
  web/pom.xml
Labels: pom
