Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Avbryter overstyring og gjenoppretter ved kvart steg (#2755)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
Labels: none

Gjenoppretter grunnlag for sak
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_49__gjenopprett_grunnlag.sql
Labels: migreringer

Gjenopprett grunnlag
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_49__gjenopprett_grunnlag.sql
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_50__gjenopprett_grunnlag.sql
Labels: migreringer

Bytte skriptrekkefølge
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_49__gjenopprett_grunnlag.sql
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_50__gjenopprett_grunnlag.sql
Labels: migreringer

Ny dekningsgrad for frisinn (#2765)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FrisinnGrunnlag.java
  pom.xml
Labels: domene/kalkulator, pom

Utvider med fordeling pr inntektskategori og gir 0 til andeler uten krav eller dersom ingen grunnlag er bortfalt (#2764)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelingUtenRefusjonskravTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMatcher.java
  web/app-vtp.properties
Labels: domene/kalkulator

Gir automatisk vurdering av at det har vært lønnsendring for alle som har hatt lønnsendring i beregningsperioden (#2758)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderLønnsendringOppdaterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/ArbeidMedLønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/KortvarigArbeidsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaLønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaTjenesteK14.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/ArbeidsforholdDto.java
Labels: domene/kontrakt, domene/kalkulator

Oppdaterer felles
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  pom.xml
  web/app-vtp.properties
Labels: pom

Revert "Oppdaterer felles"
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  pom.xml
  web/app-vtp.properties
Labels: pom

TFP-4603: Tilpasser at vi kan ha enten automatisk eller manuell fordeling, kopierer med automatisk fordeling videre i aksjonspunkt (#2768)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
Labels: domene/kalkulator

FIX: Tar tilbake første uttaksdag da denne brukes av foreldrepenger (#2777)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapTilGUIInputFraKalkulator.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBGSkjæringstidspunktOgStatuserFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/behandling/KoblingReferanse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/behandling/Skjæringstidspunkt.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/KoblingReferanseMock.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
Labels: domene/kalkulator

Oppdater felles
  pom.xml
Labels: pom

Revert "Revert "Oppdaterer felles""
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  pom.xml
  web/app-vtp.properties
Labels: pom

Beregner utbetalingsgrad for meldekort riktig når periode er i starten eller slutten av en vedtaksperiode og ikkje er 2 heile veker (#2781)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/MeldekortUtils.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklarAktiviteterTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegelTest.java
  pom.xml
Labels: domene/kalkulator, pom

Setter scale (#2783)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/AnvistAndelMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/MeldekortUtils.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelingUtenRefusjonskravTjeneste.java
Labels: domene/kalkulator

Fikse tester
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelingUtenRefusjonskravTjenesteTest.java
Labels: none

Endre port fra 5433 til 5432 i docker compose og build.yml
  .github/workflows/build.yml
  docker-compose.yml
  lokalutvikling/postgres-init/setUpWindowsNoDocker
Labels: none

Revert ikke-statisk stp frisinn (#2790)
  pom.xml
Labels: pom

Skriver fordel-bg ut av guitjenesten (#2787)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/GUIBeregningsgrunnlagInputTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FordelBeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonEllerGraderingArbeidsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/Årsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/FordelBeregningsgrunnlagTilfelleInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/FordelingGraderingTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonEllerGraderingArbeidsforholdDtoTjenesteTest.java
Labels: domene/kalkulator

Tar hensyn til lønnsendringer som skjer mellom siste dag i beregningsperioden og skjæringstidspunktet (#2786)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderLønnsendringOppdaterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeForLønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaLønnsendring.java
Labels: domene/kalkulator

Update pom.xml
  pom.xml
Labels: pom

FIX: Fjerner toggle, ligger fortsatt i rest om det skulle bli behov (#2788)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFRISINN.java
Labels: domene/kalkulator

Legger til forlengelseperioder i kopikonstruktør
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/GUIBeregningsgrunnlagInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapTilGUIInputFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
Labels: domene/kalkulator

Fjerner ubrukt kode
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/GUIBeregningsgrunnlagInputTjeneste.java
Labels: none

Utvider brevgrunnlag med informasjon om det er forlengelse eller ikkje (#2801)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagGrunnlagDto.java
Labels: domene/kontrakt

Makserer Orgnr og aktørid i kontrakt
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/felles/v1/Aktør.java
Labels: domene/kontrakt

Utvider kontrakt med søknadsperioder fra bruker (#2807)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapper.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/AktivitetDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/OmsorgspengerGrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/SøkadsperioderPrAktivitetDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/UtbetalingsgradPrAktivitetDto.java
Labels: domene/kontrakt

Lager egne ytelsesspesifikke mappere fra kontrakt
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeldrepengerGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/FrisinnGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/OmsorgspengeGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/PleiepengerNærståendeGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/PleiepengerSyktBarnGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/SvangerskapspengerGrunnlagMapper.java
Labels: none

Velger siste meldekort sjølv om det overlapper med stp (#2806)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/MeldekortUtils.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklarAktiviteterTjeneste.java
Labels: domene/kalkulator

Bugfiksing (#2817)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/VurderRefusjonBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/VurderRefusjonBeregningsgrunnlagFelles.java
Labels: domene/kalkulator

TFP-4865: Besteberegning tar inn inntektskategori for å mappe statuser som ellers ikke er støttet (#2819)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeldrepengerGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/Ytelseandel.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/besteberegning/Ytelseandel.java
Labels: domene/kontrakt, domene/kalkulator

Oppdaterer felles
  pom.xml
Labels: pom

Legger til søknadsperioder i konstruktør
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/OmsorgspengerGrunnlag.java
Labels: domene/kontrakt

Update pom.xml
  pom.xml
Labels: pom

Utvider kopierrequest med stegtype det kopieres fra (#2828)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierBeregningListeRequest.java
Labels: domene/kontrakt

Gjer stegtype nullable
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierBeregningListeRequest.java
Labels: domene/kontrakt

Fordeler ingenting om det ikke er bortfalt inntekt eller det ikke er arbeid uten refusjon
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelingUtenRefusjonskravTjeneste.java
Labels: domene/kalkulator

Nullsjekk
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelingUtenRefusjonskravTjeneste.java
Labels: domene/kalkulator

Endrer inntektsposter fra set til liste (#2833)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektDto.java
Labels: domene/kalkulator

Legger til endringsutledning for avklar aktiviteter (#2835)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIAktiviteter.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/avklaraktiviteter/AvklarAktiviteterHåndterer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/BeregningAktivitetEndring.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/BeregningAktivitetNøkkel.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/BeregningAktiviteterEndring.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/Endringer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/OppdateringRespons.java
Labels: domene/kontrakt
