Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

fix:fjerner hibernate-types (#2670)
  domenetjenester/pom.xml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/KalkulatorInputEntitet.java
  pom.xml
Labels: pom

Revert "fix:fjerner hibernate-types (#2670)" (#2672)
  domenetjenester/pom.xml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/KalkulatorInputEntitet.java
  pom.xml
Labels: pom

legger til ekstra test for konvertering av kalkulatorinput
  .devcontainer/docker-compose.yml
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
Labels: none

fix: dumper json ved lesefeil
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
Labels: none

Retry fjerne hibernate-types, med mer logging for verdikjede
  domenetjenester/pom.xml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/KalkulatorInputEntitet.java
  pom.xml
Labels: pom

Revert: commits fc9ed2a6 c3083d25, legger tilbake hibernate-types
  domenetjenester/pom.xml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/KalkulatorInputEntitet.java
  pom.xml
Labels: pom

Retry uten hibernate-types, bedre logging av jsonstruktur
  domenetjenester/pom.xml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/KalkulatorInputEntitet.java
  pom.xml
Labels: pom

fix: typo
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
Labels: none

Revert til uten hibernate-types eller logging av feil input
  domenetjenester/pom.xml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/KalkulatorInputEntitet.java
  pom.xml
Labels: pom

Fjerner hibernate-types igjen, nå med utvidet test for avsjekk av korrekt konvertering til jsonb
  domenetjenester/pom.xml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/KalkulatorInputEntitet.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
  pom.xml
Labels: pom

fjerner unødvendig @Commit i test
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
Labels: none

fjerner unødvendig logging av json
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
Labels: none

Bedre logging ved feil input
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
Labels: none

Fikser validering ved bruk av AssertTrue
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/OmsorgspengerGrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/arbeid/v1/ArbeidsgiverOpplysningerDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/arbeid/v1/YrkesaktivitetDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/inntekt/v1/UtbetalingDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/migrerAksjonspunkt/MigrerAksjonspunktRequest.java
Labels: domene/kontrakt

FIX: Henter alltid inntektsmeldinger fra input, så vi får med korrekt… (#2666)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderLønnsendringOppdaterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderLønnsendringDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderMottarYtelseDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektArbeidYtelseGrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/ArbeidstakerUtenInntektsmeldingTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiode.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeForLønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFakta.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaLønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaTjenesteOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaTjenestePleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderLønnsendringTilfelleUtleder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderMottarYtelseTilfelleUtleder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettBeregningsperiodeTjenesteFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/ArbeidstakerUtenInntektsmeldingTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjenesteTest.java
Labels: domene/kalkulator

fix: fjern jackson-module-jaxb-annotations
  web/pom.xml
Labels: pom

fix: typo
  web/pom.xml
Labels: pom

exclude jackson-module-jaxb-annotations fra swagger-jaxrs2-jakarta også
  web/pom.xml
Labels: pom

benytter jetty-jaspi JaspiAuthConfigProvider istdf. OidcAuthConfigProvider
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
Labels: web

Korrigerer til ctx path /ftkalkulus/api
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
Labels: web

Regelmodell støtter variabelt skjæringstidspunkt for frisinn (#2701)
  pom.xml
Labels: pom

Fikser beregningsperiode for SN
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/BeregningsperiodeTjenesteFRISINN.java
  pom.xml
Labels: domene/kalkulator, pom

FIX: Bumper regelmodell til å ta med utdeling av hele summen i andelsmessig fordeling (#2705)
  pom.xml
Labels: pom

FIX: Trigger bygg (#2707)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/refusjon/VurderRefusjonBeregningsgrunnlagHåndterer.java
Labels: domene/kalkulator

Oppdatert dependabot repos som sjekkes
  .github/dependabot.yml
Labels: none

typo i dependabot.yml
  .github/dependabot.yml
Labels: none

Swagger/OpenAPI: reusable enums + fully qualified schema names
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: web

Update build-pr.yml
  .github/workflows/build-pr.yml
Labels: none

Java temurin
  .github/workflows/build-pr.yml
Labels: none

Java 17 temurin (#2719)
  .github/workflows/build.yml
  .github/workflows/release-kontrakt.yml
  Dockerfile
  kalkulator/pom.xml
  kodeverk/pom.xml
  kontrakt/pom.xml
  pom.xml
Labels: pom

Java 17 for kalkulus-kontrakt, kalkulus-kalkulator (#2723)
  .java-version
  README.md
  pom.xml
Labels: pom

TFP-4833: Bumper regelmodell til å ta med fiks for MS kombinert med SN (#2724)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlag.java
  pom.xml
Labels: domene/kalkulator, pom

Fikser mapping av krav (#2727)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/LagKravperioder.java
Labels: none

Kopiering av avklaringsbehov for forlengelse (#2733)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovKontrollTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/AvklaringsbehovDto.java
Labels: domene/kontrakt, domene/kalkulator

Toggle forlengelse (#2735)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

Fjerne endepunkter start og fortsett (#2737)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/BeregnListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/FortsettBeregningListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/StartBeregningListeRequest.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: domene/kontrakt

Skrur på psb av dp i prod (#2742)
  .deploy/prod-fss.yml
Labels: none

Kopierer input ved forlengelse (#2748)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjeneste.java
Labels: none

Logikk for automatisk fordeling ved opphør og tilkommet krav fra forskjellige andeler (#2746)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelingUtenRefusjonskravTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/PSBFordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/svp/SVPFordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/tid/Intervall.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelingUtenRefusjonskravTjenesteTest.java
Labels: domene/kalkulator

Avbryter ikkje overstyringsaksjonspunkt, men setter til OPPRETTET (#2751)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
Labels: none
