Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

Alle aktiviteter som starter etter skjæringstidspunktet vurderes som tilkommet (#3995)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/FinnArbeidstakerInntektTidslinje.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
Labels: domene/kalkulator

Tar ikke med tilkommet aktivitet i utledning av om vi kan foreslå løsning for perioder før 1. mai (#3997)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/ForeslåInntektGraderingForUendretResultat.java
Labels: domene/kalkulator

Logger ut graderingsdata
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/ForeslåInntektGraderingForUendretResultat.java
Labels: domene/kalkulator

Retter if-sjekk og legger til test (#4000)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/ForeslåInntektGraderingForUendretResultat.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/ForeslåInntektGraderingForUendretResultatTest.java
Labels: domene/kalkulator

Fjerner resultatkode som aldri har blitt returnert (#4004)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/KalkulusResultatKode.java
Labels: domene/kontrakt

Fjerner toggle (#4005)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AvklaringsbehovutledertjenesteVurderRefusjonK9.java
  web/app-vtp.properties
Labels: domene/kalkulator

Fjerner fordeling uten krav logikk som aldri har vore skrudd på i produksjon. Må gå opp denne på nytt i lys av tilkommet inntekt (#4007)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelingUtenRefusjonskravTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/FordelBeregningsgrunnlagTjenesteUtbGrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelingUtenRefusjonskravTjenesteTest.java
  web/app-vtp.properties
Labels: domene/kalkulator

Toggler validering av forlengelse (#4010)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

Toggler på kopiering ved forlengelse
  .deploy/prod-fss.yml
Labels: none

Fikse deployfil
  .deploy/prod-fss.yml
Labels: none

Logger ut skjæringstidspunkt
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

Legger til lønnsbeskrivelse (#4014)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektspostDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektspostDtoBuilder.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/LønnsinntektBeskrivelse.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/inntekt/v1/UtbetalingsPostDto.java
Labels: domene/kontrakt, domene/kalkulator

Fikser kopi av fakta-tilfeller (#4017)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagFaktaOmBeregningTilfelle.java
Labels: none

Fikse navn
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/inntekt/v1/UtbetalingsPostDto.java
Labels: domene/kontrakt

Legger til felt for omsorgsstønad i dto til frontend (#4020)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/VurderInntektsforholdPeriodeDto.java
Labels: domene/kontrakt, domene/kalkulator

Bump regel (#4024)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  pom.xml
Labels: domene/kalkulator, pom

Sjekker om det er mottatt omsorgsstønad etter skjæringstidspunktet (#4026)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/VurderInntektsforholdPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/VurderNyttInntektsforholdDto.java
Labels: domene/kontrakt, domene/kalkulator

Legger inn manglende annoteringer
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/LønnsinntektBeskrivelse.java
Labels: domene/kontrakt

Legger til noargs konstruktør
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/VurderNyttInntektsforholdDto.java
Labels: domene/kontrakt

Sender arbeidstidsprosenter for ikke-yrkesaktiv til gui for å enable fordeling (#4030)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/FordelBeregningsgrunnlagHåndterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FinnArbeidsprosenterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FinnArbeidsprosenterUtbetalingsgrad.java
Labels: domene/kalkulator

Bumper regel (#4035)
  pom.xml
Labels: pom

Legger til koblingrelasjondump
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KoblingRelasjonDump.java
Labels: none

Automatisering av lønnsendring i siste måned i beregningsperioden: Op… (#3976)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapArbeidsforholdFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderLønnsendringOppdaterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeForLønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaLønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaTjenesteK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderLønnsendringTilfelleUtleder.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
Labels: domene/kalkulator

TSF-3356 Mapper inn grunnlag med samme skjæringstidspunkt som origina… (#4039)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegInputMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/StegProsesseringInput.java
Labels: domene/kalkulator

Lager dto for lønnsendring pr arbeidsforhold (#3969)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/LønnsendringSaksopplysningTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/SaksopplysningerTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/LønnsendringScenario.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/LønnsendringSaksopplysningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/Saksopplysninger.java
Labels: domene/kontrakt, domene/kalkulator

Fjerner logikk for å forslå inntektgradering for uendret resultat (#4041)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/ForeslåInntektGraderingForUendretResultat.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/ForeslåInntektGraderingForUendretResultatTest.java
Labels: domene/kalkulator

Filterer bort nullverdier for sisteLønnsendring
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/LønnsendringSaksopplysningTjeneste.java
Labels: domene/kalkulator

Toggler av gradering mot inntekt
  .deploy/dev-fss.yml
Labels: none

Legger til no-args constructor
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/LønnsendringSaksopplysningDto.java
Labels: domene/kontrakt

Fikse feltnavn
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/LønnsendringSaksopplysningDto.java
Labels: domene/kontrakt

Toggler på igjen gradering mot tilkommende inntekt i q (#4050)
  .deploy/dev-fss.yml
Labels: none

Bumper regelmodell (#4062)
  pom.xml
Labels: pom

TSF-3413: Aktivitetsgrad inn i kalkulus (#4065)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/svp/PeriodeMedUtbetalingsgradDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/PeriodeMedUtbetalingsgradDto.java
Labels: domene/kontrakt, domene/kalkulator

Mer logg når vi feiler ved mapping av nye andeler (#4070)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLGraderingOgUtbetalingsgrad.java
  pom.xml
Labels: domene/kalkulator, pom

Sjekker at status, arbeidsgiver og arbeidsforholdref matcher før vi annerkjenner matchende andel (#4076)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FinnTidslinjeForErNyAktivitet.java
Labels: domene/kalkulator

Legger inn ny sats for grunnbeløp (#4080)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_70__ny_sats.sql
Labels: migreringer

Kall for å finne tilkommet aktivitet (#4085)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/TilkommetAktivitetRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/tilkommetAktivitet/UtledTilkommetAktivitetForRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/tilkommetAktivitet/UtledTilkommetAktivitetListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/tilkommetAktivitet/UtledTilkommetAktivitetRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/tilkommetAktivitet/UtledetTilkommetAktivitet.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/tilkommetAktivitet/UtledetTilkommetAktivitetListe.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/tilkommetAktivitet/UtledetTilkommetAktivitetPrReferanse.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kontrakt, domene/kalkulator, web

Håndterer kun ytelse (der arbeidsgiver er null). (#4087)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/RegisterInntektTidslinjeUtleder.java
Labels: domene/kalkulator

Lagt til noen manglende felt i copy-constructors (#4033)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagAktivitetStatusDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagGrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeÅrsakDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektsmeldingDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektspostDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/RefusjonskravDatoDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagDto.java
Labels: domene/kontrakt, domene/kalkulator

TSF-3395: Kopierer alle inntektskategorier i mapping fra entiteter til domenemodell (#4089)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
Labels: none

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
