Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Bytter ut alle BigDecimal med Beløp og Promille som har satt scale (#2366)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BGAndelArbeidsforhold.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPeriode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/Sammenligningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/SammenligningsgrunnlagPrStatus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/del_entiteter/Promille.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/AksjonspunktMigreringTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/Greguleringsstatusutleder.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBeregningsgrunnlagFRISINN.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapInntektstakFRISINN.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapTilAvslagsårsakerFRISINN.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapperFRISINN.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/forvaltning/GreguleringsstatusutlederTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBeregningsgrunnlagFRISINNTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBeregningsgrunnlagTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapInntektstakFRISINNTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapperFRISINNTest.java
Labels: none

Feature/tfp 3865 (#2385)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapAndelGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodellTest.java
  pom.xml
Labels: domene/kalkulator, pom

FIX: Ser ikke etter IM beløp for refusjonssaker (#2408)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
Labels: domene/kalkulator

FIX: Nullsjekk (#2410)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/BeregneFraYtelse.java
Labels: domene/kalkulator

Legger til kilde og gjer FaktaVurdering embeddable (#2402)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaAktørEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaArbeidsforholdEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaVurderingEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/del_entiteter/FaktaVurdering.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/FaktaVurderingKildeKodeverdiConverter.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/AksjonspunktMigreringTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/main/resources/META-INF/pu-default.beregningsgrunnlag.orm.xml
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_36__leggger_til_fakta_kilde.sql
Labels: migreringer

Fikser nullpointer på faktavurdering (#2414)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaAktørEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaArbeidsforholdEntitet.java
Labels: none

TFP-4704: Bumper regler til å ha en hard sjekk på 100% i andelsmessig fordeling (#2413)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelBeregningsgrunnlagTjeneste.java
  pom.xml
Labels: domene/kalkulator, pom

FIX: Logger avvik i besteberegning (#2418)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/ForeslåBesteberegning.java
Labels: domene/kalkulator

GA: Rydder opp i GA scripts
  .github/.m2/settings.xml
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/promote.yml
  .github/workflows/release-kontrakt.yml
Labels: none

GA: Rydder opp i GA scripts (2)
  .github/workflows/build.yml
Labels: none

GA: PAT brukes i build
  .github/workflows/build.yml
Labels: none

FIX: Mapper kun inn dp / aap om vi har den statusen på grunnlaget (#2421)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/RegelMapperTestDataHelper.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegelTest.java
Labels: domene/kalkulator

Fjerner mapping av arbeidsgivernavn i kalkulus (#2424)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoUtil.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VisningsnavnForAktivitetTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/AndelerForFaktaOmBeregningTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/AvklarAktiviteterDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/MapBeregningAktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderRefusjonTilfelleDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektArbeidYtelseGrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektArbeidYtelseGrunnlagDtoBuilder.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoUtilTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/MapBeregningAktivitetDtoTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VisningsnavnForAktivitetTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderMottarYtelseDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderRefusjonTilfelleDtoTjenesteTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/HentBeregningsgrunnlagDtoForGUIRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/AndelForFaktaOmBeregningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningAktivitetDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagArbeidsforholdDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/RefusjonskravSomKommerForSentDto.java
Labels: domene/kontrakt, domene/kalkulator

Mapper fakta til lagring for OPPDATERT_MED_ANDELER og KOFAKBER_UT (#2423)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilEntitetMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
Labels: none

Legger til gyldighetsperiode for refusjon (#2422)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonPeriodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/RefusjonGyldighetsperiodeEntitet.java
  domenetjenester/src/main/resources/META-INF/pu-default.beregningsgrunnlag.orm.xml
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_37__leggger_til_refusjon_gyldighetsperiode.sql
Labels: migreringer

Sorterer perioder før fastsetting av inntekt for tidsbegrensetperioder (#2428)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FastsettBGTidsbegrensetArbeidsforholdHåndterer.java
Labels: domene/kalkulator

Lagre ned til refusjonGyldighetsperiode (#2431)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/RefusjonGyldighetsperiodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilEntitetMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/UtledEndringIRefusjonsperiodeTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/refusjon/MapTilRefusjonOverstyring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningRefusjonOverstyringDto.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegelTest.java
Labels: domene/kalkulator

Migrerer og fjerner bruk av fom-dato i refusjonsoverstyring (#2434)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilEntitetMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningRefusjonOverstyringDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_38__migrer_refusjon_dato.sql
Labels: domene/kalkulator, migreringer

Revert "Migrerer og fjerner bruk av fom-dato i refusjonsoverstyring (#2434)" (#2436)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilEntitetMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningRefusjonOverstyringDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_38__migrer_refusjon_dato.sql
Labels: domene/kalkulator, migreringer

Revert "Lagre ned til refusjonGyldighetsperiode" (#2438)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/RefusjonGyldighetsperiodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilEntitetMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/UtledEndringIRefusjonsperiodeTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/refusjon/MapTilRefusjonOverstyring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningRefusjonOverstyringDto.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegelTest.java
Labels: domene/kalkulator

Revert "Legger til gyldighetsperiode for refusjon" (#2439)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonPeriodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/RefusjonGyldighetsperiodeEntitet.java
  domenetjenester/src/main/resources/META-INF/pu-default.beregningsgrunnlag.orm.xml
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_37__leggger_til_refusjon_gyldighetsperiode.sql
Labels: migreringer

Utvider logging og mapper utgått inntektperiodetype (#2443)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/AnvistAndelMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/BeregneFraYtelse.java
Labels: domene/kalkulator

Felt for om frist er utvidet (#2442)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilEntitetMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderRefusjonTilfelleOppdaterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderRefusjonTilfelleDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningRefusjonOverstyringDto.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/LagVurderRefusjonDtoTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/MapTilRefusjonOverstyringTest.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_37__er_frist_utvidet_felt.sql
Labels: domene/kalkulator, migreringer

TFP-4712: Fikser fordeling fra brukers andel når flere andeler og endrer opprettelse av midlertidig inaktiv andeler (#2449)
  pom.xml
Labels: pom

Endrer til å bruke refusjonskrav på andel i staden for å gå igjennom alle inntektsmeldinger i aksjonspunktutledning (#2451)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/BeregningInntektsmeldingTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/FinnInntektsmeldingForAndel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FordelBeregningsgrunnlagAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/AndelerForFaktaOmBeregningTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BeregningsgrunnlagPrStatusOgAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/ManuellBehandlingRefusjonGraderingDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/FordelBeregningsgrunnlagTilfelleTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/FordelingGraderingTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningInntektsmeldingTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonDtoTjenesteImplTest.java
Labels: domene/kalkulator

Legger til kolonne for vurdering av frist utfall (#2453)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_38__frist_vurdering_utfall.sql
Labels: migreringer

FIX: Lar perioder være redigerbare om det tidligere har vært gradering (#2457)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/ManuellBehandlingRefusjonGraderingDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/FordelBeregningsgrunnlagTilfelleTjeneste.java
Labels: domene/kalkulator

Leverer ugradert dagsats i brev-grunnlag (#2461)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kontrakt

Lagt til manglende variabel "avkortetFørGraderingPrÅr" i konstruktør (#2465)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndel.java
Labels: none

Mapper avkortet før gradering for arbeidsforhold (#2467)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVL.java
Labels: domene/kalkulator

Mapper sammenligningsgrunnlag for forenklet-bg (#2469)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/fastsatt/BGAndelArbeidsforhold.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/fastsatt/BeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/fastsatt/BeregningsgrunnlagListe.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/fastsatt/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/fastsatt/BeregningsgrunnlagPrStatusOgAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/fastsatt/Sammenligningsgrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/fastsatt/SammenligningsgrunnlagPrStatusDto.java
Labels: domene/kontrakt

Sjekker for vurder refusjon endring for historikk (#2471)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/UtledFaktaOmBeregningVurderinger.java
Labels: none

Fikser NPE (#2474)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/UtledFaktaOmBeregningVurderinger.java
Labels: none

Godkjenner alle perioder for OMP (#2472)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelPSB.java
Labels: domene/kalkulator

Regelsporing skal extende baseentitet (#2478)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingGrunnlagEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingPeriodeEntitet.java
Labels: none

TSF-2202 Gjenoppretter grunnlag som er feilaktiv deaktivert (#2480)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_39__gjenopprett_grunnlag.sql
Labels: migreringer

Embedded struktur for årsgrunnlag (#2477)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/del_entiteter/Årsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/forvaltning/GreguleringsstatusutlederTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBeregningsgrunnlagFRISINNTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapInntektstakFRISINNTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapperFRISINNTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/Årsgrunnlag.java
Labels: domene/kalkulator

Sjekker at grunnlag er ulik null før vi henter ut beløp (#2484)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndel.java
Labels: none

Gjenoppretter grunnlag del2 (#2486)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_40__gjenopprett_grunnlag_del_2.sql
Labels: migreringer

Nye felter for grunnlag, refusjon og inntektskategori (#2482)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_41__nye_kolonner_for_grunnlag_og_inntektskategori.sql
Labels: migreringer
