Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

Ekskluder jboss jee avhengigheter (#3511)
  domenetjenester/pom.xml
Labels: pom

TFP-5174: Legger inn toggle for å fremskynde regelendring, fjerner ga… (#3490)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/BeregningsgrunnlagDiffSjekker.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilEntitetMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagGenerell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/SammenligningsgrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/FortsettForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/BeregningsgrunnlagVerifisererFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/RegelMapperTestDataHelper.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BeregningsgrunnlagPrStatusOgAndelDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspengerTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/modell/SammenligningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
  pom.xml
  web/app-vtp.properties
Labels: domene/kalkulator, pom

Fikser assertTrue valideringer (#3515)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndringEllerNyoppstartetSNHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/arbeid/v1/YrkesaktivitetDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/opptjening/v1/OpptjeningAktiviteterDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/BeregnForRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/BeregnListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierBeregningRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/migrerAksjonspunkt/MigrerAksjonspunktRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/TilstandListeResponse.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/TilstandResponse.java
Labels: domene/kontrakt

Bumper regelmodell til versjon son har ryddet vekk sammenligningsgrunnlag (#3518)
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  pom.xml
Labels: pom

Splitte regelmodell for fastsett og foreslå (#3520)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/fastsett/MapFastsattBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapArbeidsforholdFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/YtelsesspesifikkRegelMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/frisinn/FrisinnGrunnlagMapperFastsett.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/fp/FullføreBeregningsgrunnlagFPImpl.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/omp/FullføreBeregningsgrunnlagOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/psb/FullføreBeregningsgrunnlagPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/svp/FullføreBeregningsgrunnlagSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/utbgrad/FullføreBeregningsgrunnlagUtbgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FullføreBeregningsgrunnlagFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
  pom.xml
Labels: domene/kalkulator, pom

Toggler av foreslå for midlertidig inaktiv (#3522)
  pom.xml
Labels: pom

Toggler fremskyndet regelendring for k9 (#3524)
  .deploy/dev-fss.yml
Labels: none

Bump regel (#3525)
  pom.xml
Labels: pom

Verifiser brukers andel (#3528)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
Labels: domene/kalkulator

Toggle på midlertidig inaktiv med varig endring
  .deploy/prod-fss.yml
Labels: none

Kjører beregning kun for forlengelseperioder og kopierer fra forrige (#3533)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/forlengelse/ForlengelseperioderEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilEntitetMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/PerioderTilVurderingTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/tid/Intervall.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  web/app-vtp.properties
Labels: domene/kalkulator

TFP-5304: Legger til beregning av differanse for sammenligning AT_FL (#3534)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
Labels: domene/kalkulator

Kopierer eksisterende periode ved forlengelse og endrer fom-tom om nødvendig (#3537)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjenesteTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/tid/Intervall.java
Labels: domene/kalkulator

Legger til toString
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/forlengelse/ForlengelseperiodeEntitet.java
Labels: none

Ny target i build-pr (#3542)
  .github/workflows/build-pr.yml
Labels: none

Legger på fiks for checkout (#3544)
  .github/workflows/build-pr.yml
Labels: none

Kopierer ikkje dersom det ikkje er forlengelse
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

Fikse for gruppering av inntektsmelding
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjeneste.java
Labels: domene/kalkulator

Filtrere bort inntektsmelding uten yrkesaktivitet
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjeneste.java
Labels: domene/kalkulator

Mapping fra regel mapper alle perioder og ikkje berre regelperioder (#3555)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlag.java
Labels: domene/kalkulator

Sender kun opp andeler som fantes på tidspunktet beregningsgrunnlaget hadde tilstand for fakta om beregning i kun ytelse dto (#3558)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/KunYtelseDtoTjeneste.java
Labels: domene/kalkulator

Nye permisjonstyper for 2023 (#3561)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/permisjon/PermisjonPerYrkesaktivitet.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelFellesTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/UtledPermisjonTilDtoTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14Test.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PermisjonsbeskrivelseType.java
Labels: domene/kontrakt, domene/kalkulator

Ved kopiering av ikke-forlenget del kopieres også eventuelt nye periodeårsaker (#3560)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

Temurin (#3557)
  Dockerfile
Labels: none

Flytter abac-k9 til namespace k9saksbehandling i Q. (#3571)
  .deploy/dev-fss.yml
Labels: none

lagt til formidling som inbound for å støtte azure ad (#3573)
  .deploy/dev-fss.yml
Labels: none

Flytter abac-k9 til namespace k9saksbehandling i prod. (#3576)
  .deploy/prod-fss.yml
Labels: none

Bump regel (#3577)
  pom.xml
Labels: pom

Bumper regel (#3580)
  pom.xml
Labels: pom

Rydder vekk unødvendige fraKode kall og legger på mer validering på f… (#3582)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/kobling/KoblingEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIAndel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/mapping/OppdatererDtoMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilEntitetMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBeregningsgrunnlagFRISINN.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeldrepengerGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/FrisinnGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/ForeldrepengerGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/AndelerForFaktaOmBeregningTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BeregningsgrunnlagPrStatusOgAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/EgenNæringMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/KunYtelseDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderMottarYtelseDtoTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/AktivitetTomDatoMappingDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/AvklarAktiviteterDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningAktivitetDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/FaktaOmBeregningAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/FaktaOmBeregningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/FordelBeregningsgrunnlagAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/FordelBeregningsgrunnlagArbeidsforholdDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/FordelBeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/FordelBeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/PermisjonDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/RefusjonskravSomKommerForSentDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/Saksopplysninger.java
Labels: domene/kontrakt, domene/kalkulator

Toggler av kopiering ved forlengelse
  .deploy/prod-fss.yml
Labels: none

Fjerner toggles, sender nøyaktig sg type til frontend (#3591)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapArbeidsforholdFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningAktiviteterFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapAktivitetStatusVedSkjæringstidspunktFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBGStatuserFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningAktiviteterFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelFellesTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  pom.xml
Labels: domene/kalkulator, pom

Bumper postgresql (#3594)
  pom.xml
Labels: pom

Tabeller tilkommet aktivitet (#3590)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPeriode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/TilkommetInntekt.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  domenetjenester/src/main/resources/META-INF/pu-default.beregningsgrunnlag.orm.xml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/TilkommetInntektDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_60__tilkommet_inntekt.sql
Labels: domene/kalkulator, migreringer

Utlede aksjonspunkt tilkommet (#3589)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/UtbetalingsgradGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederFordelBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederNyttInntektsforhold.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/AvklaringsbehovUtlederFordelBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt, domene/kalkulator

Legge til arbeidsforholdReferanse for tilkommet inntekt (#3598)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/TilkommetInntekt.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/TilkommetInntektDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_61__arbeidsforholdId_tilkommet_inntekt.sql
Labels: domene/kalkulator, migreringer

Oppretter kolonne for erTilkommet vurdering (#3602)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/TilkommetInntekt.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/TilkommetInntektDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_62__er_tillkommet_vurdering_tilkommet_inntekt.sql
Labels: domene/kalkulator, migreringer

Endrer navn på felt (#3604)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/TilkommetInntekt.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/TilkommetInntektDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_63__navneendring_er_tilkommet.sql
Labels: domene/kalkulator, migreringer

Kontrakt for tilkomne inntektsforhold (#3606)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/FordelingDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/InntektsforholdDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/VurderInntektsforholdPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/VurderNyttInntektsforholdDto.java
Labels: domene/kontrakt

Håndter aksjonspunkt tilkommet inntekt (#3600)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapHåndteringskodeTilTilstand.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIPeriode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/UtledEndringINyeInntektsforhold.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/VurderTilkommetInntektHåndterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederNyttInntektsforhold.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/HåndteringKode.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/NyttInntektsforholdDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/VurderTilkommetInntektHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/VurderTilkomneInntektsforholdPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/BeregningsgrunnlagPeriodeEndring.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/NyttInntektsforholdEndring.java
Labels: domene/kontrakt, domene/kalkulator

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
