Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

FIX: Fast versjon V5 av labeler (#4408)
  .github/workflows/labeler.yml
Labels: none

Toggle av automatisk beregning fra ytelsevedtak i prod (#4401)
  .deploy/prod-fss.yml
Labels: none

FIX: Mer logg av saksbehandlers input i refusjonsoppdaterer (#4402)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/dto/VurderRefusjonAndelBeregningsgrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/refusjon/PeriodiserOgFastsettRefusjonTjeneste.java
Labels: domene/kalkulator

FAGSYSTEM-307042 Bruker overstyringsaggregat til å finne ut om aktivitet er fjernet (#4412)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/ErFjernetIOverstyrt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/FinnYrkesaktiviteterForBeregningTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/ErFjernetIOverstyrtTest.java
Labels: domene/kalkulator

Returnerer nullref dersom lik null (#4414)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/ErFjernetIOverstyrt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningAktivitetOverstyringDto.java
Labels: domene/kalkulator

Oppsett for Java21 stopp dobbelpublisering (#4359)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  .devcontainer/Dockerfile
  .java-version
  CODEOWNERS
  Dockerfile
  README.md
  domenetjenester/pom.xml
  kalkulator/pom.xml
  kodeverk/pom.xml
  kontrakt/pom.xml
  pom.xml
  web/pom.xml
Labels: pom

aktiver azure cc (#4404)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  pom.xml
  web/pom.xml
Labels: pom

Tillater tom liste med aktiviteter for å støtte forlengelser som ikke lenger har aktiviteter, men kopierer bg fra forrige behandling. (#4438)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapTilGUIInputFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/LagVurderRefusjonDtoTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BeregningsgrunnlagPrStatusOgAndelDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspengerTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/KunYtelseDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonEllerGraderingArbeidsforholdDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderBesteberegningTilfelleDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderLønnsendringDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderMottarYtelseDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderRefusjonTilfelleDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/YtelsespesifiktGrunnlagTjenesteOMPTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/opptjening/v1/OpptjeningAktiviteterDto.java
Labels: domene/kontrakt, domene/kalkulator

Inputvalidator pr steg (#4442)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/validering/FastsettSkjæringstidspunktInputValidator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/validering/KalkulatorInputStegValidator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
Labels: none

Revert "chore(deps): bump org.glassfish.jersey:jersey-bom from 3.0.8 to 3.1.5 (#4440)"
  domenetjenester/pom.xml
  web/pom.xml
Labels: pom

Åpner opp endepunkt for driftstilgang og logger til diagnostikklogg
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/MidlertidigForvaltningRestTjeneste.java
Labels: none

Sjekker om kall med systembruker før skriving til diagnostikklogg
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/MidlertidigForvaltningRestTjeneste.java
Labels: none

Legger til arbeidsgiver og arbeidsforholdRef i diffsjekk ved kopiering (#4455)
  domenetjenester/pom.xml
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/BeregningsgrunnlagDiffSjekkerTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BGAndelArbeidsforholdDto.java
Labels: domene/kalkulator, pom

Legger inn database-env (#4461)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
Labels: none

FIX: Rydder i grunnbeløp klasser, så vi slutter å bruke regelmodell sin representasjon i kalkulatorpakken (#4463)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/KontrollerBeregningsinputTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/FaktaOmBeregningInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/FastsettBeregningsaktiviteterInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeslåBeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeslåBesteberegningInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/FortsettForeslåBeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/GrunnbeløpMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ForeslåSkjæringstidspunktTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
Labels: domene/kalkulator

Legge til k9-felles i repositories
  .github/.m2/settings.xml
Labels: none

Fix codeql (#4468)
  .github/.m2/settings.xml
  .github/workflows/codeql.yml
Labels: none

Går over til å bruke ny database i dev
  .deploy/dev-fss.yml
Labels: none

Legger til ny index (#4476)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_74__aktiv_index_grunnlagskopi.sql
Labels: migreringer

Kodeverk som string - begynn med serialisering (#3824)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/TempAvledeKode.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/JsonMapper.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulusKodeverdiSerializer.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/jackson/JacksonJsonConfig.java
Labels: domene/kontrakt, web

Revert "Kodeverk som string - begynn med serialisering (#3824)" (#4494)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/TempAvledeKode.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/JsonMapper.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulusKodeverdiSerializer.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/jackson/JacksonJsonConfig.java
Labels: domene/kontrakt, web

FIX: Rydder vekk grunnbeløpMilitærHarKravPå fra ytelsegrunnlag da den… (#4497)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeldrepengerGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/OmsorgspengeGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/OpplæringspengerGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/PleiepengerNærståendeGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/PleiepengerSyktBarnGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/SvangerskapspengerGrunnlagMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulatorTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeldrepengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OmsorgspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OpplæringspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerNærståendeGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerSyktBarnGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/StandardGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/SvangerskapspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/YtelsespesifiktGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FrisinnGrunnlag.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsgrunnlagInputTestUtil.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
Labels: domene/kalkulator

Legger inn logging av koblingid ved henting av gui-dto
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
Labels: none

Bedre logging
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/LønnsendringSaksopplysningTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/FaktaArbeidsforholdDto.java
Labels: domene/kalkulator

FIX: Endrer dekningsgrad til enum, fjerner dekningsgrad fra ytelsegru… (#4503)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeldrepengerGrunnlagMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjenesteTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/util/Dekningsgradtjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeldrepengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OmsorgspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OpplæringspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerNærståendeGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerSyktBarnGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/SvangerskapspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/YtelsespesifiktGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FrisinnGrunnlag.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsgrunnlagInputTestUtil.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoUtilTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BeregningsgrunnlagPrStatusOgAndelDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/KunYtelseDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonEllerGraderingArbeidsforholdDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepengerTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/AvklaringsbehovUtlederFordelBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/AvklaringsbehovUtlederForeslåBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/AvklaringsbehovUtlederFaktaOmBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/ytelse/fp/VurderBesteberegningTilfelleUtlederTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Dekningsgrad.java
Labels: domene/kontrakt, domene/kalkulator

Går over til å bruke k9-kalkulus i prod (#4509)
  .deploy/prod-fss.yml
Labels: none

Bruk BeregningSteg isf gammeldags kodeverk (#4512)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjenesteTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Kodeverk.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/StegType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/BeregnListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierBeregningListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierOgResettBeregningListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/ResettBeregningRequest.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: domene/kontrakt

Reduser logging av kodeverk, ta med lokasjon (#4516)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/TempAvledeKode.java
  pom.xml
Labels: domene/kontrakt, pom

Feature/tfp 5655 (#4471)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklarAktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/svp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterOMP.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/skjæringstidspunkt/AvklarAktiviteterTjenesteImplTest.java
Labels: domene/kalkulator

FIX: Sletter migreringstjeneste (#4507)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovKontrollTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/AksjonspunktMigreringTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/MigrerAksjonspunktRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/migrerAksjonspunkt/MigrerAksjonspunktListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/migrerAksjonspunkt/MigrerAksjonspunktRequest.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kontrakt, web

FIX: Fjerner unødvendige fraKode kall (#4508)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektspostDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YrkesaktivitetDtoBuilder.java
Labels: domene/kalkulator

Bedre logging av feil
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/util/FinnArbeidsperiode.java
Labels: domene/kalkulator

Fjerne temaUnderkategori, expand omlegging til inntektYtelseType (#4518)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulatorTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/frist/KravTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektFilterDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektspostDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektspostDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/DirekteOvergangTjenesteTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/FagsakYtelseType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/InntektYtelseType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/NæringsinntektType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/OffentligYtelseType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PensjonTrygdType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/TemaUnderkategori.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/YtelseTyperKalkulusStøtterKontrakt.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/inntekt/v1/UtbetalingsPostDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/ytelse/v1/YtelseDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/KodeverdiEndring.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: domene/kontrakt, domene/kalkulator

håndtere "k9-sak" som bruker tilsvarende srvk9sak (#4524)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/MidlertidigForvaltningRestTjeneste.java
Labels: none

Tillater refusjon ut over ansettelsesperiode og i perioder med over 14 dager permisjon som overlapper stp (#4538)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenestePSBTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteSVPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelGraderingUtbgradTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgradTest.java
Labels: domene/kalkulator

Tar hensyn til om brutto-bg skal utbetales i revurderinger (#4540)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/VurderRefusjonDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AndelerMedØktRefusjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AvklaringsbehovutlederRefusjonEtterSluttdato.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AvklaringsbehovutlederVurderRefusjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/BeregningRefusjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/RefusjonTidslinjeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AvklaringsbehovutledertjenesteVurderRefusjonFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AvklaringsbehovutledertjenesteVurderRefusjonSVP.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AvklaringsbehovutlederRefusjonEtterSluttdatoTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/BeregningRefusjonTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/RefusjonTidslinjeTjenesteTest.java
Labels: domene/kalkulator

Sanere utbetaltytelsetype (#4534)
  dokumentasjon/api.md
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/BeregningsgrunnlagFeil.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/JsonMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektspostDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektspostDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlag.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/InntektYtelseType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/NæringsinntektType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/OffentligYtelseType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PensjonTrygdType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/YtelseType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/inntekt/v1/UtbetalingsPostDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Kodeverk.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/UtbetaltNæringsYtelseType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/UtbetaltPensjonTrygdType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/UtbetaltYtelseFraOffentligeType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/UtbetaltYtelseType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/InntektskategoriEndring.java
Labels: domene/kontrakt, domene/kalkulator

Toggler endring vedrørende refusjon utenfor ansattperiode PSB (#4541)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelPleiepenger.java
Labels: domene/kalkulator

Fjerner dobbel kode i uttakarbeid kodeverk (#4537)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/FinnInntektstak.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapperFRISINN.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapperFRISINNTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapUttakArbeidTypeTilAktivitetStatusV2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/gradering/MapAndelGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/OmsorgspengerGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/NyAktivitetMedSøktYtelseFordeling.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/svp/AktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagFRISINNTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMatcher.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FinnTidslinjeForErNyAktivitet.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForUtbetalingsgradFraVLTilRegel.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspengerTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/NyAktivitetMedSøktYtelseFordelingTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/YtelsespesifiktGrunnlagTjenesteOMPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenestePSBTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteSVPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/PeriodiserForAktivitetsgradTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/UtvidetInntektsperiodeUtlederTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForGraderingFraVLTilRegelOgUtbetalingsgradTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgradTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/UttakArbeidType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Kodeverk.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/UttakArbeidType.java
Labels: domene/kontrakt, domene/kalkulator

Gir også refusjon for ikke-yrkesaktiv (#4543)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
Labels: domene/kalkulator

.github/labeler.yml:

domene/kontrakt:
  - changed-files:
      - any-glob-to-any-file: ['kontrakt/src/main/java/**/*', 'kodeverk/src/main/java/**/*']

domene/kalkulator:
  - changed-files:
      - any-glob-to-any-file: ['felles/src/main/java/**/*', 'kalkulator/src/main/java/**/*']

migreringer:
  - changed-files:
      - any-glob-to-any-file: ['migreringer/src/main/**/*']

web:
  - changed-files:
      - any-glob-to-any-file: ['web/src/main/java/**/*']

pom:
  - changed-files:
      - any-glob-to-any-file: ['**/*/pom.xml', 'pom.xml']
