Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

TFP-5258 Rettet at skjæringstidspunktBeregning ble brukt for å å finne start dato etter permisjon når refusjonsperioder opprettes. (#3411)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForGraderingFraVLTilRegelOgUtbetalingsgradTest.java
Labels: domene/kalkulator

Ruller tilbake til tilstand før steg og ikkje samme tilstand som steg (#3408)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagTilstand.java
Labels: domene/kontrakt

Toggler splittet forelså (#3417)
  .deploy/dev-fss.yml
Labels: none

Fastsetter andeler basert på gradert grunnlag ved refusjon over 6G (#3420)
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
  pom.xml
Labels: pom

Legger til journalpostId i oppgitt opptjening (#3425)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/opptjening/v1/OppgittOpptjeningDto.java
Labels: domene/kontrakt

Prodsette nytt forslå-steg
  .deploy/prod-fss.yml
Labels: none

Endre beregningsteg for avklaringsbehov for næring
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

Fikser feil ved tilbakerulling (#3429)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapHåndteringskodeTilTilstand.java
  web/app-vtp.properties
Labels: none

Nytt navn til interne representasjoner av fortsett foreslå beregnings… (#3415)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapStegTilTilstand.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapTilstandTilSteg.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegInputMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/FortsettForeslåBeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/KalkulatorInterface.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/FortsettForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/SnMsForeslåttSjekk.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FortsettForeslåBeregningsgrunnlagFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/SnMsForeslåttSjekkTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningSteg.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/StegType.java
Labels: domene/kontrakt, domene/kalkulator

Fkser mergekonflikt (#3431)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

Fordeler ingenting fra aktiviteter uten utbetaling (#3433)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
Labels: domene/kalkulator

Åpner for omfordeling fra andel dersom ikke ansatt lenger (#3439)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/util/FinnArbeidsperiode.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
Labels: domene/kalkulator

FIX: Fjerner toggle (#3443)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapHåndteringskodeTilTilstand.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeslåSplittToggle.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/FortsettForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FortsettForeslåBeregningsgrunnlagFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsgrunnlagInputTestUtil.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagSNTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/FortsettForeslåBeregningsgrunnlagTest.java
  web/app-vtp.properties
Labels: domene/kalkulator

legger til støtte for remote debug (#3445)
  .scripts/08-remote-debug.sh
  Dockerfile
Labels: none

Bruker READER_TOKEN for dependabot til autentisering
  .github/dependabot.yml
Labels: none

FIX: Fikser sjekk på om SN / MS er beregnet (#3456)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/SnMsForeslåttSjekk.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/SnMsForeslåttSjekkTest.java
Labels: domene/kalkulator

FIX: Videre renaming til fortsett foreslå (#3458)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegInputMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/KalkulatorInterface.java
Labels: domene/kalkulator

Fallback for manglende verdi i feltet avkortetFørGradering (#3463)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/FinnInntektstak.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
Labels: none

Revert "Fallback for manglende verdi i feltet avkortetFørGradering (#3463)" (#3466)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/FinnInntektstak.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
Labels: none

FIX: Ny datatype til sg pr status (#3468)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_59__ny_datatype_avvik.sql
Labels: migreringer

Revert "Revert "Fallback for manglende verdi i feltet avkortetFørGradering (#3463)" (#3466)"
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/FinnInntektstak.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
Labels: none

Feature/tfp 5173 (#3470)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/SammenligningsgrunnlagPrStatus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/BeregningsgrunnlagDiffSjekkerTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagGenerell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/SammenligningsgrunnlagPrStatusDto.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/RegelMapperTestDataHelper.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BeregningsgrunnlagPrStatusOgAndelDtoTjenesteTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/SammenligningsgrunnlagType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagDto.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

Bumper regelmodell etter opprydning (#3474)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlag.java
  pom.xml
Labels: domene/kalkulator, pom

Bump regel (#3477)
  pom.xml
Labels: pom

Midlertidig inaktiv avviksvurdering (#3480)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapHåndteringskodeTilTilstand.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/FastsettBruttoBgSNHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBruttoBeregningsgrunnlagSNHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/UtledVarigEndringEllerNyoppstartetSNVurderinger.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/UtledVarigEndringEllerNyoppstartetVurderinger.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/VurderVarigEndretArbeidssituasjonHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/mapping/OppdatererDtoMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBGStatuserFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnAnsettelsesPeriode.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FastsettBruttoBeregningsgrunnlagSNHåndterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderVarigEndretEllerNyoppstartetHåndterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/dto/FastsettBruttoBeregningsgrunnlagSNDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/dto/VurderVarigEndringEllerNyoppstartetSNDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BeregningsgrunnlagPrStatusOgAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagGenerell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/LagTilpassetDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/AvklaringsbehovUtlederForeslåBeregning.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FastsettBruttoBeregningsgrunnlagSNHåndtererTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/HåndteringKode.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/SammenligningsgrunnlagType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/HåndterBeregningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndretArbeidssituasjonHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndringEllerNyoppstartetDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndringEllerNyoppstartetSNHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/Endringer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/VarigEndretArbeidssituasjonEndring.java
  pom.xml
  web/app-vtp.properties
Labels: domene/kontrakt, domene/kalkulator, pom

Nullsjekk på arbeidsgiver og brutto beregningsgrunnlag (#3483)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlagSNHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndretArbeidssituasjonHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndringEllerNyoppstartetSNHåndteringDto.java
Labels: domene/kontrakt, domene/kalkulator

Toggler sammenligning pr status verdi som sendes til frontend (#3485)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  web/app-vtp.properties
Labels: domene/kalkulator

Flipper lokal toggles
  web/app-vtp.properties
Labels: none

Åpner for fordeling dersom full permisjon (#3488)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/util/FinnArbeidsperiode.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
Labels: domene/kalkulator

Endre dependabot token
  .github/dependabot.yml
Labels: none

Legge til snyk.yaml
  .github/workflows/snyk.yaml
Labels: none

Fikse postgres-passord i snyk workflow
  .github/workflows/snyk.yaml
Labels: none

Fikse snyk-settings
  .github/workflows/snyk.yaml
Labels: none

Legger til verjson for maven-dependency-plugin
  pom.xml
Labels: pom

Upload snyk-settings for debug
  .github/workflows/snyk.yaml
Labels: none

Fikse yaml fil
  .github/workflows/snyk.yaml
Labels: none

Fikser pluginrepo i snyk-settings
  .github/workflows/snyk.yaml
Labels: none

Legger til manglende komma i yaml-fil
  .github/workflows/snyk.yaml
Labels: none

Hardkoder repo-navn
  .github/workflows/snyk.yaml
Labels: none

Fjerner file upload
  .github/workflows/snyk.yaml
Labels: none

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
