Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Reduserer ikkje tidslinje til startdato for tilkommet inntekt. Bruker aktivitetsgrad til å avgjøre om arbeidsforhold har fullt fravær. Lager egne implementasjoner av grenseverdi-kjøring (#4239)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/TilkommetAktivitetRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerTilkomneAktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/omp/FullføreBeregningsgrunnlagOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/psb/FullføreBeregningsgrunnlagPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/svp/FullføreBeregningsgrunnlagSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/utbgrad/FullføreBeregningsgrunnlagUtbgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FullføreBeregningsgrunnlagFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
Labels: domene/kalkulator

FAGSYSTEM-294702: Bruker ikke desimaler som maks beløp saksbehandler kan sette, da gui ikke aksepterer desimaler (#4246)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/LagVurderRefusjonDto.java
Labels: domene/kalkulator

Toggler av inntektgradering
  .deploy/dev-fss.yml
Labels: none

Legger på logging
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
Labels: none

Update codeql.yml
  .github/workflows/codeql.yml
Labels: none

Delete .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Labels: none

Create codeql.yml
  .github/workflows/codeql.yml
Labels: none

Update codeql.yml
  .github/workflows/codeql.yml
Labels: none

Update dev-fss.yml
  .deploy/dev-fss.yml
Labels: none

Kjører periodesplitt for aktivitetsgrad som egen regelkjøring med egen type (#4242)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForAktivitetsgradFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForUtbetalingsgradFraVLTilRegel.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForGraderingFraVLTilRegelOgUtbetalingsgradTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagRegelType.java
Labels: domene/kontrakt, domene/kalkulator

Revert "Kjører periodesplitt for aktivitetsgrad som egen regelkjøring med egen type (#4242)"
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForAktivitetsgradFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForUtbetalingsgradFraVLTilRegel.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForGraderingFraVLTilRegelOgUtbetalingsgradTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagRegelType.java
Labels: domene/kontrakt, domene/kalkulator

TSF-3601: Legger ikke til andeler på grunnlaget hvis de er tilkommet … (#4241)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/PleiepengerNærståendeGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/PleiepengerSyktBarnGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapUttakArbeidTypeTilAktivitetStatusV2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerTilkomneAktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerNærståendeGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerSyktBarnGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/UtbetalingsgradGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForUtbetalingsgradFraVLTilRegel.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenestePSBTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForGraderingFraVLTilRegelOgUtbetalingsgradTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/PleiepengerNærståendeGrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/PleiepengerSyktBarnGrunnlag.java
Labels: domene/kontrakt, domene/kalkulator

splitter beregningrunnlag ved endring i aktivitetsgrad (#4260)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/SvangerskapspengerGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/SplittPeriodeConfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/StandardPeriodeSplittCombinators.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/SvangerskapspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/PeriodiserForAktivitetsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/FordelBeregningsgrunnlagTjenesteUtbGrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/VurderRefusjonBeregningsgrunnlagPleiepenger.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/PeriodiserForAktivitetsgradTjenesteTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/SvangerskapspengerGrunnlag.java
Labels: domene/kontrakt, domene/kalkulator

Bruker filtrert tidslinje
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
Labels: domene/kalkulator

Bumper regler og tar inn dato fra uttak (#4263)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/PleiepengerGrunnlagMapperFastsett.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/psb/FullføreBeregningsgrunnlagPleiepenger.java
  pom.xml
Labels: domene/kalkulator, pom

Fjerner unødvendig bruk av toggle (#4265)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/psb/FullføreBeregningsgrunnlagPleiepenger.java
Labels: domene/kalkulator

Utvider tilkommet inntekt request med kalkulatorinput (#4268)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/TilkommetAktivitetRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/tilkommetAktivitet/UtledTilkommetAktivitetForRequest.java
Labels: domene/kontrakt

Fjerner gammel sjekk som ikke lenger trengs (#4271)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/FortsettForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/SnMsForeslåttSjekk.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/SnMsForeslåttSjekkTest.java
Labels: domene/kalkulator

Update codeql.yml (#4273)
  .github/workflows/codeql.yml
Labels: none

Skipper databaseinitialisering ved skipTests (#4275)
  migreringer/pom.xml
Labels: pom

Arbeidsforhold som er i permisjon dagen før stp blir ikke regnet som fjernet av saksbehandler (#4277)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/ErFjernetIOverstyrt.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/ErFjernetIOverstyrtTest.java
Labels: domene/kalkulator

Tilgjengeliggjør reduksjonsfaktor §8-47a (#4284)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPeriode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/fastsett/MapFastsattBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPeriodeDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_72__felter_for_reduksjonsfaktor.sql
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, migreringer, pom

Logge splitting pga aktivitetsgrad i dev for feilsøk (#4289)
  kalkulator/pom.xml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/PeriodiserForAktivitetsgradTjeneste.java
Labels: domene/kalkulator, pom

Fiks på periodisering av tilkommet aktivitet (#4293)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/PeriodiserForAktivitetsgradTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/PeriodiserForAktivitetsgradTjenesteTest.java
Labels: domene/kalkulator

Fjerne logging brukt for feilsøk (#4295)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/PeriodiserForAktivitetsgradTjeneste.java
Labels: domene/kalkulator

Bruker ulik metode for beregningsperiode på svp og fp (#4301)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14.java
Labels: domene/kalkulator

FAGSTSTEM-292748 Nye arbeidsforhold får fastsette delvis refusjon ved… (#4306)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/refusjon/PeriodiserOgFastsettRefusjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/LagVurderRefusjonDto.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/LagVurderRefusjonDtoTest.java
Labels: domene/kalkulator

Resttjeneste for uttrekk av feil i fastsett/fordeling grunnet feil ut… (#4311)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/MidlertidigForvaltningRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/forvaltning/OppdaterYtelsesspesifiktGrunnlagForRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/forvaltning/OppdaterYtelsesspesifiktGrunnlagListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/forvaltning/AndelDifferanse.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/forvaltning/EndretPeriodeListeRespons.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/forvaltning/EndretPeriodeRespons.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/forvaltning/PeriodeDifferanse.java
  pom.xml
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/jackson/RestImplementationClasses.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kontrakt, web, pom

FAGSYSTEM-301466 Tar ut saker med samme ytelsetype kant-i-kant til ma… (#4320)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/DirekteOvergangTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/KunYtelseTilfelleUtleder.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/DirekteOvergangTjenesteTest.java
Labels: domene/kalkulator

Setter aktivitetstatus for ATFL samme org dto (#4323)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
Labels: domene/kalkulator

Fikser toggling av tilkommet inntekt slik at vi ikkje kjører denne logikken ved toggle av (#4326)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForUtbetalingsgradFraVLTilRegel.java
Labels: domene/kalkulator

Resttjeneste for å hente alle referanser med aktive grunnlag (#4332)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/AktiveReferanser.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/EksternReferanseDto.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: domene/kontrakt, web

Legger til koblngId som loggparameter (#4337)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
Labels: none

FIX: Gjør ikke sammenligning hvis refkrav er null (#4344)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/refusjon/PeriodiserOgFastsettRefusjonTjeneste.java
Labels: domene/kalkulator

GA: Kjører fast med java 17 (default blir 21) (#4347)
  .github/workflows/codeql.yml
Labels: none

Skrur av toggle i dev (#4353)
  .deploy/dev-fss.yml
Labels: none

FAGSYSTEM-302180 Filtrerer bort andeler uten refusjon (#4346)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/refusjon/PeriodiserOgFastsettRefusjonTjeneste.java
Labels: domene/kalkulator

Legg til smallrye
  pom.xml
Labels: pom

Bruk Java 21 til bygging, kutt dev-jakarta (#4360)
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/release-kontrakt.yml
  pom.xml
Labels: pom

Fast rekkefølge faktaberegningtilfelle for verdikjedetest (#4366)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningDtoTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/TempAvledeKode.java
Labels: domene/kontrakt, domene/kalkulator
