Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Endret artifactId for kodeverk,kontrakt,kalkulator (lagt til kalkulus- prefiks). Publiserer jakarta versjon av kontrakt+kalkulator (#2588)
  .github/workflows/build-pr.yml
  .github/workflows/release-kontrakt.yml
  domenetjenester/pom.xml
  kalkulator/pom.xml
  kodeverk/pom.xml
  kontrakt/pom.xml
  pom.xml
  web/pom.xml
Labels: pom

oppdaterer til dev-jakata-transform 0.3.6
  pom.xml
Labels: pom

oppdaterer til dev-jakata-transform 0.3.7
  pom.xml
Labels: pom

Fikser feil i avkortetFørGradering (#2587)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/fastsett/MapFastsattBeregningsgrunnlagFraRegelTilVL.java
Labels: domene/kalkulator

Update postAttachCommand.sh
  .devcontainer/postAttachCommand.sh
Labels: none

Update postAttachCommand.sh
  .devcontainer/postAttachCommand.sh
Labels: none

Returnerer endring for refusjon (#2596)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/UtledEndringIRefusjonsperiode.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/UtledEndringIRefusjonsperiodeTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/RefusjonoverstyringPeriodeEndring.java
Labels: domene/kontrakt

Fikser også dagsats for arbeidsgiver (#2600)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
Labels: none

Oppdaterer dev-jakarta-transform
  pom.xml
Labels: pom

Vurderer alle perioder til godkjent for PSB (#2598)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/frist/ArbeidsgiverRefusjonskravTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/frist/FristVurderer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/frist/InntektsmeldingMedRefusjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/frist/KravTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/frist/TreMånedersFristVurderer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderRefusjonTilfelleDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderRefusjonskravTilfelleUtleder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/fp/MapRefusjonPerioderFraVLTilRegelFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/AllePerioderGodkjentFristVurderer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/felles/frist/KravTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderRefusjonTilfelleDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteSVPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/AvklaringsbehovUtlederFaktaOmBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/InntektsmeldingMedRefusjonTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelGraderingUtbgradTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForGraderingFraVLTilRegelOgUtbetalingsgradTest.java
Labels: domene/kalkulator

No-args konstruktør
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
Labels: domene/kalkulator

Skrur på vurder-refusjon i produksjon (#2612)
  .deploy/prod-fss.yml
Labels: none

Fjerner toggle for avklaringsbehov (#2605)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndtererApplikasjonTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
  web/app-vtp.properties
Labels: none

Throw/Catch exception i staden for å sjekke kodeverdi ved feil input (#2617)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/GUIBeregningsgrunnlagInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/HentInputResponsKode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/Resultat.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/AksjonspunktMigreringTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/GrunnbeløpreguleringTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/KontrollerBeregningsinputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/UgyldigInputException.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjenesteTest.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/exceptions/GeneralRestExceptionMapper.java
Labels: web

Egne regelspor for periodesplitting grunnet gradering og utbetalingsgrad (#2619)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapPerioderForGraderingOgUtbetalingsgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/gradering/MapAndelGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/gradering/MapPerioderForGraderingFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/MapKunEksisterendeForFrisinn.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForUtbetalingsgradFraVLTilRegel.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapAndelGraderingTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForGraderingFraVLTilRegelOgUtbetalingsgradTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagRegelType.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

Legger til pluginrepository (#2621)
  .github/.m2/settings.xml
  pom.xml
Labels: pom

Fjerner validering på at PPN trenger utbetalingsgrader (#2624)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/PleiepengerNærståendeGrunnlag.java
Labels: domene/kontrakt

Bumper regelmodell (#2626)
  pom.xml
Labels: pom

Bumper minne når den går oom ..
  .deploy/prod-fss.yml
Labels: none

Endrer deaktivering av regelsporing til å gjøre det med sql (#2632)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagTilstand.java
Labels: domene/kontrakt

Revert bump av minne
  .deploy/prod-fss.yml
Labels: none

Endrer til @Lob og Clob for regel evaluering og input da disse er text ikke jsonb (#2639)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/PayloadUtil.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingGrunnlagEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingPeriodeEntitet.java
Labels: none

Deaktiverer input med sql og deaktiverer direkte ved ny lagring istendefor å diffe
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
Labels: none

Lagrer ned vurdering av automatisk lønnsendring og sender opp til gui (#2642)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/KortvarigArbeidsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/SaksopplysningerTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/FaktaAggregatDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaKortvarigArbeidsforhold.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaLønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaTjenesteOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaTjenestePleiepenger.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/ArbeidsforholdDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/ArbeidsforholdMedLønnsendring.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/Saksopplysninger.java
Labels: domene/kontrakt, domene/kalkulator

Legger til manglende indexer Fjerner duplisert kode
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_45__legger_til_manglende_indexer.sql
Labels: migreringer

Optimaliserende index
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_46__legger_til_manglende_indexer.sql
Labels: migreringer

Nullsjekk i filter (#2645)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/ArbeidMedLønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/KortvarigArbeidsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/FaktaAggregatDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/FaktaArbeidsforholdDto.java
Labels: domene/kalkulator

Legger til flere manglende indexer
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_47__legger_til_manglende_indexer.sql
Labels: migreringer

Legger til flere manglende indexer
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_47__legger_til_manglende_indexer.sql
Labels: migreringer

Revert "Endrer til @Lob og Clob for regel evaluering og input da disse er text ikke jsonb (#2639)"
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/PayloadUtil.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingGrunnlagEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingPeriodeEntitet.java
Labels: none

Reverter endring til clob
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingGrunnlagEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingPeriodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
Labels: none

FIX: Setter manuelt fordelt beløp om det er satt. Ellers automatisk beløp (#2648)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FordelBeregningsgrunnlagAndelDtoTjeneste.java
  pom.xml
Labels: domene/kalkulator, pom

Update release-kontrakt.yml
  .github/workflows/release-kontrakt.yml
Labels: none

Update release-kontrakt.yml
  .github/workflows/release-kontrakt.yml
Labels: none

Fjerner bruk av fakta om beregning grunnlag for visning (#2655)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/AndelerForFaktaOmBeregningTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
Labels: domene/kalkulator

dev-jakarta-transform 0.4.5
  pom.xml
Labels: pom

Slår sammen helg i utledning av endring i refusjon (#2651)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/LagVurderRefusjonDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/BeregningRefusjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/TimelineWeekendCompressor.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/modell/RefusjonAndel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/modell/RefusjonPeriodeEndring.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/BeregningRefusjonTjenesteTest.java
Labels: domene/kalkulator

TFP-4804: Når flere andeler matcher fordeles besteberegnet inntekt likt mellom de (#2659)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapBesteberegningFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapBesteberegningFraRegelTilVLTest.java
Labels: domene/kalkulator

FIX: Bruker sammenligningsperioden for å bestemme visning for inntekter i GUI istedenfor å anta stp minus 12 mnd (#2661)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapperTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/inntektsgrunnlag/InntektsgrunnlagInntektDto.java
Labels: domene/kontrakt, domene/kalkulator

oppgradert dev-jakarta-transform 0.6.0
  pom.xml
Labels: pom
