Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

sender inn både gradert refusjon og om søkt for FL eller SN (#1723)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/OmsorgspengerGrunnlagMapper.java
  pom.xml
Labels: domene/kalkulator, pom

Kall for å hente gui-dto støtter henting av ny input (#1720)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/GUIBeregningsgrunnlagInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/Resultat.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapTilGUIInputFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/behandling/KoblingReferanse.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagListe.java
Labels: domene/kontrakt, domene/kalkulator

TSF-1588 Tillater at utbetaling har tom liste med poster (Dette er mulig for SIGRUN-inntekt) (#1728)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/inntekt/v1/UtbetalingDto.java
Labels: domene/kontrakt

Skal ikkje besteberegne ved overstyring (#1722)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
Labels: domene/kalkulator

verifiserer enum ctor - fjerner warnings fra javax.validation (#1734)
  pom.xml
Labels: pom

dummy update - test baseimage fungerer ok
  pom.xml
Labels: pom

TSF-1589 Oppretter perioder ved tilkommet inntekt (#1733)
  .deploy/dev-fss-default.yaml
  .deploy/prod-fss-default.yaml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImpl.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenestePSB.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/aksjonpunkt/FordelTilkommetArbeidsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/AktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/OpprettPerioderOgAndelerForTilkommetInntekt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/SplittBGPerioder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/SplittBGPerioder.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/BeregningTjenesteProvider.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/BeregningTjenesteWrapper.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AndelKilde.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PeriodeÅrsak.java
Labels: domene/kontrakt, domene/kalkulator

dummy endring
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/BeregningsgrunnlagFeil.java
Labels: domene/kalkulator

FIX: Bumper regelmodell til å sjekke hvilket gsnitt som er nyest for bruk i besteberegning (#1740)
  pom.xml
Labels: pom

FIX: Trigge bygg (#1742)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/aksjonspunkt/refusjon/PeriodiserOgFastsettRefusjonTjeneste.java
Labels: domene/kalkulator

Update dev-fss-default.yaml
  .deploy/dev-fss-default.yaml
Labels: none

Update prod-fss-default.yaml
  .deploy/prod-fss-default.yaml
Labels: none

Update dev-fss-default.yaml
  .deploy/dev-fss-default.yaml
Labels: none

Update prod-fss-default.yaml
  .deploy/prod-fss-default.yaml
Labels: none

TFP-2044: Legger til togglet tjeneste for å lage inntektsgrunnlag som… (#1737)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapperTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/inntektsgrunnlag/InntektsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/inntektsgrunnlag/InntektsgrunnlagInntektDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/inntektsgrunnlag/InntektsgrunnlagMånedDto.java
Labels: domene/kontrakt, domene/kalkulator

FIX: Håndterer at arbeidsgiveropplysninger er tomt (#1749)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoUtil.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/LagVurderRefusjonDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/refusjon/RefusjonAndelTilVurderingDto.java
Labels: domene/kontrakt, domene/kalkulator

TSF-1610 Vurderer ikkje vilkår for refusjonskravfrist i kalkulus for … (#1751)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/OmsorgspengeGrunnlagMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/OmsorgspengeGrunnlagMapperTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/HarYrkesaktivitetInnsendtRefusjonForSent.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/LagArbeidsgiverForSentRefusjonskravMap.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeldrepengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OmsorgspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/DefaultKonfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/KonfigTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/Konfigverdier.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/OMPKonfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/SVPKonfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/KLASSER_MED_AVHENGIGHETER/refusjonskravgyldighet/HarYrkesaktivitetInnsendtRefusjonForSentTest.java
  pom.xml
Labels: domene/kalkulator, pom

Bumper regelmodell: sjekker ikkje innsendingstidspunkt for refusjon (#1754)
  pom.xml
Labels: pom

Mapper null til INGEN_GRADERING (#1759)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
Labels: none

TFP-4126: Tar hensyn til at dagpenger og arbeidsavklaringspenger kan stjele penger fra næring når vi vurderer om gradering i næring må vurderes (#1757)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/aksjonpunkt/FordelingGraderingTjeneste.java
Labels: domene/kalkulator

FIX: Liten fiks i feilmelding (#1762)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/VurderRefusjonBeregningsgrunnlag.java
Labels: domene/kalkulator

Feature/tsf 1612 (#1756)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapPeriodeÅrsakFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapPeriodeÅrsakFraVlTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/OpprettPerioderOgAndelerForTilkommetInntekt.java
  pom.xml
Labels: domene/kalkulator, pom

Setter default verdi for PSB_TILKOMMET_INNTEKT til false.
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenestePSB.java
Labels: domene/kalkulator

TFP-2827: Logger saker der det er søkt refusjon etter sluttdato for a… (#1766)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AksjonspunktutlederRefusjonEtterSluttdato.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AksjonspunktutledertjenesteVurderRefusjonFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AksjonspunktutledertjenesteVurderRefusjonSVP.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AksjonspunktutlederRefusjonEtterSluttdatoTest.java
Labels: domene/kalkulator

Forenkler deploy action pipeline, publiserer kun til ghcr.io (#1769)
  .github/workflows/build.yml
  .github/workflows/dispatch.yml
  .github/workflows/promote-command.yml
  .github/workflows/promote.yml
Labels: none

Kaster ikkje feil når k9-sak kaller kalkulus med tom liste (#1731)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
Labels: none

TSF-1481 Beregning for midlertidig ute av inntektsgivende arbeid (#1772)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBGSkjæringstidspunktOgStatuserFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapAktivitetStatusVedSkjæringstidspunktFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapHjemmelFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/util/FinnArbeidsperiode.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/HarYrkesaktivitetInnsendtRefusjonForSent.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeldrepengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OmsorgspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerSyktBarnGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/StandardGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/SvangerskapspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/YtelsespesifiktGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/Konfigverdier.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettSkjæringstidspunktOgStatuser.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AksjonspunktUtlederFastsettBeregningsaktiviteterOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/aksjonpunkt/FordelTilkommetArbeidsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/FastsettInntektskategoriFraSøknadTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FrisinnGrunnlag.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningAktiviteterTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningsaktiviteterOMPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelTilkommetArbeidsforholdTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/VerdikjedeTestHjelper.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AktivitetStatus.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Hjemmel.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

Rename dev-fss-default.yaml to dev-fss-default.yml
  .deploy/dev-fss-default.yml
Labels: none

Rename prod-fss-default.yaml to prod-fss-default.yml
  .deploy/prod-fss-default.yml
Labels: none

Egen mapper for splitting av perioder grunnet naturalytelse (#1778)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelNaturalYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapSplittetPeriodeFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/naturalytelse/MapNaturalytelser.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/naturalytelse/MapNaturalytelserFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/periodisering/FastsettBeregningsgrunnlagPerioderTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/periodisering/FastsettBeregningsgrunnlagPerioderTjenesteImplTest.java
Labels: domene/kalkulator

Tillater rare referanser fra k9-sak (brukes kun til visning) (#1780)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/felles/v1/EksternArbeidsforholdRef.java
Labels: domene/kontrakt

TFP-521: Fastsetter inntektskategori sjømann hvis søker har inntekt i… (#1771)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/FastsettInntektskategoriTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/FastsettInntektskategoriTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/VerdikjedeTestHjelper.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/SkatteOgAvgiftsregelType.java
Labels: domene/kontrakt, domene/kalkulator

Tsf 1622 (#1774)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderMottarYtelseTilfelleUtlederK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderMottarYtelseTilfelleUtlederK9.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/TilfelleUtlederMockTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/inntekt/v1/UtbetalingDto.java
Labels: domene/kontrakt, domene/kalkulator

FIX: Mapper ytelser til inntektsgrunnlag for visning i GUI (#1784)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapper.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapperTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/InntektAktivitetType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/inntektsgrunnlag/InntektsgrunnlagInntektDto.java
Labels: domene/kontrakt, domene/kalkulator

Kjører periodesplitting for refusjon i eigen regelkjøring (#1786)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnRefusjonendringFraGyldigePerioder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnStartdatoPermisjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/InntektsmeldingForAndel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YrkesaktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/VurderRefusjonBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/fp/MapRefusjonPerioderFraVLTilRegelFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnRefusjonendringFraGyldigePerioderTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnStartdatoPermisjonTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteSVPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/BeregningTjenesteProvider.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgradTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagRegelType.java
Labels: domene/kontrakt, domene/kalkulator

Tsf 1625 (#1814)
  database/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BGAndelArbeidsforhold.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_29__TFP-TSF-1625_fjerne_duplikat_rader_for_fakta.sql
Labels: migreringer

TFP-2827: Tar inn siste uttaksdato for å se om vi skal vurdere refusj… (#1788)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulatorTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeldrepengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AksjonspunktutlederRefusjonEtterSluttdato.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AksjonspunktutledertjenesteVurderRefusjonFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AksjonspunktutledertjenesteVurderRefusjonSVP.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AksjonspunktutlederRefusjonEtterSluttdatoTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/ForeldrepengerGrunnlag.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: domene/kontrakt, domene/kalkulator

Utvider jsonmapper som ikke bruker feilfactory (#1825)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/JsonMapper.java
Labels: domene/kalkulator

TFP-4194: Bruker kun inntektsmeldinger som hører til yrkesaktivitet som er relevant for beregning (mer likt slik det var før refaktorering) (#1827)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
Labels: domene/kalkulator

Ingen refusjon for midlertidig inaktiv (#1816)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
Labels: domene/kalkulator

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
