Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Update .gitignore
  .gitignore
Labels: none

fix: label for github container registry
  Dockerfile
Labels: none

Refusjon blir kun satt i perioder med utbetaling (#1647)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/OmsorgspengerGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnRefusjonendringFraGyldigePerioder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnRefusjonendringFraGyldigePerioderTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FlereArbeidsforholdMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FlereArbeidsforholdTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FrilanserMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FrilanserTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/VerdikjedeTestHjelper.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgradTest.java
Labels: domene/kalkulator

chore: uploader docker image også til ghcr.io
  .github/workflows/build.yml
Labels: none

Øker robusthet til mapping av gyldige refusjonskravperioder (#1660)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/KLASSER_MED_AVHENGIGHETER/UtbetalingsgradGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnRefusjonendringFraGyldigePerioder.java
Labels: domene/kalkulator

Alle perioder fra skjæringstidspunktet er gyldige for refusjon for foreldrepenger. Tar ikkje hensyn til ansettelsesperiode (#1662)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingTest.java
Labels: domene/kalkulator

FIX: Populerer felt for ekstern arbeidsforholdref på arbeidsforholdDto (#1664)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoUtil.java
Labels: domene/kalkulator

Update README.md
  README.md
Labels: none

FIX: Fjerner TODO (#1667)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OpptjeningsaktiviteterPerYtelse.java
Labels: domene/kalkulator

Sorterer respons fra oppdatering (#1666)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/felles/v1/KalkulatorInputDto.java
Labels: domene/kontrakt

Create release-drafter.yml
  .github/release-drafter.yml
Labels: none

Update release-drafter.yml
  .github/release-drafter.yml
Labels: none

Create release-kontrakt.yml
  .github/workflows/release-kontrakt.yml
Labels: none

fix: bruk release drafter for kalkulator, kontrakt
  .github/workflows/build.yml
Labels: none

dummy endring
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/KLASSER_MED_AVHENGIGHETER/InntektsmeldingMedRefusjonTjeneste.java
Labels: domene/kalkulator

fix: sha1 version
  .github/workflows/build.yml
Labels: none

fix: trenger settings.xml likevel
  .github/workflows/build.yml
Labels: none

fix: trenger settings.xml likevel
  .github/workflows/release-kontrakt.yml
Labels: none

dummy endring kontrakt (#1670)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/KLASSER_MED_AVHENGIGHETER/InntektsmeldingMedRefusjonTjeneste.java
Labels: domene/kalkulator

fix: trenger postgres for å release kalkulator
  .github/workflows/release-kontrakt.yml
Labels: none

fix: username/pw deploy maven
  .github/workflows/release-kontrakt.yml
Labels: none

Fjerner avhengighet til mingringer og felles-db fra kalkulator (#1679)
  .github/workflows/release-kontrakt.yml
  kalkulator/pom.xml
Labels: pom

Tillater ikke at listen med utbetalingsgrader sendes med duplikate arbeidsforhold (#1677)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/OmsorgspengerGrunnlag.java
Labels: domene/kontrakt

Feature/tsf 1440 (#1646)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/LagAktivPeriodeForArbeidstakerFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelKap14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/frisinn/MapBeregningAktiviteterFraVLTilRegelFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/PermisjonDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/PermisjonDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YrkesaktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YrkesaktivitetDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/opptjening/OpptjeningAktiviteterDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningAktiviteter.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelKap14Test.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelOMPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/VerdikjedeTestHjelper.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/PermisjonDto.java
Labels: domene/kontrakt, domene/kalkulator

PSB og OMP deler implementasjon for mapping til beregningaktiviteter foreløpig (#1683)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14Test.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9Test.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/VerdikjedeTestHjelper.java
Labels: domene/kalkulator

FIX: Endrer visningstall for dagpenger / arbeidsavklaringspenger i fakta om beregning til å gjennspeile regelkjøringen (#1680)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektForVisning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/LagTilpassetDtoTjeneste.java
Labels: domene/kalkulator

Returnerer nullref i staden for null for arbeidsforholdId (#1689)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/frisinn/MapBeregningAktiviteterFraVLTilRegelFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/opptjening/OpptjeningAktiviteterDto.java
Labels: domene/kalkulator

Trigger deploy (#1690)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/opptjening/OpptjeningAktiviteterDto.java
Labels: domene/kalkulator

FIX: Ny versjon av beregningsregler med semver (#1688)
  pom.xml
Labels: pom

Feature/fix test vurder ref (#1685)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapHåndteringskodeTilTilstand.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/HåndteringKode.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/HåndterBeregningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/refusjon/VurderRefusjonBeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/FortsettBeregningListeRequest.java
Labels: domene/kontrakt

rydder avhengigheter - bytter til jakarta maven coords for validation api (#1696)
  database/pom.xml
  domenetjenester/pom.xml
  kontrakt/pom.xml
  pom.xml
  web/pom.xml
Labels: pom

Update pom.xml (#1698)
  pom.xml
Labels: pom

fix: exkluderer jboss jee avhengigheter
  web/pom.xml
Labels: pom

Skal ikke mappe arbeidsforhold med full permisjon hele perioden (#1694)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9Test.java
Labels: domene/kalkulator

oppdaterer felles 3.0.66
  pom.xml
Labels: pom

oppdaterer felles (inkl. cxf 3.4.2) (#1707)
  pom.xml
Labels: pom

Update pom.xml
  pom.xml
Labels: pom

Feature/tsf 1488 (#1706)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/OmsorgspengeGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/FinnYrkesaktiviteterForBeregningTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/KLASSER_MED_AVHENGIGHETER/refusjonskravgyldighet/HarYrkesaktivitetInnsendtRefusjonForSent.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/SisteAktivitetsdagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/ErFjernetIOverstyrt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnAnsettelsesPeriode.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapAndelGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/InntektsmeldingFilter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AksjonspunktUtlederFastsettBeregningsaktiviteterFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/aksjonpunkt/FordelTilkommetArbeidsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/psb/FastsettSkjæringstidspunktOgStatuserPSB.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/KoblingReferanseMock.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/ErFjernetIOverstyrtTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningAktiviteterPSBTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningsaktiviteterOMPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelTilkommetArbeidsforholdTjenesteTest.java
  pom.xml
Labels: domene/kalkulator, pom

TSF-1467 Fastsette inntekt for pleiepenger (#1710)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapPeriodisertBruttoBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/ForeldrepengerGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/FrisinnGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/OmsorgspengerGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/PleiepengerSyktBarnGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/behandling/BehandlingStatus.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/behandling/BehandlingType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/FastsettMånedsinntektUtenInntektsmeldingTilfelleUtleder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagSNTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/BeregningTjenesteProvider.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FlereArbeidsforholdMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FlereArbeidsforholdTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FrilanserMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FrilanserTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/KombinasjonArbtakerFrilanserSelvstendigTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/MilitærTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/SelvstendigNæringsdrivendeMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/SelvstendigNæringsdrivendeTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
  pom.xml
Labels: domene/kalkulator, pom

oppdaterer felles 3.0.76 (#1716)
  pom.xml
Labels: pom
