Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Filtrerer bort Foreldrepermisjon som overlapper med vilkårsperioden (#3134)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/permisjon/PermisjonFilter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/permisjon/PermisjonPerYrkesaktivitet.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9Test.java
Labels: domene/kalkulator

TSF-2677 Behandle 8-47 med permisjon (#3137)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBGStatuserFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/opptjening/OpptjeningAktiviteterDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ForeslåSkjæringstidspunktTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/opptjening/v1/OpptjeningAktiviteterDto.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

TFP-5049: Bruker kun permisjonsstartdato der alle arbeidsforhold for … (#3136)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnFørsteDagEtterPermisjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
Labels: domene/kalkulator

Fikser join (#3144)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnFørsteDagEtterPermisjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/fp/MapRefusjonPerioderFraVLTilRegelFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnFørsteDagEtterPermisjonTest.java
Labels: domene/kalkulator

FIX: Tar inn regler der utgått kode er slettet og eksisterende kode er flyttet på (#3146)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodellTest.java
  pom.xml
Labels: domene/kalkulator, pom

Tar ikkje hensyn til perioder med permisjon som ikkje overlapper skjæringstidspunktet (#3151)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnFørsteDagEtterPermisjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/fp/MapRefusjonPerioderFraVLTilRegelFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgradTest.java
Labels: domene/kalkulator

TSF-2717 Matcher inaktiv status fra uttak med arbeidsforhold og gir refusjon fra første dag etter permisjon for K9-ytelser (#3154)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/UtbetalingsgradGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/permisjon/PermisjonFilter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgradTest.java
Labels: domene/kalkulator

Reduserer inaktiv type A ved å skalere grenseverdi i staden for å bruke dekningsgrad (#3159)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeldrepengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OmsorgspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerNærståendeGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerSyktBarnGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/StandardGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/SvangerskapspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/YtelsespesifiktGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FrisinnGrunnlag.java
  pom.xml
Labels: domene/kalkulator, pom

Lager kalkulatorinput i jsonformat ved diagnostikk
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kobling/KoblingTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KalkulatorInputDump.java
Labels: none

Matcher ikke midlertidig-inaktiv med arbeidsaktivitet
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/UtbetalingsgradGrunnlag.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgradTest.java
Labels: domene/kalkulator

FIX: Hensyntar ikke permisjoner som starter på stp, de må starte før … (#3176)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnFørsteDagEtterPermisjon.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgradTest.java
Labels: domene/kalkulator

Legger inn validering og feilmelding med informasjon ved mismatch mellom uttak og beregning
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
Labels: domene/kalkulator

Sjekker også utbetalinger uten arbeidsgiver for inntektskategori arbeidstaker i logikk for mottar ytelse (#3188)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjeneste.java
Labels: domene/kalkulator

Fikser validering av synkronisert uttak
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
Labels: domene/kalkulator

Skal ikkje vente på meldekort for AAP for pleiepenger (#3200)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepengerTest.java
Labels: domene/kalkulator

TFP-5001: Fjerner bruk av Beregningsperiodetjeneste alle steder som h… (#3161)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLGraderingOgUtbetalingsgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLRefusjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/svp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/OpprettPerioderOgAndelerForTilkommetInntekt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/BeregneFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/BeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/inntektskategori/FastsettInntektskategoriTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/fp/FastsettBeregningsperiodeTjenesteFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/BeregningsperiodeTjenesteFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsperiodeTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/inntektskategori/FastsettInntektskategoriTjenesteTest.java
Labels: domene/kalkulator

Fix (#3203)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14.java
Labels: domene/kalkulator

Litt fikser (#3205)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/BeregningsperiodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsperiodeTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepengerTest.java
Labels: domene/kalkulator

Nullsjekk beregningsperiode (#3214)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
Labels: domene/kalkulator

Regelinputkomprimering for periode (#3241)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelInputKomprimering.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingPeriodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
  domenetjenester/src/main/resources/META-INF/pu-default.kobling.orm.xml
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_57__regel_input_komprimeringstabell.sql
Labels: migreringer

Resttjeneste for komprimering av regelsporinger (#3246)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingPeriodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/KomprimerJsonInputRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/regelinput/KomprimerRegelInputRequest.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kontrakt, web

Bugfiksing for komprimering (#3250)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/KomprimerJsonInputRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/regelinput/Saksnummer.java
Labels: domene/kontrakt

Legger på logging
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/KomprimerJsonInputRestTjeneste.java
Labels: none

Endrer til try-with-reasources for migrerings datasource for å sikre at den destroyes
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/db/DatasourceUtil.java
  web/src/test/java/no/nav/folketrygdloven/kalkulus/jetty/DevDbKonfigurasjon.java
  web/src/test/java/no/nav/folketrygdloven/kalkulus/jetty/JettyDevServer.java
Labels: web

Beregner DP fra andeler i prod (#3257)
  .deploy/prod-fss.yml
Labels: none

Tar hensyn til gradering ved automatisk fordeling (#3261)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodellTest.java
  pom.xml
  web/app-vtp.properties
Labels: domene/kalkulator, pom

Flippe toggle
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
Labels: domene/kalkulator

Gjør ikke-yrkesaktiv grunnlag tilgjengelig for fordeling (#3264)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
Labels: domene/kalkulator

Flipper defaultvalue
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
Labels: domene/kalkulator

Legger til manglende annotasjon
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/YtelsespesifiktGrunnlagDto.java
Labels: domene/kontrakt

Opplæringspenger bruker standardimplementasjon av fordeling#
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/PSBFordelBeregningsgrunnlagTjeneste.java
Labels: domene/kalkulator

Legger til støtte for å avbryte overstyring (#3272)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndtererApplikasjonTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/HåndterBeregningDto.java
Labels: domene/kontrakt

Bumper felles (#3276)
  domenetjenester/pom.xml
  domenetjenester/src/main/resources/META-INF/persistence.xml
  pom.xml
  web/pom.xml
Labels: pom

Gjør endringer på relasjoner pga endringer ved oppgradering til hibernate 6
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BGAndelArbeidsforhold.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningAktivitetEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningAktivitetOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonPeriodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagAktivitetStatus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagGrunnlagEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPeriode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPeriodeÅrsak.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaAktørEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaArbeidsforholdEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/Sammenligningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/SammenligningsgrunnlagPrStatus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
Labels: none

Legger til konstruktører for å avbryte overstyring (#3285)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/HåndterBeregningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/overstyring/OverstyrBeregningsaktiviteterDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/overstyring/OverstyrBeregningsgrunnlagHåndteringDto.java
Labels: domene/kontrakt

Trenger nå 2 connections
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
Labels: web

Revert "Gjør endringer på relasjoner pga endringer ved oppgradering til hibernate 6"
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BGAndelArbeidsforhold.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningAktivitetEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningAktivitetOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonOverstyringEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningRefusjonPeriodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagAktivitetStatus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagGrunnlagEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPeriode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPeriodeÅrsak.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaAktørEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaArbeidsforholdEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/Sammenligningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/SammenligningsgrunnlagPrStatus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
Labels: none

Fjerner bruk av resultstream Fjerner two-way binding fra objekt som ikke trenger det
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningAktivitetAggregatEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningAktivitetEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
Labels: none

Ruller tilbake kun dersom aktiv tilstand er etter og ikke lik
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagTilstand.java
Labels: domene/kontrakt

Fikser test
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
Labels: none
