Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

Fjerner årsinntektVisningstall fra gui-dto (#3754)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnÅrsinntektvisningstallTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagDto.java
Labels: domene/kontrakt, domene/kalkulator

Sjekker om periode som kan kopieres inkluderer bgPeriode sidan denne ikkje treng å matche eksakt (#3791)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
  web/app-vtp.properties
Labels: none

Sender forlengelsesperioder til gui (#3795)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagDto.java
Labels: domene/kontrakt, domene/kalkulator

FIX: Endre fo til tom
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
Labels: domene/kalkulator

Setter allow all users til true (#3798)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
Labels: none

Legger til avslutt-perioderåsaker (#3794)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderRepresentererStortingetTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/SplittBGPerioder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ForlengelsePeriodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderRepresentererStortingetTjenesteTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PeriodeÅrsak.java
Labels: domene/kontrakt, domene/kalkulator

Periodeårsak for avsluttet hendelse settes kun dersom perioden er til vurdering. Fikset bug der periodeårsak for siste periode alltid blei feilaktig kopiert (#3802)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/PerioderTilVurderingTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderRepresentererStortingetTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/SplittBGPerioder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ForlengelsePeriodeTjeneste.java
Labels: domene/kalkulator

Returnerer alle potensielle tilkomne inntektsforhold slik at saksbeha… (#3793)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
Labels: domene/kalkulator

Legger til inntekt fra inntektsmelding som eget felt og legger til periode for innektsaktivitet (#3807)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/InntektsforholdDto.java
Labels: domene/kontrakt, domene/kalkulator

Tar i bruk intern virkedagteller istedenfor regel sin (#3814)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/AnvistAndelMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/OmsorgspengeGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/OpplæringspengerGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/PleiepengerNærståendeGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/PleiepengerSyktBarnGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/MeldekortUtils.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/BeregneFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/tid/Virkedager.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/EffektivÅrsinntektTjenesteFRISINN.java
Labels: domene/kalkulator

Lager kolonner for lagring av inntektgraderingsprosent (#3809)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPeriode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/del_entiteter/Prosent.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/fastsett/MapFastsattBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagPeriodeDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_67__felter_for_graderingsprosent.sql
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, migreringer, pom

Bruk kun regelmodell.KalkulusRegler og fjerne nare fra kalkulus (#3811)
  kalkulator/pom.xml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/ForeslåBesteberegning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/FortsettForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/fp/FullføreBeregningsgrunnlagFPImpl.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/utbgrad/FullføreBeregningsgrunnlagUtbgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/periodisering/FastsettNaturalytelsePerioderTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/ForeslåBeregningsgrunnlagFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FullføreBeregningsgrunnlagFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/VurderBeregningsgrunnlagTjenesteFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
  pom.xml
Labels: domene/kalkulator, pom

Kalkulator har egen G-input - ikke bruk regel-G utenfor kalkulator (#3812)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegInputMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/KontrollerBeregningsinputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/GrunnbeløpMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjenesteTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonEllerGraderingArbeidsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/FaktaOmBeregningInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/FastsettBeregningsaktiviteterInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeslåBeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeslåBesteberegningInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/FortsettForeslåBeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/GrunnbeløpInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/GrunnbeløpMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsgrunnlagInputTestUtil.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/GrunnbeløpMock.java
Labels: domene/kalkulator

Tar inn søkerperioder i kontrakt og avviksvurderer dersom bruker har søkt (#3819)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/OmsorgspengeGrunnlagMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/OmsorgspengerGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OmsorgspengerGrunnlag.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspengerTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/YtelsespesifiktGrunnlagTjenesteOMPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/OmsorgspengerGrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/SøktPeriode.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

Legger til no-args konstruktør
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/InntektsforholdDto.java
Labels: domene/kontrakt

Mindre utregning av MD5 hasher ved gruppering (#3751)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingPeriodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/HashGrupperingUtil.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelSporingTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/HashGrupperingUtilTest.java
Labels: none

Tillater å sende inn ingen søkte perioder
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/OmsorgspengerGrunnlag.java
Labels: domene/kontrakt

Endrer min til max for å finne max-periode
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
Labels: domene/kalkulator

Fikser nullsjekk
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
Labels: domene/kalkulator

Resttjeneste for å simulere tilkommet inntekt AP for alle koblinger opprettet i løpet av en periode (#3835)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepository.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/simulerTilkommetInntekt/regelinput/SimulerTilkommetInntektRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/simulerTilkommetInntekt/SimulertTilkommetInntekt.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kontrakt, web

Henter kalkulatorinput for koblinger med aktive grunnlag
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
Labels: none

Henter aktivt grunnlag
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
Labels: none

Håndterer overlappende ansettelsesperioder
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
Labels: domene/kalkulator

Bruker inntekt fastsatt av saksbehandler dersom denne er satt (#3841)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
Labels: domene/kalkulator

Utvider simuleringtjeneste for tilkommet inntekt med simulering av fa… (#3845)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/tid/Virkedager.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/simulerTilkommetInntekt/regelinput/SimulerTilkommetInntektRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/simulerTilkommetInntekt/SimulertTilkommetInntekt.java
Labels: domene/kontrakt, domene/kalkulator

Forbedrer utledning av inntekt (#3848)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/simulerTilkommetInntekt/SimulertTilkommetInntekt.java
Labels: domene/kontrakt

Legger til saker pr status (#3851)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/simulerTilkommetInntekt/SimulertTilkommetInntekt.java
Labels: domene/kontrakt

TSF-3228: Sjekker streng equals på arbeidsforholdId når vi mapper fra fordelingsregel (#3849)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodell.java
Labels: domene/kalkulator

Utvider med inntekt for frilans (#3854)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
Labels: domene/kalkulator

Drar ut simulering i egen tjeneste (#3856)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
Labels: domene/kalkulator

Returnerer saksnummer med aksjonspunkt (#3858)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/simulerTilkommetInntekt/SimulertTilkommetInntekt.java
Labels: domene/kontrakt

Egen resttjeneste som returnerer input for gitt saksnummer (#3861)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/simulerTilkommetInntekt/regelinput/FinnSimulerTilkommetInntektInputRequest.java
Labels: domene/kontrakt, domene/kalkulator

Resttjeneste for å finne reduksjonsperioder for sak (#3864)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
Labels: domene/kalkulator

Legger til junit-jupiter-engine for å sikre at tester blir kjørt. Kom tidligere transitivt fra fpsak-tidsserie (#3859)
  pom.xml
Labels: pom

Kjører graftraversering ved diff-sjekk i kopiering og spoling i staden for å eksplisitt sjekke alle felter (#3868)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/BeregningsgrunnlagDiffSjekker.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BGAndelArbeidsforholdDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningAktivitetAggregatDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningAktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagAktivitetStatusDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagFaktaOmBeregningTilfelleDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeÅrsakDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/SammenligningsgrunnlagPrStatusDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/TilkommetInntektDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/DiffForKopieringDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/DiffForKopieringResult.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/DiffIgnore.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/IndexKey.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/IndexKeyComposer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/ListPositionEquality.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/Node.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/Pair.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/SjekkVedKopiering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/TraverseGraph.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/TraverseGraphConfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/TraverseGraphException.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/diff/TraverseValue.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/Arbeidsgiver.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/FastsattInntektskategori.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/InternArbeidsforholdRefDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/Refusjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/Årsgrunnlag.java
Labels: domene/kalkulator

Nye felter for utbetalingsgrad/gradering mot inntekt i Dto + builder-pattern (#3860)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kontrakt

Håndterer at intervallene er ulike i validering av endringer på forle… (#3872)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/BeregningsgrunnlagDiffSjekker.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KanKopierBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kalkulator

Midlertidig alene avslagsårsak (#3829)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/MapTilAvslagsårsakerFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/FRISINNKonfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/Konfigverdier.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Vilkårsavslagsårsak.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

Toggle erstattes dersom det settes flere ganger
  pom.xml
Labels: pom

FL bruker riktig utbetalingsgrad til utregning av tilkommet
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
Labels: domene/kalkulator

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
