Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

Fjerner avhengighet til txw2 (#2098)
  pom.xml
Labels: pom

Fjerner jaxws-rt (#2100)
  pom.xml
  web/pom.xml
Labels: pom

FIX: Fjerner eksplisitt avhengighet til dropwizard metrics (#2101)
  pom.xml
Labels: pom

Skal kunne opprette ny DP aktivitet om søkt for (#2106)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLRefusjonOgGradering.java
Labels: domene/kalkulator

Verifiserer kun ytelseandeler som er lagt til fra start (#2108)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
Labels: domene/kalkulator

TSF-1786: Guard mot å fortsette beregning før alle aksjonspunkt er lø… (#2013)
  database/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/aksjonspunkt/AksjonspunktEntitet.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/aksjonspunkt/AksjonspunktKontrollTjeneste.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/BeregningStegKodeverdiConverter.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/aksjonspunkt/AksjonspunktRepository.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/aksjonspunkt/AksjonspunktTjeneste.java
  database/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/aksjonspunkt/AksjonspunktRepositoryTest.java
  database/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/aksjonspunkt/AksjonspunktTjenesteTest.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndtererApplikasjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenestePSB.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AksjonspunktDefinisjon.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningSteg.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_32__fjerner_steg_fra_ap.sql
Labels: domene/kontrakt, domene/kalkulator, migreringer

Endre namespace til k9saksbehandling (#2113)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  .github/workflows/build.yml
Labels: none

Fikse promote skript (#2115)
  .github/workflows/promote.yml
Labels: none

Sender aksjonspunkt med status på gui-endepunktet (#2112)
  database/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/aksjonspunkt/AksjonspunktEntitet.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/aksjonspunkt/AksjonspunktRepository.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/aksjonspunkt/AksjonspunktTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/GUIBeregningsgrunnlagInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapTilGUIInputFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/aksjonspunkt/AksjonspunktDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/AksjonspunktDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagDto.java
  web/app-vtp.properties
Labels: domene/kontrakt, domene/kalkulator

Ser kun på tilkomne inntekter som er innenfor periode det er søkt om ytelse for (#2105)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjenesteTest.java
Labels: domene/kalkulator

Henter fram grunnlag med samme skjæringstidspunkt om det er lagret tidligere (#2120)
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
Labels: none

TFP-4532: Logger saker der meldekort starter før vedtak (#2123)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapArenaVedtakTilBesteberegningRegelmodell.java
Labels: domene/kalkulator

Ruller beregningsgrunnlag tilbake før vi bygger beregningsgrunnlaginput for håndtering (#2128)
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/HåndteringInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndtererApplikasjonTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
Labels: none

Update build-pr.yml
  .github/workflows/build-pr.yml
Labels: none

Fikse navn på kodeverk (#2136)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovType.java
Labels: domene/kontrakt

Denne trengs ikke, dras inn fra felles-konfigurasjon
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/EnvKonfigVerdiProvider.java
Labels: web

simplify map (#2125)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapStegTilTilstand.java
Labels: none

Legger på felles-db
  domenetjenester/pom.xml
Labels: pom

Skru på lagring av aksjonspunkt i dev (#2146)
  .deploy/dev-fss.yml
Labels: none

Toggler tilkommet innekt av i dev (#2149)
  .deploy/dev-fss.yml
Labels: none

Sjekker om det finnes andeler ikke søkt om i prop til gui (#2152)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/YtelsespesifiktGrunnlagTjenesteOMP.java
Labels: domene/kalkulator

Migrering avklaringsbehov (#2151)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/AksjonspunktMigreringTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/MigrerAksjonspunktRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovRepository.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/YtelsespesifiktGrunnlagTjenesteOMP.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/migrerAksjonspunkt/MigrerAksjonspunktListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/migrerAksjonspunkt/MigrerAksjonspunktRequest.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kontrakt, domene/kalkulator, web

FIX: Tar inn automatisk besteberegning av sykepenger av dagpenger (#2144)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/ytelse/fp/VurderBesteberegningTilfelleUtleder.java
Labels: domene/kalkulator

Avbryter alle avklaringsbehov ved deaktivering (#2157)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndtererApplikasjonTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
Labels: none

Bruker gjelderFor og ikkje equals til å sammenligne referanser (#2159)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
Labels: none

Støtter delvis kopiering av perioder innenfor en vilkårsperiode fram til endring (#2161)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/BeregningsgrunnlagDiffSjekker.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KanKopierBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/BeregningsgrunnlagDiffSjekkerTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjenesteTest.java
Labels: none

Setter kilde fra matchet andel om vi finner den i eksisterende grunnlag ved fordeling (#2166)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndterer.java
Labels: domene/kalkulator

Flytter logikk i rest-tjeneste over i egen tjeneste (#2165)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/HåndteringInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/Resultat.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/KontrollerBeregningsinputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndtererApplikasjonTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndteringResultat.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/FaktaOmBeregningHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/FordelBeregningsgrunnlagHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/VurderRefusjonBeregningsgrunnlagHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kobling/KoblingTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/HåndterBeregningListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/KalkulusRespons.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/TilstandResponse.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/Endringer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/OppdateringRespons.java
Labels: domene/kontrakt

Fikser opprettelse av koblinger (#2171)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kobling/KoblingTjeneste.java
Labels: none

Legger tilbake koblingrelasjon (#2173)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
Labels: none

Bugfix (#2175)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
Labels: none

Endrer navn på migrer aksjonspunkt endepunkt (#2178)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/MigrerAksjonspunktRestTjeneste.java
Labels: none

Legger til k9-drift (#2181)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/MigrerAksjonspunktRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/sikkerhet/KalkulusBeskyttetRessursAttributt.java
Labels: none

FIX: Retter logging slik at meldekort som starter før vedtak logges korrekt (#2180)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapArenaVedtakTilBesteberegningRegelmodell.java
Labels: domene/kalkulator

Skrur på toggle for aksjonspunkt i kalkulus i P (#2185)
  .deploy/prod-fss.yml
Labels: none

Vurderer om det er mottatt ytelse i beregningsperioden før man oppretter aksjonspunkt (#2191)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderMottarYtelseTilfelleUtleder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderMottarYtelseTilfelleUtlederK9.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/AvklaringsbehovUtlederFaktaOmBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/TilfelleUtlederMockTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FrilanserMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FrilanserTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/KombinasjonArbtakerFrilanserSelvstendigTest.java
Labels: domene/kalkulator

TFP-4569: Fikser duplikate tilfeller av aktivitetstatuser, legger på … (#2177)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/BeregningFaktaOgOverstyringHåndterer.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/BeregningFaktaOgOverstyringHåndtererTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
Labels: domene/kalkulator

Oppdater codeowners og div dependabots (#2187)
  CODEOWNERS
  pom.xml
Labels: pom

Midlertidig inaktive får kun brukers andel om det ikkje er kun arbeidsforhold med inntektsmelding (#2196)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapArbeidsforholdFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBGSkjæringstidspunktOgStatuserFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningAktiviteterFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLRefusjonOgGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapAktivitetStatusVedSkjæringstidspunktFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/LagAktivPeriodeForArbeidstakerFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBGStatuserFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningAktiviteterFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14Test.java
  pom.xml
Labels: domene/kalkulator, pom

KalkulatorFeil mappes som GENERELL_FEIL (#2198)
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/exceptions/GeneralRestExceptionMapper.java
Labels: web

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
