Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

Andelsnr er ikke påkrevd for kun-ytelse fastsetting
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FastsattBrukersAndel.java
Labels: domene/kontrakt

Bruker ytelseandeler til beregning av dagpenger-fra-ytelse i staden for ytelsegrunnlaget (ugradert) (#2955)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/InfotrygdvedtakMedDagpengerTjeneste.java
Labels: domene/kalkulator

Avbryter alle eksisterende avklaringsbehov ved kopi (#2963)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
Labels: none

Returnerer ingen avklaringsbehov ved avslag pga ingen aktiviteter (#2969)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterOMP.java
Labels: domene/kalkulator

Sjekker om vilkåret har blitt vurdert
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterOMP.java
Labels: domene/kalkulator

Fix compilation error
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterOMP.java
Labels: domene/kalkulator

Lukker stream før videre operasjon
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjeneste.java
Labels: none

Bump regel
  pom.xml
Labels: pom

Legger til støtte for tilkommet frilansaktivitet i fordeling (#2979)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodell.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodellTest.java
Labels: domene/kalkulator

Setter endret tid ved deaktivering av kalkulatorinput (#2985)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
Labels: none

Maskerer aktørid
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/Arbeidsgiver.java
Labels: domene/kalkulator

Hensyntar permisjon ved opprettelse av andeler når permisjonen har sl… (#2974)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14Test.java
Labels: domene/kalkulator

Endrer orgnr brukt i test (#2992)
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14Test.java
Labels: none

Fix fjerner stringmetode som ikkje er i bruk
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/Arbeidsgiver.java
Labels: domene/kalkulator

Samler logikk som henter ut riktig anvisning for beregning ved direkte overgang mellom ytelser (#2990)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/DirekteOvergangTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/InfotrygdvedtakMedDagpengerTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/inntektskategori/FastsettInntektskategoriFraYtelseVedtak.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/KunYtelseTilfelleUtleder.java
Labels: domene/kalkulator

Takler at yrkesaktivitet kan være tom (f.eks kunstig orgnr) (#2999)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14Test.java
Labels: domene/kalkulator

Hensyntar at permisjon kan gjelde fra dag 1 av arbeidsforholdet (#3001)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14Test.java
Labels: domene/kalkulator

Oppretter diagnostikkendepunkt for beregning (#2998)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkBeregningRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkSakLogg.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/ForvaltningFrisinnRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/SaksnummerDto.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/BeregningsgrunnlagDump.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/CsvOutput.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpSak.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpsters.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DumpOutput.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KalkulatorInputDump.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KortTekst.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/ZipOutput.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepository.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/HentForSakRequest.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_54__diagnostikk-logg.sql
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kontrakt, migreringer, web

Fikse navn på sequence (#3010)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkSakLogg.java
  domenetjenester/src/main/resources/META-INF/pu-default.diagnostikk.orm.xml
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_55__diagnostikk-logg-sequence.sql
Labels: migreringer

Legger til overstyringsaksjonspunkt dersom det finnes på kobling (#3012)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KanKopierBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/output/BeregningResultatAggregat.java
Labels: domene/kalkulator

Endrer rolle for diagnostikk
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkBeregningRestTjeneste.java
Labels: none

Bruker property og ikkje resource til å finne driftsrolle
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkBeregningRestTjeneste.java
  web/app-vtp.properties
Labels: none

Tillater at resource er tom dersom property er satt i BeskyttetRessurs
  web/src/test/java/no/nav/folketrygdloven/kalkulus/app/konfig/RestApiAbacTest.java
Labels: none

Definerer property i BeskyttetRessurs-annotering
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkBeregningRestTjeneste.java
Labels: none

Property abac attributt
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkBeregningRestTjeneste.java
Labels: none

Hardkoder resource i diagnistikktjeneste
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkBeregningRestTjeneste.java
Labels: none

Endrer driftsrolle i env
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkBeregningRestTjeneste.java
Labels: none

Matcher ikkje ikke-yrkesaktiv mot statusandeler
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkBeregningRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
Labels: domene/kalkulator

Fjerner abac-attributt saksnummer ved diagnostikk
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/SaksnummerDto.java
Labels: none

TSF-2590: Ser bort fra brutto beregningsgrunnlag i original behandling dersom det ikkje er utbetalt dagsats for andel ved utledning av vurder-refusjon (#3034)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/RefusjonTidslinjeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/BeregningRefusjonTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/RefusjonTidslinjeTjenesteTest.java
Labels: domene/kalkulator

Bump regel
  pom.xml
Labels: pom

Setter utbetalingsfaktor for vedtak-ytelse til 1
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
Labels: domene/kalkulator

FIX: Hensyntar kun velferdspermisjon (#3040)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK14Test.java
Labels: domene/kalkulator

TFP-4829 Legger til FP og SVP som godkjente opptjeningsaktiviteter for automatisk besteberegning (#3037)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/ytelse/fp/VurderBesteberegningTilfelleUtleder.java
Labels: domene/kalkulator

Opprett eget script for release drafter som kjøres ved push til master
  .github/workflows/build.yml
  .github/workflows/release-drafter.yaml
Labels: none

Pdp, domene og attributter settes i miljøvariabler, går over til å bruke abac-k9 (#3051)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/GrunnbeløpRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/MigrerAksjonspunktRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/ForvaltningFrisinnRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/sikkerhet/KalkulusBeskyttetRessursAttributt.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/sikkerhet/KalkulusBeskyttetRessursAttributtMiljøvariabel.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/BeregnListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/BeregningsgrunnlagListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/HentBeregningsgrunnlagRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KalkulusRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierBeregningListeRequest.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/AbacAttributter.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/XacmlRequestBuilderTjenesteImpl.java
Labels: domene/kontrakt, web

Fikser miljøvariabler
  web/app-vtp.properties
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: web

Støtter all henting med saksbehandlertoken
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
Labels: none

Legger til aktørid som abac-attributt
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: web

Utleder aktørid fra saksnummer ved behov
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kobling/KoblingTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: web

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
