Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Filtrerer ikkje bort brukers andel (#2305)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
Labels: domene/kalkulator

Mapper nytt felt fra/til db og sender over ny rest (#2287)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BGAndelArbeidsforhold.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagGrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagListe.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagPrStatusOgAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kontrakt, domene/kalkulator

Fikser JsonProp navn (#2311)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kontrakt

Mapper inn refusjon for midlertidig inaktiv (#2313)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/fp/MapRefusjonPerioderFraVLTilRegelFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
Labels: domene/kalkulator

Bytt til nytt PAT (#2309)
  .github/workflows/build-pr.yml
Labels: none

Mapper alle dagpengestatuser for inntektstak til brev (#2315)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
Labels: none

Mapper refusjon for midl inaktiv i utbetalingsgradsplitting (#2318)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
Labels: domene/kalkulator

Justerer beregningsperiode ved lønnsendring i beregningsperioden (#2322)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBGSkjæringstidspunktOgStatuserFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLRefusjonOgGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderLønnsendringOppdaterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettSkjæringstidspunktOgStatuser.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/svp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/OpprettPerioderOgAndelerForTilkommetInntekt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/FastsettInntektskategoriTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/BeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiode.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeATFL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeForLønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderLønnsendringTilfelleUtleder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/BeregningsperiodeTjenesteFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettBeregningsperiodeTjenesteFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsperiodeTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/AvklaringsbehovUtlederFaktaOmBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/VerdikjedeTestHjelper.java
  pom.xml
Labels: domene/kalkulator, pom

Aksjonspunktutleder for avklar aktiviteter bruker beregningaktiviteter og ikkje beregningsgrunnlag (#2324)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningAktivitetAggregatDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklarAktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/svp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/BeregningsperiodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsperiodeTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/skjæringstidspunkt/AvklarAktiviteterTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterTest.java
Labels: domene/kalkulator

Henter ikkje lønnsendring fra første arbeidstakerandel (#2327)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeForLønnsendring.java
Labels: domene/kalkulator

Sender inn skjæringstidspunkt som parameter og henter ikkje fra input (#2332)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/svp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/BeregningsperiodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsperiodeTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterTest.java
Labels: domene/kalkulator

Dto med saksopplysninger (#2334)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/ArbeidMedLønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/SaksopplysningerTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeForLønnsendring.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/FaktaOmBeregningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/ArbeidsforholdMedLønnsendring.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/Saksopplysninger.java
Labels: domene/kontrakt, domene/kalkulator

Endrer ikkje på beregningsperioden for andeler som skal avklares manuelt (#2338)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeForLønnsendring.java
Labels: domene/kalkulator

Toggler lønnsendring (#2339)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderLønnsendringTilfelleUtleder.java
Labels: domene/kalkulator

Returnerer avklaringsbehov i stegrekkefølge (#2337)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovRepository.java
Labels: none

FIX: Venter ikke på arbeidsforhold hos inaktive arbeidsgivere (#2328)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/ErArbeidsgiverInaktiv.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/ErArbeidsgiverInaktivTest.java
Labels: domene/kalkulator

Bruker aktiviteter på stp i sjekk på aksjonspunkt i avklar aktiviteter (#2345)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklarAktiviteterTjeneste.java
Labels: domene/kalkulator

Toggle kan ikkje ha norske bokstaver (#2348)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/VurderLønnsendringTilfelleUtleder.java
  web/app-vtp.properties
Labels: domene/kalkulator

Tar ikkje med første dag i sjekk på arbeidsforhold der beregningsperioden må endres (#2349)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeForLønnsendring.java
Labels: domene/kalkulator

Mapper endringsobjekt for historikk (#2344)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIAndel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIPeriode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/FaktaOmBeregningHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/UtledEndringIAndel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/UtledFaktaOmBeregningVurderinger.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/FordelBeregningsgrunnlagHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/UtledEndringIPeriode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBGTidsbegrensetArbeidsforholdHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBeregningsgrunnlagATFLHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBeregningsgrunnlagSNNyIArbeidslivetHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBruttoBeregningsgrunnlagSNHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/UtledVarigEndringEllerNyoppstartetSNVurderinger.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/VurderVarigEndretNyoppstartetSNHåndterer.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIAndelTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/Endringer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/VarigEndretNæringEndring.java
Labels: domene/kontrakt

Kaster ikkje feil om overstyrt ikkje er satt (#2353)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/UtledVarigEndringEllerNyoppstartetSNVurderinger.java
Labels: none

Toggler på SP av DP (#2354)
  .deploy/prod-fss.yml
Labels: none

Fikser divide-by-zero og fjerner ubrukte felter (#2357)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BeregningsgrunnlagPrStatusOgAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektForVisning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/InntektForAndelTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kontrakt, domene/kalkulator

FIX: Toggle i lønnsendring oppdaterer (#2360)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderLønnsendringOppdaterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektForVisning.java
Labels: domene/kalkulator

Feature/blings (#2362)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderLønnsendringOppdaterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektForVisning.java
Labels: domene/kalkulator

FIX: Venter på meldekort fp, reverter postgres driver (#2364)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
  pom.xml
Labels: domene/kalkulator, pom

Skal ikkje endre beregningsperiode for andel om siste lønnsendringsdato ligger i siste måned (#2368)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeForLønnsendring.java
Labels: domene/kalkulator

Toggler på automatisk lønnsendring (#2370)
  .deploy/prod-fss.yml
Labels: none

Mapper ikkje formidlingsfelter før FORESLÅTT (#2374)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
Labels: none

Ruller kun tilbake grunnlag som er lenger fram eller lik (#2376)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
Labels: none

Mapper sykepenger til anvist andel. Logger diff fra beregningsgrunnlag ved fastsetting av mottatt ytelse (#2373)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/AnvistAndelMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapTilGUIInputFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/AnvistAndel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseAnvistDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseAnvistDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseFordelingDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/BeregneFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlag.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/ErArbeidsgiverInaktivTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/ytelse/v1/YtelseFordelingDto.java
Labels: domene/kontrakt, domene/kalkulator

Mapper ikkje formidlingsfelter for andeler uten brutto (#2378)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
Labels: none

Fikser nullpointer refusjon (#2382)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/AnvistAndelMapper.java
Labels: none

Legger endring for varig endring i oppdaterigsobjekt (#2384)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/UtledVarigEndringEllerNyoppstartetSNVurderinger.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/OppdateringRespons.java
Labels: domene/kontrakt

Wrapper objekt for faktavurdering (#2389)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaAktørEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaArbeidsforholdEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/FaktaVurderingEntitet.java
  domenetjenester/src/main/resources/META-INF/pu-default.beregningsgrunnlag.orm.xml
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/FaktaVurderingKilde.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_35__wrapper_for_fakta_vurdering.sql
Labels: domene/kontrakt, migreringer

Finner siste lønnsendring som overlapper med beregningsperiode og ikkje i samme måned som stp (#2392)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/ArbeidMedLønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/FastsettBeregningsperiodeForLønnsendring.java
Labels: domene/kalkulator

Endring for nyoppstartet næring (#2394)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/FaktaOmBeregningHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/FordelBeregningsgrunnlagHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBGTidsbegrensetArbeidsforholdHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBeregningsgrunnlagATFLHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBeregningsgrunnlagSNNyIArbeidslivetHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBruttoBeregningsgrunnlagSNHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/UtledVarigEndringEllerNyoppstartetSNVurderinger.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/VurderVarigEndretNyoppstartetSNHåndterer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/Endringer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/OppdateringRespons.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/VarigEndretEllerNyoppstartetNæringEndring.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/VarigEndretNæringEndring.java
Labels: domene/kontrakt

Bruker kan ha både varig endring og nyoppstartet næring (#2396)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/UtledVarigEndringEllerNyoppstartetSNVurderinger.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/VarigEndretEllerNyoppstartetNæringEndring.java
Labels: domene/kontrakt

Legger til tom konstruktør for lønnsendring (#2400)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fakta/ArbeidsforholdMedLønnsendring.java
Labels: domene/kontrakt

Kommenterer ut lønnsendringdto (#2403)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/SaksopplysningerTjeneste.java
Labels: domene/kalkulator
