Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

Filterer bort perioder eldre enn 2 måneder som ikke har frilansinntekter i nærheten (#3879)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/FrilansInntektTidslinjeUtil.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
Labels: domene/kalkulator

Utvider kun i forkant av inntekt (#3882)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/FrilansInntektTidslinjeUtil.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
Labels: domene/kalkulator

Legger inn mapping av inntektsgraderingsprosent til kalkulator (#3888)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
Labels: none

Mapper gradering (#3885)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagGrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kontrakt

Sende bruker og tidspunkt for vurdering av avklaringsbehov til gui i k9-sak (#3880)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovKontrollTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjenesteTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/avklaringsbehov/AvklaringsbehovDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/AvklaringsbehovDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_68__avklaringsbehov_vurdertav.sql
Labels: domene/kontrakt, domene/kalkulator, migreringer

TFP-5375: Legger til mer data fra skatt for visning i GUI (#3899)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapper.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapperTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PGIType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/inntektsgrunnlag/InntektsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/inntektsgrunnlag/PGIGrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/inntektsgrunnlag/PGIPrÅrDto.java
Labels: domene/kontrakt, domene/kalkulator

Dersom det er perioder på 3 måneder uten inntekt for arbeidsgiver reg… (#3897)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/DagsatsPrKategoriOgArbeidsgiver.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/DirekteOvergangTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/StatusOgArbeidsgiver.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/FinnArbeidstakerInntektTidslinje.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/RegisterInntektTidslinjeUtleder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/UtvidetInntektsperiodeUtleder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/DirekteOvergangTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderLønnsendringDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningAktiviteterTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningsaktiviteterOMPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/UtvidetInntektsperiodeUtlederTest.java
Labels: domene/kalkulator

MessgeDigest-instans er ikke threadsafe, så fjerner den fra statisk felt (#3904)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/HashGrupperingUtil.java
Labels: none

Gradering mot inntekt gjelder fom april (#3903)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
Labels: domene/kalkulator

Mapper graderingsfelter til brev (#3908)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/FinnInntektstak.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/UtledGraderingsdata.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/FinnArbeidstakerInntektTidslinje.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/UtvidetInntektsperiodeUtleder.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPeriodeDto.java
Labels: domene/kontrakt, domene/kalkulator

Fikser nullpointer i evaluering av arbeidsgiver
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/UtvidetInntektsperiodeUtleder.java
Labels: domene/kalkulator

Endepunkt for å simulere tilkommet inntekt for koblinger (#3911)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/simulerTilkommetInntekt/FinnSimulerTilkommetInntektInputRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/simulerTilkommetInntekt/SimulerTilkommetInntektForRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/simulerTilkommetInntekt/SimulerTilkommetInntektListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/simulerTilkommetInntekt/SimulerTilkommetInntektRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/simulerTilkommetInntekt/SimulertTilkommetInntektListe.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/simulerTilkommetInntekt/SimulertTilkommetInntektPrReferanse.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

Mapper inntektsgrunnlag selv om søker ikke er AT/FL (#3914)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapperTest.java
Labels: domene/kalkulator

Endrer til at inntektsgrunnlag tar inn alle inntekter og sorterer ut de interessante selv (#3916)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/inntektsgrunnlag/InntektsgrunnlagTjeneste.java
Labels: domene/kalkulator

Tar inn ny regelrepo med sonarfikser (#3920)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLGraderingOgUtbetalingsgrad.java
  pom.xml
Labels: domene/kalkulator, pom

Sortere før lagre for å unngå deadlock (oppstått i verdikjedetest) (#3923)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
Labels: none

Oppdaterer alltid input dersom den sendes inn (#3925)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
Labels: none

Refaktorerer logikk for periodesplitting (#3930)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderRepresentererStortingetTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/PeriodeSplitter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/SplittPeriodeConfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/StandardPeriodeSplittCombinators.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/StandardPeriodeSplittMappers.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/SplittBGPerioder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ForlengelsePeriodeTjeneste.java
Labels: domene/kalkulator

Legger tilbake redusert tidslinje
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
Labels: domene/kalkulator

Legger tilbake manglende return
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ForlengelsePeriodeTjeneste.java
Labels: domene/kalkulator

Skrur av gradering mot inntekt i dev for prepping av overgangssaker
  .deploy/dev-fss.yml
Labels: none

Splitter grunnlag ved 1. april og preutfyller gui med gradering som i… (#3935)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/ForeslåInntektGraderingForUendretResultat.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/PeriodeSplitter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/SplittPeriodeConfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/TidslinjeUtils.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
Labels: domene/kalkulator

Returnerer resultatkode som beskriver utfallet av beregning (#3941)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjenesteTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/KalkulusResultatKode.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/TilstandResponse.java
Labels: domene/kontrakt

Bumper regelmodell, inkluderer pakkeoppdateringer og sonarfikser (#3946)
  pom.xml
Labels: pom

Reverter virkedagsberegning for 8-47 (#3948)
  pom.xml
Labels: pom

Toggler på gradering mot inntekt og endrer fom-dato til 1. mai
  .deploy/dev-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
Labels: domene/kalkulator

Støtter å legge til perioder i vurder tilkommet inntekt (#3939)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/SplittPeriodeConfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/periodesplitting/StandardPeriodeCompressLikhetspredikat.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjenesteTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PeriodeÅrsak.java
Labels: domene/kontrakt, domene/kalkulator

Ved forlengelse kjører vi compress av perioder fra forrige behandling, kjører ikkje compress spol framover (#3953)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjenesteTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/tid/Intervall.java
Labels: domene/kalkulator

Endre jsonproperty for felt
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/VurderTilkomneInntektsforholdPeriodeDto.java
Labels: domene/kontrakt

Verifiserer ikke perioder som ikke vurderes (#3959)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ForlengelsePeriodeTjeneste.java
Labels: domene/kalkulator

Bruker beregningstidspunkt i staden for skjæringstidspunkt i utledelse av lønnsendringaksjonspunkt (#3961)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
Labels: domene/kalkulator

Legger på manglende kopi-annotasjoner for å hindre compress (#3963)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kalkulator

Forlenger originalt grunnlag i staden for forrige fra samme kobling (#3965)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegInputMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/StegProsesseringInput.java
Labels: domene/kalkulator

Bumper regelmodell (#3967)
  pom.xml
Labels: pom

Legger på koblingId som loggingparameter (#3970)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
Labels: none

Fjerner finally blokk
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
Labels: none

Fix test. Utledning av rapporteringsfrist tok allerede hensyn til flyttbare helligdager, men testen feilet når flyttbare helligdager ligger inntil helg. (#3981)
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepengerTest.java
Labels: none

Tilpasset validering for å tillate splitt ved endring i tilkommet inntekt (#3982)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/avklaraktiviteter/AvklarAktiviteterHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/FaktaOmBeregningHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/FordelBeregningsgrunnlagHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/VurderRepresentererStortingetHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/VurderTilkommetInntektHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBGTidsbegrensetArbeidsforholdHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBeregningsgrunnlagATFLHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBeregningsgrunnlagSNNyIArbeidslivetHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBruttoBeregningsgrunnlagSNHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/VurderVarigEndretArbeidssituasjonHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/VurderVarigEndretNyoppstartetSNHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/overstyring/OverstyrBeregningsaktiviteterHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/overstyring/OverstyrBeregningsgrunnlagHåndterer.java
Labels: none

Fjerner kall til tilkommet inntekt tidslinje siden output kan variere med dato og derfor gi ulikt resultat ved opprettelse av aksjonspunkt og ved kall til dto-tjeneste (#3992)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
Labels: domene/kalkulator

Javadoc
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/felles/v1/KalkulatorInputDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/v1/InntektArbeidYtelseGrunnlagDto.java
Labels: domene/kontrakt

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
