Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Revert "TSF-3395: Kopierer alle inntektskategorier i mapping fra entiteter til domenemodell (#4089)" (#4092)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
Labels: none

Retter NPE for aktiviteter der man ikke har arbeidsgiver på den tilkommede aktiviteten (SN/FL). (#4108)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/TilkommetAktivitetRestTjeneste.java
Labels: none

Nullsjekk lønnsendring (#4114)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
Labels: domene/kalkulator

Lanserer automatisk håndtering av lønnsendring i siste måned i beregningsperioden (#4116)
  .deploy/prod-fss.yml
Labels: none

Deaktiverer sjekk mot utbetalingsgrad og inntekt for tilkommet aktivitet/inntekt. (#4119)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/FinnArbeidstakerInntektTidslinje.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/UtvidetInntektsperiodeUtleder.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/UtvidetInntektsperiodeUtlederTest.java
Labels: domene/kalkulator

bumper jackson versjon slik at record i kan deserialiseres av k9-sak som er over på ny jackson versjon. (#4123)
  kalkulator/src/test/java/no/nav/folketrygdloven/utils/UnitTestLookupInstanceImpl.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/AvklaringsbehovDto.java
  pom.xml
  web/src/test/java/no/nav/folketrygdloven/kalkulus/app/tjenester/UnitTestLookupInstanceImpl.java
Labels: domene/kontrakt, pom

TSF-3448: Bruker aktivitetsgrad for tilkomne aktiviteter (#4122)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/TilkommetAktivitetRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerTilkomneAktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/FinnArbeidstakerInntektTidslinje.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForUtbetalingsgradFraVLTilRegel.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForGraderingFraVLTilRegelOgUtbetalingsgradTest.java
Labels: domene/kalkulator

Fiks: Matcher andeler uten arbeidsgiver (#4130)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForUtbetalingsgradFraVLTilRegel.java
Labels: domene/kalkulator

Fiks: Nullsafe equalssjekk (#4132)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerTilkomneAktiviteterTjeneste.java
Labels: domene/kalkulator

TSF-3448: Beregner tilkommet inntekt utifra aktivitetsgrad om den er tilgjengelig, ellers utbetalingsgrad (#4134)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
Labels: domene/kalkulator

TSF-3522: Hensyntar refusjon fra aktivitetsgrad dersom utbetalingsgrad er 0 (#4137)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
Labels: domene/kalkulator

TFP-5516: Strammer inn gha token scopes
  .github/workflows/build.yml
  .github/workflows/release-drafter.yaml
  .github/workflows/release-kontrakt.yml
  .github/workflows/snyk.yaml
Labels: none

Update promote.yml
  .github/workflows/promote.yml
Labels: none

Update promote.yml permission med content read
  .github/workflows/promote.yml
Labels: none

Create dependency-submission.yml (#4150)
  .github/workflows/dependency-submission.yml
Labels: none

Update dependency-submission.yml (#4155)
  .github/workflows/dependency-submission.yml
Labels: none

Update promote.yml (#4095)
  .github/workflows/promote.yml
Labels: none

Create codeql.yml (#4160)
  .github/workflows/codeql.yml
Labels: none

Update codeql.yml (#4162)
  .github/workflows/codeql.yml
Labels: none

Mer logging for å finne ut av vrien feil som oppstår når saksbehandler avklarer lønnsendring i fakta om beregning (#4172)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/dto/VurderLønnsendringDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderLønnsendringOppdaterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YrkesaktivitetDto.java
Labels: domene/kalkulator

Update promote.yml (#4177)
  .github/workflows/promote.yml
Labels: none

Mapper inn total utbetalingsgrad fra uttak og etter tilkommet inntekt (#4181)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPeriode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilEntitet/KalkulatorTilBGMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/fastsett/MapFastsattBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPeriodeDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_71__felter_for_graderinger.sql
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, migreringer, pom

Setter nødvendige tilganger på release-kontrakt (#4183)
  .github/workflows/release-kontrakt.yml
Labels: none

Fjerner at tidslinjen over tilkommede aktiviteter blir kappet ved REST-kall (#4191)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/TilkommetAktivitetRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerTilkomneAktiviteterTjeneste.java
Labels: domene/kalkulator

Riktig auditlogger/vendor (#4189)
  web/app-vtp.properties
  web/src/main/resources/application-dev-fss.properties
  web/src/main/resources/application-local.properties
  web/src/main/resources/application.properties
Labels: none

Setter alltid utbetalingsgrad som kommer fra uttak, setter flagg om aktivitet har tilkommet inntekt (#4200)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  pom.xml
Labels: domene/kalkulator, pom

Fix: revertet utledning av utbetalingsgrad (#4202)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
Labels: domene/kalkulator

Fjerner ubrukt tjeneste fra TilkommetAktivitetRestTjeneste (#4205)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/TilkommetAktivitetRestTjeneste.java
Labels: none

Rullet tilbake filtrering på andelMedTilkommet inntekt i regel-repoet (#4207)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  pom.xml
Labels: domene/kalkulator, pom

Kjører grenseverdiregel uten å ta hensyn til fordeling for perioder etter start av tilkommet inntekt (#4210)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/utbgrad/FullføreBeregningsgrunnlagUtbgrad.java
  pom.xml
Labels: domene/kalkulator, pom

Bruker aktivitetsgrad i regel for fastsetting. Setter aktivitetsgrad lik utbetalingsgrad om aktivitetsgrad ikke finnes (#4213)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  pom.xml
Labels: domene/kalkulator, pom

Bump regel og verifiser ingen utbetaling uten krav (#4216)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
  pom.xml
  web/app-vtp.properties
Labels: domene/kalkulator, pom

Mapper tilkommet inntekt til forenklet grunnlag (#4218)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/TilkommetInntektsforholdDto.java
Labels: domene/kontrakt

Fjerner snyk workflow (#4221)
  .github/workflows/snyk.yaml
Labels: none

Bruker aktivitetsgrad i verifisering dersom tilgjengelig
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
Labels: domene/kalkulator

TSF-3618 Viser ikkje inntekt for andel med kortere beregningsperiode enn 1 hel måned (#4209)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/InntektForAndelTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderMottarYtelseDtoTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BesteberegningInntektDtoForAndelTjenesteTest.java
Labels: domene/kalkulator

Går ned til 11.0.14 pga sårbarhet i 11.0.15 i jetty-plus (#4222)
  web/pom.xml
Labels: pom

Fjerner inntektssjekk på frilans og sjekker aktivitetstatus i sjekk på nye aktiviteter (#4230)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerTilkomneAktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederFordelBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederNyttInntektsforhold.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/FinnArbeidstakerInntektTidslinje.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
Labels: domene/kalkulator

Kjører grenseverdiregel uten fordeling for alle perioder når gradering mot inntekt er togglet på (#4233)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/utbgrad/FullføreBeregningsgrunnlagUtbgrad.java
Labels: domene/kalkulator

Endrer fom-dato tilkommet inntekt (#4234)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
Labels: domene/kalkulator
