Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

FIX: Rydder vekk BeregnFraYtelse som ikke lenger trengs for logg (#4688)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/BeregneFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/ForeslåBeregningsgrunnlagFRISINN.java
Labels: domene/kalkulator

FIX: Fjerner død kode og ubrukte felter (#4661)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/GraderingUtenBeregningsgrunnlagTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagDto.java
Labels: domene/kontrakt, domene/kalkulator

Revert "FIX: Fjerner død kode og ubrukte felter (#4661)" (#4691)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/GraderingUtenBeregningsgrunnlagTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagDto.java
Labels: domene/kontrakt, domene/kalkulator

Skriv om lagret input med legacy dtos (#4685)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputLegacyTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjenesteTest.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorLegacyMapperTest.java
  kontrakt/src/test/resources/input/eksempel-legacy-input.json
Labels: none

Fjerne kanalreferanse, behold journalpost (#4694)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulatorTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektsmeldingDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektsmeldingDtoBuilder.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/inntekt/v1/InntektsmeldingDto.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: domene/kontrakt, domene/kalkulator

Safeverdi i kontrakt-beløp (#4696)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/felles/v1/Beløp.java
Labels: domene/kontrakt

Legger inn mulighet for å kalle diagnostikk uten å hente ut alle regelsporingene (#4700)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/DiagnostikkBeregningRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpsters.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/RegelSporingDump.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/sikkerhet/AbacAttributtEmptySupplier.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpstersTest.java
Labels: none

Logg restbruk av legacy kode+verdi (#4698)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/TempAvledeKode.java
Labels: domene/kontrakt

Logg uten trace (#4703)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/TempAvledeKode.java
Labels: domene/kontrakt

FIX: Fjerner logg i FordelBeregningsgrunnlagHåndterer (#4706)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndterer.java
Labels: domene/kalkulator

Behold legacy beløp (#4710)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/TempAvledeKode.java
Labels: domene/kontrakt

Tillater at steg ikke har forrige grunnlag (#4713)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

For mange kode uten kodeverk (#4715)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/felles/v1/AktørIdPersonident.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/felles/v1/Organisasjon.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/frisinn/Avslagsårsak.java
Labels: domene/kontrakt

Logger noder med diff (#4720)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/BeregningsgrunnlagDiffSjekker.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

Logikk for komprimering bruker riktig Beløp-type for løvnode (#4723)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

.github/labeler.yml:

domene/kontrakt:
  - changed-files:
      - any-glob-to-any-file: ['kontrakt/src/main/java/**/*', 'kodeverk/src/main/java/**/*']

domene/kalkulator:
  - changed-files:
      - any-glob-to-any-file: ['felles/src/main/java/**/*', 'kalkulator/src/main/java/**/*']

migreringer:
  - changed-files:
      - any-glob-to-any-file: ['migreringer/src/main/**/*']

web:
  - changed-files:
      - any-glob-to-any-file: ['web/src/main/java/**/*']

pom:
  - changed-files:
      - any-glob-to-any-file: ['**/*/pom.xml', 'pom.xml']
