Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Vurder refusjon for PSB (#2487)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/VurderRefusjonBeregningsgrunnlagInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AndelerMedØktRefusjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AvklaringsbehovutlederVurderRefusjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/FinnAlleredeUtbetaltTom.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AvklaringsbehovutledertjenesteVurderRefusjonPSB.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/FortsettBeregningListeRequest.java
Labels: domene/kontrakt, domene/kalkulator

Bruker årsbeløp med ørespresisjon til utregning av ugradert dagsats for å unngå avrundingsdifferanse (#2493)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
Labels: none

Avvik for arbeidstaker uten refusjonskrav for omp (#2495)
  pom.xml
Labels: pom

Mapper inn verdi som sier om det er mottatt krav (#2497)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/OmsorgspengerGrunnlagMapper.java
  pom.xml
Labels: domene/kalkulator, pom

Mapper kodeverdi for utfall (#2499)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/del_entiteter/Refusjon.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/RefusjonskravFristUtfallKodeverdiConverter.java
Labels: none

Setter utfall til udefinert der det er lagret ned som 0 (#2501)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_42_sette_riktig_utfall.sql
Labels: migreringer

Fikser filnavn (#2503)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_42__sette_riktig_utfall.sql
Labels: migreringer

Legger på logging for koblinger (#2510)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AvklaringsbehovutledertjenesteVurderRefusjonPleiepenger.java
Labels: domene/kalkulator

Lager tabell for koblingrelasjon (#2512)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/kobling/KoblingEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/kobling/KoblingRelasjon.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepository.java
  domenetjenester/src/main/resources/META-INF/pu-default.beregningsgrunnlag.orm.xml
  domenetjenester/src/main/resources/META-INF/pu-default.kobling.orm.xml
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_43__tabell_for_koblingrelasjon.sql
Labels: migreringer

Fikser verdier for utfall (#2516)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_44__sette_riktig_utfall_v2.sql
Labels: migreringer

Lagrer ned og tar i bruk koblingrelasjon (#2515)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/GUIBeregningsgrunnlagInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/KontrollerBeregningsinputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kobling/KoblingTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepository.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FordelBeregningsgrunnlagAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/LagVurderRefusjonDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/VurderRefusjonDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/LagVurderRefusjonDtoTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/FortsettBeregningListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/StartBeregningListeRequest.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: domene/kontrakt, domene/kalkulator

Fikser skrivefeil i sql (#2520)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepository.java
Labels: none

TFP-4756: Ser alltid på refusjonskrav under bestemmelse av fraksjon i andelsmessig fordeling (#2519)
  pom.xml
Labels: pom

FIX: Kommentar (#2524)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/FordelBeregningsgrunnlagTilfelleTjeneste.java
Labels: domene/kalkulator

Håndtere opphør før start (#2526)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
Labels: domene/kalkulator

Gir frontend beskjed om å avviksvurdere ved ingen krav (#2528)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspenger.java
Labels: domene/kalkulator

Legger til tomme konstruktører for mapping (#2530)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/refusjon/RefusjonAndelTilVurderingDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/refusjon/RefusjonTilVurderingDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/refusjon/TidligereUtbetalingDto.java
Labels: domene/kontrakt

Tillater at pleiepenger kan beregnes uten utbetalingsgrader (#2532)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/PleiepengerSyktBarnGrunnlag.java
Labels: domene/kontrakt

Avklaringsbehov extender baseentitet (#2534)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovEntitet.java
  web/app-vtp.properties
Labels: none

Utvider frisinn til 40 søknadsperioder (#2537)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/FrisinnGrunnlag.java
Labels: domene/kontrakt

Skiller på utbetalt og grunnlag under vurdering for kva felt som brukes til å hente refusjon som utleder aksjonspunkt. (#2536)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AvklaringsbehovutlederRefusjonEtterSluttdato.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/BeregningRefusjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/RefusjonTidslinjeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/RefusjonTidslinjeTjenesteTest.java
Labels: domene/kalkulator

TFP-4714: Setter avvik på besteberegning vurderingsgrunnlag (#2541)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/BesteberegningVurderingGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/ForeslåBesteberegning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapBesteberegningFraRegelTilVL.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapBesteberegningFraRegelTilVLTest.java
Labels: domene/kalkulator

TFP-4714: Felter i besteberegningdto for avvik (#2543)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/YtelsespesifiktGrunnlagTjenesteFP.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fp/BesteberegninggrunnlagDto.java
Labels: domene/kontrakt, domene/kalkulator

Inntektskategori settes til udefinert og ikkje null, egen regelmapping for fastsettsteget fra regel (#2546)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/del_entiteter/FastsattInntektskategori.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/fastsett/MapFastsattBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/FastsattInntektskategori.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/OpprettPerioderOgAndelerForTilkommetInntekt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kontrakt, domene/kalkulator

Fjerner bruk av vurder refusjon bg og fjerner ubrukt refusjonskravdato fra gui input (#2540)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapTilGUIInputFraKalkulator.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/VurderRefusjonDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/LagVurderRefusjonDtoTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BeregningsgrunnlagPrStatusOgAndelDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspengerTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/KunYtelseDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonEllerGraderingArbeidsforholdDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderBesteberegningTilfelleDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderMottarYtelseDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderRefusjonTilfelleDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/YtelsespesifiktGrunnlagTjenesteOMPTest.java
Labels: domene/kalkulator

Åpner opp for vurdering av refusjon for OMP (#2549)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AvklaringsbehovutledertjenesteVurderRefusjonK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AvklaringsbehovutledertjenesteVurderRefusjonOMP.java
  web/app-vtp.properties
Labels: domene/kalkulator

Filtrerer ikkje bort andeler uten utbetalingsgrad til brev (#2553)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
Labels: none

Bruker ikkje utbetalingsgrader i mapping til brevgrunnlag (#2555)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
Labels: none

Tar i bruk egen regel for naturalytelse (#2552)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/naturalytelse/MapNaturalytelserFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FordelBeregningsgrunnlagAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/periodisering/FastsettNaturalytelsePerioderTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/periodisering/FastsettNaturalytelsePerioderTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/BeregningTjenesteProvider.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/BeregningTjenesteWrapper.java
  pom.xml
Labels: domene/kalkulator, pom

Nytt steg for vurdering av vilkår (#2558)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapStegTilTilstand.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapTilstandTilSteg.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegInputMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/VurderBeregningsgrunnlagvilkårInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/KalkulatorInterface.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/VurderRefusjonBeregningsgrunnlag.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagSNTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/testutilities/TestHjelper.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/BeregningTjenesteProvider.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/BeregningTjenesteWrapper.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/BeregningsgrunnlagGrunnlagTestUtil.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FlereArbeidsforholdMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FlereArbeidsforholdTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FrilanserMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/FrilanserTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/KombinasjonArbtakerFrilanserSelvstendigTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/MilitærTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/SelvstendigNæringsdrivendeMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/SelvstendigNæringsdrivendeTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/verdikjede/VerdikjedeTestHjelper.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningSteg.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagTilstand.java
Labels: domene/kontrakt, domene/kalkulator

Oppdaterer input med bg fra original (#2561)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
Labels: none

Rename steg (#2563)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningSteg.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/StegType.java
Labels: domene/kontrakt

Fikser validering og mapping av g-beløp for kjøring av vilkårsteg (#2565)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagPeriodeRegelType.java
Labels: domene/kontrakt, domene/kalkulator

PSB av Dagpenger (#2567)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapAktivitetStatusVedSkjæringstidspunktFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapOpptjeningAktivitetFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBGStatuserFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapAktivitetStatusV2FraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapOpptjeningAktivitetTypeFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapUttakArbeidTypeTilAktivitetStatusV2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/InfotrygdvedtakMedDagpengerTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMatcher.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AktivitetStatus.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/OpptjeningAktivitetType.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

Logikk for å oppdatere input med utbetalingsgrader (#2569)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/FortsettBeregningListeRequest.java
Labels: domene/kontrakt

Update pom.xml
  kalkulator/pom.xml
Labels: pom

Fjerner sjekk på om vilkåret allerede er vurdert (#2575)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
Labels: none

Bugfix for PSB av DP (#2577)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapOpptjeningAktivitetFraRegelTilVL.java
  web/app-vtp.properties
Labels: domene/kalkulator

init: github codespaces (#2583)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/postAttachCommand.sh
  .github/.m2/settings.xml
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/release-kontrakt.yml
  .github/workflows/stale.yml
  README.md
Labels: none

Rydder i kodeverk og entiteter
  domenetjenester/src/main/resources/META-INF/pu-default.beregningsgrunnlag.orm.xml
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/FaktaVurderingKilde.java
Labels: domene/kontrakt
