Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

Sender inn liste med aktørID
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: web

Mapper til aktørid til string
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: web

Legger til aksjonspunktkode i abacattributter
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
Labels: none

Fikse mapping av aksjonspunkter
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: web

Fikser attributtnavn for behandlingstatus og sakstatus. Flytter domenespesifikke nøkler til miljøvariabler
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/DomeneAbacAttributter.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/FellesAbacAttributter.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/XacmlRequestBuilderTjenesteImpl.java
Labels: web

Legger til variabler i app.properties
  web/app-vtp.properties
Labels: none

FIX: legge på manglende inject annotasjon
  .deploy/prod-fss.yml
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/DomeneAbacAttributter.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/XacmlRequestBuilderTjenesteImpl.java
Labels: web

Fiks diagnostikktjeneste
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpsters.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KalkulatorInputDump.java
Labels: none

Fikser spørring i diagnostikkdump
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/BeregningsgrunnlagDump.java
Labels: none

Legger på logging
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/BeregningsgrunnlagDump.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KalkulatorInputDump.java
Labels: none

Mer logging
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/BeregningsgrunnlagDump.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KalkulatorInputDump.java
Labels: none

Fikse feil i kalkulatorinputdumper
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpsters.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KalkulatorInputDump.java
Labels: none

Fikse inputspørring
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KalkulatorInputDump.java
Labels: none

Logger warning fra debugdumpster
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpsters.java
Labels: none

Caster UUUID til varchar
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/BeregningsgrunnlagDump.java
Labels: none

Fikser sql for beregningsgrunnlagdump og legger til test
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/BeregningsgrunnlagDump.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/BeregningsgrunnlagDumpTest.java
Labels: none

Drar inn jersey i domenetjenester for å kunne prosessere outputStream (#3078)
  domenetjenester/pom.xml
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpstersTest.java
Labels: pom

Legger til flere jersey avhengigheter
  domenetjenester/pom.xml
Labels: pom

Tostringmetode for saksnummer-type returnerer kun saksnummer
  domenetjenester/pom.xml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/del_entiteter/Saksnummer.java
Labels: pom

Ny dump-tjeneste for avklaringsbehov, fikse dump for input
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/AvklaringsbehovDump.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/BeregningsgrunnlagDump.java
Labels: none

Lage spesielt periodefilter for § 8-47
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagInput.java
Labels: domene/kalkulator

Endrer fra å hardkode behandlingsstatus til å kalle pdp med behandlingsuuid (#3083)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  web/app-vtp.properties
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/DomeneAbacAttributter.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/XacmlRequestBuilderTjenesteImpl.java
Labels: web

Legger til saksnummer i abacattributter ved bruk av saksnummer-type
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/SaksnummerDto.java
Labels: none

Sletter regelsporinger som er inaktive når siste steg i beregning er ferdig (#3093)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
Labels: none

TSF-2656 Ikke-yrkesaktiv matches kun mot Arbeidstaker-status (#3096)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/NyAktivitetMedSøktYtelseFordeling.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMatcher.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FinnTidslinjeForErNyAktivitet.java
Labels: domene/kalkulator

TSF-2659 Fjerner viderføring av overstyring av beregningsaktiviteter (#3095)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/VidereførOverstyring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/VidereførOverstyringK14.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/VidereførOverstyringK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterOMP.java
Labels: domene/kalkulator

TSF-2656 Mapper ikke IKKE_YRKESAKTIV til aktivitetstatus
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMatcher.java
Labels: domene/kalkulator

Legge til byte-order mark (#3104)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/ZipOutput.java
Labels: none

TSF-2675 Legge inn satser for 2022 (#3108)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_56__ny_sats.sql
Labels: migreringer

FIX: Sletter arbeidsgiveropplysninger (#3107)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/MapBeregningAktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/ArbeidsgiverOpplysningerDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/arbeid/v1/ArbeidsgiverOpplysningerDto.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/ArbeidMapperTest.java
Labels: domene/kontrakt, domene/kalkulator

Henter ut behandlinguuid i staden for å setje som array. Legger på logging
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: web

Revert "Endrer fra å hardkode behandlingsstatus til å kalle pdp med behandlingsuuid (#3083)"
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  web/app-vtp.properties
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/DomeneAbacAttributter.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/XacmlRequestBuilderTjenesteImpl.java
Labels: web

Lager midlertidig forvaltningstjeneste for å slette inaktive regelsporinger (#3119)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/FjernRegelsporingLimit.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/RegelsporingForvaltningRestTjeneste.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: web

FIX: Bruker ikke ytelseinntekt under besteberegning om ingen ytelsevedtak finnes (#3113)
  pom.xml
Labels: pom

Endrer action til read for midlertidig forvaltningstjeneste
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/RegelsporingForvaltningRestTjeneste.java
Labels: none

Fikser dtoer for sletting av inaktive regelsporinger
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/FjernRegelsporingLimit.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/RegelsporingForvaltningRestTjeneste.java
Labels: none

Fjerne swaggertjeneste for sletting av regelsporinger
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/FjernRegelsporingLimit.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/RegelsporingForvaltningRestTjeneste.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: web

Legger til opprettet tid i dump-data for input
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KalkulatorInputDump.java
Labels: none

Håndtere at ansettelsesperioder kan overlappe
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/permisjon/PermisjonFilter.java
Labels: domene/kalkulator

Bruker alle ytelser fra iay-grunnlaget i logikk for permisjoner (#3128)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/AktørYtelseDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektArbeidYtelseAggregatBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/permisjon/PermisjonFilter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/permisjon/PermisjonPerYrkesaktivitet.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelFellesTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/felles/BeregningUtilsTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/skjæringstidspunkt/AvklarAktiviteterTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapArenaVedtakTilBesteberegningRegelmodellTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/ErArbeidsgiverInaktivTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/testutilities/BeregningIAYTestUtil.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/FagsakYtelseType.java
Labels: domene/kontrakt, domene/kalkulator

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
