Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - changed-files:
      - any-glob-to-any-file: ['kontrakt/src/main/java/**/*', 'kodeverk/src/main/java/**/*']

domene/kalkulator:
  - changed-files:
      - any-glob-to-any-file: ['felles/src/main/java/**/*', 'kalkulator/src/main/java/**/*']

migreringer:
  - changed-files:
      - any-glob-to-any-file: ['migreringer/src/main/**/*']

web:
  - changed-files:
      - any-glob-to-any-file: ['web/src/main/java/**/*']

pom:
  - changed-files:
      - any-glob-to-any-file: ['**/*/pom.xml', 'pom.xml']

enable azure cc i prod (#4550)
  .deploy/prod-fss.yml
Labels: none

Tilkommet inntekt dump (#4557)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/TilkommetInntektDump.java
Labels: none

Finner kun aktive
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/TilkommetInntektDump.java
Labels: none

Fjerne semikolon
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/TilkommetInntektDump.java
Labels: none

FIX: Bruk riktig navn for aktivitetstatus
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/TilkommetInntektDump.java
Labels: none

Bruk riktig navn for arbeidsforholdref
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/TilkommetInntektDump.java
Labels: none

Legger til beskrivelse av grad
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/gradering/InntektGraderingPeriode.java
Labels: domene/kontrakt

Bumper kontrakt til J21, tar i bruk tiddserie i J21 versjon (#4565)
  pom.xml
Labels: pom

Validering på min og maksverdi (#4563)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/gradering/InntektGraderingPeriode.java
Labels: domene/kontrakt

FIX: Erstatter frisinn if med switch (#4573)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/frisinn/MapBeregningAktiviteterFraVLTilRegelFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningAktiviteter.java
Labels: domene/kalkulator

FIX: Rydder i tester (#4575)
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpstersTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/FrilansInntektTidslinjeUtil.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsgrunnlagInputTestUtil.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/GrunnbeløpMock.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/MatchBeregningsgrunnlagTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodellTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelRefusjonTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderRefusjonTilfelleOppdatererTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderSelvstendigNæringsdrivendeNyIArbeidslivetOppdatererTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/DirekteOvergangTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderRefusjonTilfelleDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/modell/SammenligningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/PeriodiserForAktivitetsgradTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagSNTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/FortsettForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/testutilities/BeregningIAYTestUtil.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
Labels: domene/kalkulator

Fjerne en rekke frisinn extends noe annet (#4578)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/Greguleringsstatusutleder.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/MapTilAvslagsårsakerFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/DefaultKonfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/FPKonfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/FRISINNKonfig.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/KonfigTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/konfig/Konfigverdier.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagFRISINNTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/frisinn/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/AvklarAktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/psb/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/BeregneFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlagTjenesteVelger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlagUtils.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/FullføreBeregningsgrunnlagFPImpl.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/FullføreBeregningsgrunnlagUtbgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/omp/FullføreBeregningsgrunnlagOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/psb/FullføreBeregningsgrunnlagPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/svp/FullføreBeregningsgrunnlagSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/AvklaringsbehovUtlederFaktaOmBeregningFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/BeregningsperiodeTjenesteFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettBeregningsperiodeTjenesteFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/ForeslåBeregningsgrunnlagFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FortsettForeslåBeregningsgrunnlagFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FullføreBeregningsgrunnlagFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/VilkårTjenesteFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/VurderBeregningsgrunnlagTjenesteFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/AvklarAktiviteterTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/psb/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepengerTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
Labels: domene/kalkulator

FIX: Rydder bort flere ubrukte felter, fokus på IAY (#4581)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLGraderingOgUtbetalingsgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLNaturalytelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVLRefusjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/frisinn/MapBeregningAktiviteterFraVLTilRegelFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/gradering/MapPerioderForGraderingFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/dto/VurderTilbaketrekkDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/Lønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/MatchBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerTilkomneAktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/BeregningsgrunnlagPrStatusOgAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnÅrsinntektvisningstall.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/gradering/AndelGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/AktørInntektDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/ArbeidsforholdInformasjonDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/ArbeidsforholdOverstyringDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/ArbeidsforholdOverstyringDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/ArbeidsforholdOverstyrtePerioderDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/ArbeidsforholdReferanseDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektArbeidYtelseGrunnlagDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektsmeldingAggregatDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektsmeldingSomIkkeKommerDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YrkesaktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/omp/SøknadsperioderPrAktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/Arbeidsgiver.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/EksternArbeidsforholdRef.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/FaktaVurdering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/InternArbeidsforholdRefDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/ErArbeidsgiverInaktiv.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/beregningsperiode/BeregningsperiodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/ErArbeidsgiverInaktivTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjenesteTest.java
Labels: domene/kalkulator

Lager dump for grunnlagskopi (#4583)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/GrunnlagskopiDump.java
  web/app-vtp.properties
Labels: none

Dumper regelsporing for foreslå (#4588)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/ForeslåRegelSporingDump.java
Labels: none

Finner første dato for ansettelsesperioder og ikkje siste (#4591)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapArbeidsforholdFraVLTilRegel.java
  web/app-vtp.properties
Labels: domene/kalkulator

FIX Utleder startdato og håndterer både overlapp og kant i kant (#4593)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapArbeidsforholdFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtledStartdato.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtledStartdatoTest.java
Labels: domene/kalkulator

Lett ommøblering av fastsettstp og kofak (#4589)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/saksopplysninger/LønnsendringSaksopplysningTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagFRISINNTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterInntektrapporteringTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterMeldekortTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningAktiviteter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/BeregningsperiodeFastsetter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/BeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/FastsettBeregningsperiodeATFL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/FastsettBeregningsperiodeForLønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/FastsettBeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/FastsettBeregningsperiodeTjenesteFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/FastsettSkjæringstidspunktOgStatuserK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/SkjæringstidspunktFastsetter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettBeregningsperiodeTjenesteFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/ForeslåSkjæringstidspunktTjenesteFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklarAktiviteterTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepengerTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningAktiviteterTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningsaktiviteterOMPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/BeregningsperiodeTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/FastsettSkjæringstidspunktOgStatuserK14Test.java
Labels: domene/kalkulator

FIX: Rydder bort ubrukte regelfelter, og rydder i mappere (#4602)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapFullføreBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FullføreBeregningsgrunnlagFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapFullføreBeregningsgrunnlagFraVLTilRegelTest.java
  pom.xml
Labels: domene/kalkulator, pom

Rydde i toggles og funksjonalitet (#4608)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/KomprimerJsonInputRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/PerioderTilVurderingTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/DirekteOvergangTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/inntektskategori/FastsettInntektskategoriFraYtelseVedtak.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/inntektskategori/FastsettInntektskategoriTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/KunYtelseTilfelleUtleder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ForlengelsePeriodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/DirekteOvergangTjenesteTest.java
  web/app-vtp.properties
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kalkulator, web

Andeler uten utbetaling i revurdering bidrar ikkje til totalt grunnlag (#4610)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/RefusjonTidslinjeTjeneste.java
Labels: domene/kalkulator

Legger om flere kodeverdier til plain enums (#4612)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/LagVurderRefusjonDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/inntektskategori/FastsettInntektskategoriTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/ArbeidsforholdHandlingType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Arbeidskategori.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningAktivitetHandlingType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningSatsType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningVenteårsak.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagPeriodeRegelType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagRegelType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/FaktaOmBeregningTilfelle.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/FaktaVurderingKilde.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Hjemmel.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/InntektAktivitetType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/InntektPeriodeType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Inntektskategori.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/InntektskildeType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/InntektspostType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/LønnsinntektBeskrivelse.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Organisasjonstype.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PGIType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PeriodeÅrsak.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PermisjonsbeskrivelseType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/SammenligningsgrunnlagType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/SkatteOgAvgiftsregelType.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Utfall.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Vilkårsavslagsårsak.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/VirksomhetType.java
Labels: domene/kontrakt, domene/kalkulator

SPI for KonfigurasjonsVerdi (#4611)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/felles/verktøy/KalkulusKonfigurasjonVerdiProvider.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndtererApplikasjonTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/KonfigurasjonVerdi.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/KonfigurasjonVerdiProvider.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapFullføreBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/PerioderTilVurderingTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/ytelseovergang/InfotrygdvedtakMedDagpengerTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederFordelBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederNyttInntektsforhold.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederRepresentererStortinget.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/AvklaringsbehovUtlederFaktaOmBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaTjenesteK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ForlengelsePeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/FastsettBeregningsperiodeForLønnsendring.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/FastsettBeregningsperiodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/TilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/utils/TestKonfigurasjonVerdiProvider.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
  web/src/test/java/no/nav/folketrygdloven/kalkulus/jetty/JettyDevServer.java
Labels: domene/kalkulator, web

FIX: Rydder i kall fra domenetjenester mot kalkulator (#4615)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/KontrollerBeregningsinputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeldrepengerGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/MidlertidigForvaltningRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeldrepengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/besteberegning/Ytelseandel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/besteberegning/Ytelsegrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/besteberegning/Ytelseperiode.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/skjæringstidspunkt/BeregningsperiodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodellTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/forvaltning/OppdaterYtelsesspesifiktGrunnlagForRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/forvaltning/OppdaterYtelsesspesifiktGrunnlagListeRequest.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/jackson/RestImplementationClasses.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kontrakt, domene/kalkulator, web

ny felles uten OpenAM og STS systemcontext (#4553)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  pom.xml
Labels: pom

FIX: Fjerner felter som brukte utbetalingsgradtjeneste i detaljert dt… (#4624)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/UtledGraderingsdata.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPeriodeDto.java
Labels: domene/kontrakt

FIX: Endrer sjekk på lønnsendring fra findFirst til en som finner rel… (#4635)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderLønnsendringOppdatererTest.java
Labels: domene/kalkulator

Pensjonere FASTSETT_BG_SN (#4637)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/FastsettBruttoBgSNHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/foreslå/FastsettBruttoBeregningsgrunnlagSNHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/mapping/OppdatererDtoMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/UtledGraderingsdata.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FastsettBruttoBeregningsgrunnlagSNHåndterer.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FastsettBruttoBeregningsgrunnlagSNHåndtererTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/KodeKonstanter.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/HåndterBeregningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlagSNHåndteringDto.java
Labels: domene/kontrakt, domene/kalkulator

FIX: Egen type for utbetalingsgrad (#4631)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/FinnInntektstak.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapperFRISINN.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapperFRISINNTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapTilFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapFullføreBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/OmsorgspengerGrunnlagMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FinnArbeidsprosenterUtbetalingsgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/svp/PeriodeMedUtbetalingsgradDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/RefusjonTidslinjeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AvklaringsbehovutledertjenesteVurderRefusjonSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForUtbetalingsgradFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspengerTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/NyAktivitetMedSøktYtelseFordelingTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/YtelsespesifiktGrunnlagTjenesteOMPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenestePSBTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteSVPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/PeriodiserForAktivitetsgradTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/EtterlønnSluttpakkeTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/UtvidetInntektsperiodeUtlederTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapPerioderForGraderingFraVLTilRegelOgUtbetalingsgradTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgradTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/typer/Utbetalingsgrad.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/PeriodeMedUtbetalingsgradDto.java
Labels: domene/kontrakt, domene/kalkulator

FIX: Fjerner ubrukte avklaringsbehov som aldri har vært opprettet i kalkulus (#4625)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

FIX: Valuetype Saksnummer (#4647)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/GrunnbeløpRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/ForvaltningFrisinnRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjenesteTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/felles/v1/Saksnummer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/BeregnListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/BeregningsgrunnlagListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/HentBeregningsgrunnlagDtoListeForGUIRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/HentBeregningsgrunnlagListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/HentBeregningsgrunnlagRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/HentForSakRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/HåndterBeregningListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KalkulusRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KontrollerGrunnbeløpRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KontrollerInputForSakerRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierBeregningListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierOgResettBeregningListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/regelinput/KomprimerRegelInputRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/simulerTilkommetInntekt/FinnSimulerTilkommetInntektInputRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/simulerTilkommetInntekt/SimulerTilkommetInntektListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/simulerTilkommetInntekt/SimulerTilkommetInntektRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/tilkommetAktivitet/UtledTilkommetAktivitetListeRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/tilkommetAktivitet/UtledTilkommetAktivitetRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/regelinput/Saksnummer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/simulerTilkommetInntekt/SimulertTilkommetInntekt.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: domene/kontrakt, web

FIX: Flytter dekningsgrad og besteberegning boolean til ytelsegrunnlag for foreldrepenger (#4656)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeldrepengerGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulatorTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AvklaringsbehovutlederRefusjonEtterSluttdato.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AvklaringsbehovutledertjenesteVurderRefusjonFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AvklaringsbehovutledertjenesteVurderRefusjonSVP.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AvklaringsbehovutlederRefusjonEtterSluttdatoTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/ForeldrepengerGrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/YtelsespesifiktGrunnlagDto.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: domene/kontrakt, domene/kalkulator

Tillater refusjon etter opphørsdato for arbeidsforhold for pleiepenger (#4662)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjeneste.java
Labels: domene/kalkulator

FIX: Legger inn UUID alle steder vi tar imot arbeidsforholdId (#4660)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIAndel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/UtledErMottattYtelseEndringer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/UtledErTidsbegrensetArbeidsforholdEndringer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/mapping/OppdatererDtoMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/UtledEndringIRefusjonsperiode.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIAndelTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/UtledEndringIRefusjonsperiodeTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/avklaraktiviteter/BeregningsaktivitetLagreDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BGAndelArbeidsforhold.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BGAndelArbeidsforhold.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/forvaltning/AndelDifferanse.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/forvaltning/EndretPeriodeListeRespons.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/forvaltning/EndretPeriodeRespons.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/forvaltning/PeriodeDifferanse.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/BeregningsgrunnlagPrStatusOgAndelEndring.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/ErMottattYtelseEndring.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/ErTidsbegrensetArbeidsforholdEndring.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/RefusjonoverstyringPeriodeEndring.java
Labels: domene/kontrakt

FIX: Typing i gradering (#4666)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeldrepengerGrunnlagMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulatorTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FinnArbeidsprosenterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/gradering/AndelGradering.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapAndelGraderingTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoUtilTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/ManuellBehandlingRefusjonGraderingDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonEllerGraderingArbeidsforholdDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/RefusjonOgGraderingTjenesteTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/GraderingDto.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: domene/kontrakt, domene/kalkulator

FIX: Endrer alle ORGNR til NAV OSLO (#4668)
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/input/KalkulatorInputTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpstersTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovRepositoryTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepositoryTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelRefusjonTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImplTest.java
Labels: none

FIX: Skiller aktivitetsgrad i domeneklasse og kontraktsklasse (#4669)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeldrepengerGrunnlagMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulatorTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/GraderingDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/PeriodeMedUtbetalingsgradDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/felles/v1/Aktivitetsgrad.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: domene/kontrakt

FIX: Tar inn saksnummer som string i PDP request (#4674)
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: web

Bruker Saksnummer-type til abacattributt (#4677)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/SaksnummerDto.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: web

FIX: Legger inn kun saksnummer for MDC sporing istedenfor tostring av… (#4679)
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: web
