Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

Fikse kompileringsfeil
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
Labels: domene/kalkulator

Fjerner tilpassninger for Azure i jettyserver
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
Labels: web

Bumper regel
  pom.xml
  web/app-vtp.properties
Labels: pom

Fikser validering i dto
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/NyttInntektsforholdDto.java
Labels: domene/kontrakt

Håndterer at brutto ikkje er satt
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
Labels: domene/kalkulator

Fjerner openam config
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
Labels: none

Mapper kun refusjonskrav som fører til utbetaling (#3689)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegel.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelGraderingUtbgradTest.java
Labels: domene/kalkulator

Fix Besteberegning arbeidstaker og sjømann (#3691)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
Labels: domene/kalkulator

Ruller tilbake til steg ut ved tilbakehopp grunnet aksjonspunktbekreftelse (#3694)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndterer.java
Labels: domene/kalkulator

Revert "Ruller tilbake til steg ut ved tilbakehopp grunnet aksjonspunktbekreftelse (#3694)"
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndterer.java
Labels: domene/kalkulator

Rull tilbake pr steg (#3703)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeBeregningsgrunnlagFelles.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTilFordel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndterer.java
Labels: domene/kalkulator

Diverse bugfikser for gradering mot inntekt (#3695)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/TilkommetInntekt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/TilkommetInntektDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
Labels: domene/kalkulator

Kaller ikkje dto-tjeneste dersom ingen aksjonspunkt
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
Labels: domene/kalkulator

TFP-5175: Expand - mapper gammelt sammenligningsgrunnlag til nytt hvis vi ikke har noen nye men har gammelt. (#3702)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BGMapperTilKalkulus.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/SammenligningTypeMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
Labels: none

Rull tilbake logikk pr tilstand (stegstatus) og ikkje pr steg) (#3708)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeBeregningsgrunnlagFelles.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTilFastsattInn.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
Labels: none

Skal finne tilkommet næringsinntekt basert på ny aktivitet fra uttak (#3712)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
Labels: domene/kalkulator

Nullsjekk på arbeidsgiver (#3715)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjenesteTest.java
Labels: domene/kalkulator

Sammenfaller tidslinjeimplementasjon og aksjonspunktimplementasjon fo… (#3719)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
Labels: domene/kalkulator

TFP-5175: Expand - brev dto (#3723)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBrevBeregningsgrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagDto.java
Labels: domene/kontrakt

Logger ut forlengelseperioder
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

Logger perioder med diff
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

Feiler ikkje dersom det kun er endring i helg
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/forlengelse/ForlengelseTjeneste.java
Labels: none

Forbedringer av forlengelse/kopi funksjonalitet: Fjerner looping over alle perioder for å unngå timeout ved mange perioder, fjerner dobbel lagring av regelsporing (#3729)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/fastsett/MapFastsattBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelBeregningsgrunnlagTjeneste.java
Labels: domene/kalkulator

Får tilkommet inntektsforhold aksjonspunkt basert på frilans oppgitt i søknad også dersom det ikke finnes i aareg (#3731)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
Labels: domene/kalkulator

Splitter periode ved forlengelse (#3734)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ForlengelsePeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/VurderRefusjonBeregningsgrunnlagFelles.java
Labels: domene/kalkulator

Legger til runconfig for intelliJ
  .run/JettyDevServer.run.xml
Labels: none

Regelsporing refaktorering (#3746)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingPeriodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelSporingTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
Labels: none

Legger til forlengelseperioder i output fra diagnostikkendepunktet (#3756)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/SaksnummerDto.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/BeregningsgrunnlagDump.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/ForlengelsePerioderDump.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/KalkulatorInputDump.java
Labels: none

Logger warning dersom vi finner inntektsmelding uten noen registrerte arbeidsforhold i aareg (#3753)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/LagKravperioder.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
Labels: none

Slår sammen fordel-implementasjoner for SVP, PSB, PPN og OLP. Fjerner… (#3730)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/TilkommetInntekt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderRepresentererStortingetTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/TilkommetInntektDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederNyttInntektsforhold.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/SplittBGPerioder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/FordelBeregningsgrunnlagTjenesteUtbGrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/PSBFordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/InntektsforholdDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_65__fjerne_not_null_constraint.sql
Labels: domene/kontrakt, domene/kalkulator, migreringer

Update pom.xml
  pom.xml
Labels: pom

Nye arbeidsforhold blir ikkje regnet som tilkommet dersom det er registrert 100 prosent permisjon (#3761)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ForlengelsePeriodeTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
Labels: domene/kalkulator

Lagrer ned data for kopi for sporing (#3765)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/kobling/KoblingGrunnlagskopiSporing.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kobling/KoblingTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepository.java
  domenetjenester/src/main/resources/META-INF/pu-default.kobling.orm.xml
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_66__tabell_for_grunnlagskopi.sql
Labels: migreringer

Endre navn på entitet
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/kobling/KoblingGrunnlagskopiSporing.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepository.java
Labels: none

Fikser kopikonstruktør npe
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndel.java
Labels: none

Rydder i toggles
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
Labels: none

FIX nullpointer i opprettelse av Tilkommet inntekt
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/TilkommetInntekt.java
Labels: none

Løser aksjonspunkt opprettet i samme steg som overstyring i staden for å beholde den som opprettet når trekke overstyring toggle er på (#3778)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndtererApplikasjonTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  web/app-vtp.properties
Labels: none

Bruker skjønnsfastsatt inntekt dersom denne er satt, regelbump (#3783)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/Årsgrunnlag.java
  pom.xml
  web/app-vtp.properties
Labels: domene/kalkulator, pom

Bump regel (#3785)
  pom.xml
Labels: pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
