Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

TFP-4129: Hensyntar mulig redusering mot grenseverdi før man vurderer om aksjonspunkt skal opprettes (#1832)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/VurderRefusjonDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AksjonspunktutlederVurderRefusjon.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AndelerMedØktRefusjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/BeregningRefusjonTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/BeregningRefusjonTjenesteTest.java
Labels: domene/kalkulator

TFP-4229: Meldekort skal begrenses av den overordnede vedtaksperioden for ytelsen (#1838)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
Labels: domene/kalkulator

TFP-2827: Skal ikke bry oss om refusjon etter endt arbeidsforhold hvis det er frem i tid i forhold til behandlingstidspunkt (#1837)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeldrepengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/SvangerskapspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AksjonspunktutlederRefusjonEtterSluttdato.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AksjonspunktutledertjenesteVurderRefusjonFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AksjonspunktutledertjenesteVurderRefusjonSVP.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AksjonspunktutlederRefusjonEtterSluttdatoTest.java
Labels: domene/kalkulator

Update pom.xml
  pom.xml
Labels: pom

fix: test som sliter når now() er siste dag i måneden
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjenesteTest.java
Labels: none

chore: logback-test.xml for test
  kalkulator/src/test/resources/logback-test.xml
Labels: none

refactor: code cleanup warnings
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/GUIBeregningsgrunnlagInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapBeregningsgrunnlagFRISINNTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapInntektstakFRISINNTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/ErFjernetIOverstyrt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnAnsettelsesPeriode.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/BeregningstidspunktTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/HarYrkesaktivitetInnsendtRefusjonForSent.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/BeregningsgrunnlagGUIInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/FaktaOmBeregningInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/PleiepengerSyktBarnGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/StegProsesseringInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/OppgittOpptjeningDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/OppgittOpptjeningDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/PermisjonDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/output/BeregningsgrunnlagRegelResultat.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AksjonspunktUtlederFastsettBeregningsaktiviteter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImpl.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenestePSB.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/OpprettPerioderOgAndelerForTilkommetInntekt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/AndelerMedØktRefusjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/FinnStartdatoPermisjonTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/skjæringstidspunkt/AvklarAktiviteterTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningAktiviteterTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/AksjonspunktUtlederFordelBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteSVPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/FastsettInntektskategoriTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/KontrollerFaktaBeregningFrilanserTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/periodisering/FastsettBeregningsgrunnlagPerioderTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/testutilities/BeregningInntektsmeldingTestUtil.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/HentBeregningsgrunnlagRequest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagListe.java
Labels: domene/kontrakt, domene/kalkulator

fix: opprydding bruk av feil assertions api
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/UtledErMottattYtelseEndringerTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/håndtering/faktaberegning/UtledErTidsbegrensetArbeidsforholdEndringerTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapperFRISINNTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLFordelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9Test.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/aksjonspunkt/BeregningFaktaOgOverstyringHåndtererTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/aksjonspunkt/FordelRefusjonTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/aksjonspunkt/tilfeller/VurderLønnsendringOppdatererTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/aksjonspunkt/tilfeller/VurderRefusjonTilfelleOppdatererTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/NyAktivitetMedSøktYtelseFordelingTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderRefusjonTilfelleDtoTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningAktiviteterTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningsaktiviteterOMPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/InntektsmeldingMedRefusjonTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FinnSøknadsperioderTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgradTest.java
Labels: none

fix: ikke tillatt directory listing på server
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
Labels: web

FIX: Liten kommentarfiks (#1857)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
Labels: domene/kalkulator

FIX: Mer logg av andel ved feil i verifiserer (#1856)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
Labels: domene/kalkulator

Tsf 1719 (#1862)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/opptjening/OpptjeningAktiviteterDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/opptjening/v1/MidlertidigInaktivType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/opptjening/v1/OpptjeningAktiviteterDto.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

Tsf 1719 midlertidiginaktiv enum (#1866)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/opptjening/v1/MidlertidigInaktivType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/opptjening/v1/OpptjeningAktiviteterDto.java
Labels: domene/kontrakt

TFP-4307: Fiks for SVP periodisering (#1864)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/fp/MapRefusjonPerioderFraVLTilRegelFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
  pom.xml
Labels: domene/kalkulator, pom

Feature/tfp 4275 (#1872)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  pom.xml
Labels: domene/kalkulator, pom

feature: oppdaterer java 16 (#1874)
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/release-kontrakt.yml
  Dockerfile
  pom.xml
Labels: pom

TFP-4309: Sjekker om utledet startdato er før opphør av refusjon fra inntektsmeldingen (#1890)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/fp/MapRefusjonPerioderFraVLTilRegelFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapRefusjonPerioderFraVLTilRegelUtbgrad.java
Labels: domene/kalkulator

FIX: Fjerner threeten (#1886)
  felles/src/main/java/no/nav/folketrygdloven/kalkulus/felles/diff/TraverseGraphConfig.java
  felles/src/main/java/no/nav/folketrygdloven/kalkulus/felles/tid/AbstractIntervall.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/tid/Intervall.java
  pom.xml
Labels: domene/kalkulator, pom

TSF-1715: Tjeneste for å finne avvik for saker påvirket av feil (#1855)
  database/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepository.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/DiffResultatDto.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/KontrollerBeregningsinputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/ForvaltningFrisinnRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFRISINN.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningAksjonspunkt.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KontrollerInputForSakerRequest.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kontrakt, domene/kalkulator, web

TSF-1715: Legger på grunnbeløp som trengs for at regel for ren SN skal gå gjennom (#1897)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/KontrollerBeregningsinputTjeneste.java
Labels: none

Fjerner refusjon til arbeidsgiver ved 8-47
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
Labels: domene/kalkulator

Feature/tfp 4325 (#1908)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeldrepengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/Ytelseandel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/Ytelsegrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/Ytelseperiode.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/ForeldrepengerGrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/besteberegning/Ytelseandel.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/besteberegning/Ytelsegrunnlag.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/besteberegning/Ytelseperiode.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

TFP-4325: Mapper til korrekt andel (#1913)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapBesteberegningFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
Labels: domene/kalkulator

TSF-1655: Endringer til varig endring håndterer (#1915)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/aksjonspunkt/VurderVarigEndretNyoppstartetSNHåndterer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndringEllerNyoppstartetSNDto.java
Labels: domene/kontrakt, domene/kalkulator

TSF-1752: Mapper erDirekteUtbetaling for FL/SN (#1918)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/OmsorgspengerGrunnlagMapper.java
Labels: domene/kalkulator

FIX: Egen versjon av utlder for ap i fastsett aktiviteter for SVP som ikke setter på vent pga meldekort for AAP / DP (#1920)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/svp/AksjonspunktUtlederFastsettBeregningsaktiviteterSVP.java
Labels: domene/kalkulator

FIX: Legger på nytt felt til bruk av brev (#1924)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapDetaljertBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BGAndelArbeidsforhold.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kontrakt

TSF-1666: Hensyntar ikke permisjon når vi setter sluttdato hvis dette… (#1927)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningAktiviteterFraVLTilRegelK9Test.java
Labels: domene/kalkulator

TSF-1765: Løsner på validering av utbetalingsgrad på meldekort, validerer heller nærmere domene for å gjøre mer detaljert validering (#1929)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseDtoBuilder.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/FagsakYtelseType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/ytelse/v1/YtelseAnvistDto.java
Labels: domene/kontrakt, domene/kalkulator

Feature/fix brev pleiepenger (#1934)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/HentKalkulusRestTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
Labels: none

Nye versjoner av bibliotek (#1936)
  pom.xml
Labels: pom

FIX: kommentar (#1938)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/InntektForAndelTjeneste.java
Labels: domene/kalkulator

fix: bruk kun major version for offisielle GHA
  .github/workflows/build.yml
Labels: none

chore: bruk kun major version for offisielle GHA
  .github/workflows/promote.yml
Labels: none

TFP-4360: Slår sammen overlappende arenavedtak for besteberegning (#1951)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapArenaVedtakTilBesteberegningRegelmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapArenaVedtakTilBesteberegningRegelmodellTest.java
Labels: domene/kalkulator

TFP-4360: Forenkler besteberegning til å kun se på meldekort for DP / AAP (#1955)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapArenaVedtakTilBesteberegningRegelmodell.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapArenaVedtakTilBesteberegningRegelmodellTest.java
Labels: domene/kalkulator

Oppdatert grunnbeløp for 2021 (#1958)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_30__ny_grunnbeløpsats_2021.sql
Labels: migreringer

Erstatter GITHUB_ACCESS_TOKEN.
  .github/workflows/build.yml
Labels: none

Erstatter GITHUB_ACCESS_TOKEN
  .github/workflows/release-kontrakt.yml
Labels: none

TSF-1786: Innfører steg til kalkulus via kodeverk og ikke bare kontra… (#1964)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapStegTilTilstand.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/KontrollerBeregningsinputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/MapStegTilTilstandTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/output/BeregningAksjonspunktResultat.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AksjonspunktUtlederFastsettBeregningsaktiviteterFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/svp/AksjonspunktUtlederFastsettBeregningsaktiviteterSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/omp/AksjonspunktUtlederFastsettBeregningsaktiviteterOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/aksjonpunkt/AksjonspunktUtlederFordelBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/AksjonspunktUtlederForeslåBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/AksjonspunktUtlederFaktaOmBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AksjonspunktutledertjenesteVurderRefusjonFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/AksjonspunktutledertjenesteVurderRefusjonSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/AksjonspunktUtlederFaktaOmBeregningFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/AksjonspunktUtlederFastsettBeregningsaktiviteterFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AksjonspunktUtlederFastsettBeregningsaktiviteterTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/AksjonspunktUtlederFordelBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/AksjonspunktUtlederForeslåBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/AksjonspunktUtlederFaktaOmBeregningTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AksjonspunktDefinisjon.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningSteg.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/AksjonspunktMedTilstandDto.java
Labels: domene/kontrakt, domene/kalkulator
