Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Legger til getter og fikser jsonnavn
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/BeregningAktiviteterEndring.java
Labels: domene/kontrakt

Legger til andelsnr i endringsobjekt (#2842)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIAndel.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/UtledEndringForRefusjonOverstyring.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/refusjon/VurderRefusjonBeregningsgrunnlagHåndterer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/BeregningsgrunnlagPrStatusOgAndelEndring.java
Labels: domene/kontrakt

fix: bruk ordentlig aktiv indeks for postgres (mindre overhead) (#2669)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_51__kalkulator-input-aktiv-idx.sql
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_52__dropp-gammel-kalkulator-input-idx.sql
Labels: migreringer

Legger til getter
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/BeregningsgrunnlagPrStatusOgAndelEndring.java
Labels: domene/kontrakt

Oppdatert config lokalt
  web/app-vtp.properties
Labels: none

Legger til ytelseandel i kontrakt og mapper til kalkulus (#2856)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/AnvistAndelMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/AnvistAndel.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/ytelse/v1/AnvistAndel.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/ytelse/v1/YtelseAnvistDto.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: domene/kontrakt, domene/kalkulator

FIX: Fjerner inntektskategori fra virksomhetstypekode (#2858)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/FastsettInntektskategoriTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/VirksomhetType.java
Labels: domene/kontrakt, domene/kalkulator

Patcher saker som har fått ugyldige overstyringer (#2866)
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_53__patche_saker_med_ugyldig_overstyring.sql
Labels: migreringer

Andeler fra ytelsevedtak (#2870)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseAnvistDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/inntektskategori/FastsettInntektskategoriFraYtelseVedtak.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/inntektskategori/FastsettInntektskategoriTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/KunYtelseTilfelleUtleder.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/inntektskategori/FastsettInntektskategoriTjenesteTest.java
  pom.xml
  web/app-vtp.properties
Labels: domene/kalkulator, pom

Legger inn sjekk på at alle ytelser har andeler, og mapper ny hjemmel (#2875)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapHjemmelFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/KunYtelseTilfelleUtleder.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/Hjemmel.java
Labels: domene/kontrakt, domene/kalkulator

Sjekker kun ytelse ved opprettelse av aksjonspunkt (#2877)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/KunYtelseTilfelleUtleder.java
Labels: domene/kalkulator

TFP-4924: Setter inntektskategori om det er satt i dto fra saksbehandler (#2879)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/FastsettMånedsinntektUtenInntektsmeldingOppdaterer.java
Labels: domene/kalkulator

Reverter endring for å ta hensyn til søknadsperioder fra bruker for omsorgspenger (#2882)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/OmsorgspengeGrunnlagMapper.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlagTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/BrukerSøktForAllePerioderMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/SøknadsperiodeMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/SøknadsperiodeMapperOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/OmsorgspengerGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/VurderRefusjonBeregningsgrunnlagFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/omp/FastsettPerioderBrukersSøknad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/omp/VurderRefusjonBeregningsgrunnlagOMP.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapRefusjonskravFraVLTilRegelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FastsettGrunnlagOmsorgspengerTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/YtelsespesifiktGrunnlagTjenesteOMPTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagSNTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/v1/OmsorgspengerGrunnlag.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

TSF-2519 Vurderer om bruker har ytelsevedtak basert på frilans ved vurdering av om det skal opprettes aksjonspunkt for vurder-mottatt-ytelse (#2883)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjeneste.java
Labels: domene/kalkulator

FIX: Kopierer med inntektskategori fra manuell fordeling (#2890)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/FastsattInntektskategori.java
Labels: domene/kalkulator

Skrur på forlengelse i prod
  .deploy/prod-fss.yml
Labels: none

Setter arbeidsgiver og arbeidsforholdId i nøkkel for beregningaktivitet
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIAktiviteter.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/BeregningAktivitetNøkkel.java
Labels: domene/kontrakt

Fikser endringsutledning for avklar aktiviteter
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIAktiviteter.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/overstyring/OverstyrBeregningsaktiviteterHåndterer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/overstyring/OverstyrBeregningsgrunnlagHåndterer.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/håndtering/BeregningAktivitetEndring.java
Labels: domene/kontrakt

Setter fra-verdi for tom-dato til tom-dato for registeraktivitet dersom aktiviteten var valgt bort i forrige aktive aggregat (#2898)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/UtledEndringIAktiviteter.java
Labels: none

Toggler på beregning fra ytelseandeler i prod
  .deploy/prod-fss.yml
Labels: none

Fjerner jsongetter (#2900)
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjenesteImplTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kontrakt

Legger til gettere i andelkontrakt
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningsgrunnlagPrStatusOgAndelDto.java
Labels: domene/kontrakt

Update prod-fss.yml
  .deploy/prod-fss.yml
Labels: none

Fjerner mapping av infotrygdgrunnlag til anviste andeler (#2908)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/AnvistAndelMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapTilGUIInputFraKalkulator.java
Labels: none

Manuell fordeling tar utgangspunkt i eksisiterende andeler (#2907)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/mapping/OppdatererDtoMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelRefusjonTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/fordeling/FordelBeregningsgrunnlagAndelDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/fordeling/FordelFastsatteVerdierDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/fordeling/RedigerbarAndelDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelingUtenRefusjonskravTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsgrunnlagInputTestUtil.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndtererTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelRefusjonTjenesteTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/FordelBeregningsgrunnlagAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/FordelRedigerbarAndelDto.java
Labels: domene/kontrakt, domene/kalkulator

Litt javadoc
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/FaktaAggregatDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFakta.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaTjenesteK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaTjenesteOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/fakta/FastsettFaktaTjenestePleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/periodisering/FastsettNaturalytelsePerioderTjeneste.java
Labels: domene/kalkulator

TFP-4933 Lagt inn at dersom andelen er av typen Arbeidskategori.INAKTIV mappes den til ytelsesaktivitetstype dagpenger når det besteberegnes. (#2918)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodell.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapBesteberegningFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapTilBesteberegningRegelmodellTest.java
Labels: domene/kalkulator

Oppretter aksjonspunkt for kun-ytelse som ikke har vedtak med andeler og der ytelseperiode slutter før beregningstidspunktet (#2920)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/InfotrygdvedtakMedDagpengerTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/MeldekortUtils.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/AktørYtelseDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapArenaVedtakTilBesteberegningRegelmodell.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AutopunktUtlederFastsettBeregningsaktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/ErArbeidsgiverInaktiv.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/BeregneFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/KunYtelseTilfelleUtleder.java
  pom.xml
Labels: domene/kalkulator, pom

Sjekker om det er mottatt ytelse direkte til bruker for arbeidsforhold uten inntektsmelding (#2924)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/VurderMottarYtelseTjenesteTest.java
Labels: domene/kalkulator

FIX: Flytter tester inn i kalkulus som før lå i fpsak (#2923)
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjenesteTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/FastsettBeregningsaktiviteterInput.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettSkjæringstidspunktOgStatuser.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ForeslåSkjæringstidspunktTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14Test.java
Labels: domene/kalkulator

FIX: Ytelsegrunnlag SVP (#2929)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/ytelse/SvangerskapspengerGrunnlagMapper.java
  pom.xml
Labels: domene/kalkulator, pom

Erstatter orgnr med NAV orgnr (#2935)
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulatorTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapperFRISINNTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepositoryTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLFordelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndtererTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/FastsettMånedsinntektUtenInntektsmeldingOppdatererTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/FastsettBeregningAktiviteterTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/RefusjonOgGraderingTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/periodisering/FastsettNaturalytelsePerioderTjenesteImplTest.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/ArbeidMapperTest.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
Labels: none

Mapper kun utbetalingsgrad for AAP og DP for FRISINN (#2927)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFRISINN.java
Labels: domene/kalkulator

Setter utbetalingsfaktor til 1 og ikkje null
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFRISINN.java
Labels: domene/kalkulator

Nare 2.2 og fjerne ubrukt web-konfig (#2931)
  pom.xml
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/IndexClasses.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/jackson/JacksonJsonConfig.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/jackson/StringSerializer.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationContextListener.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationServiceStarter.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/rest/ResourceLink.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/rest/package-info.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/selftest/NaisRestTjeneste.java
  web/src/test/java/no/nav/folketrygdloven/kalkulus/app/tjenester/ApplicationServiceStarterTest.java
  web/src/test/java/no/nav/folketrygdloven/kalkulus/app/tjenester/NaisRestTjenesteTest.java
Labels: web, pom

Update prod-fss.yml
  .deploy/prod-fss.yml
Labels: none

Rydder i log-config
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/exceptions/GeneralRestExceptionMapper.java
  web/src/main/resources/logback.xml
Labels: web

Regler 2167 og fjerne bruk av magiske koder (#2943)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/AvklaringsbehovUtlederForeslåBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/VurderBeregningsgrunnlagTjenesteFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/AvklaringsbehovUtlederForeslåBeregningTest.java
  pom.xml
  web/pom.xml
Labels: domene/kalkulator, pom

FIX: Får k9 over på samme omfordelingsregler som fpsak (#2665)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLFordel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/omfordeling/OmfordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLFordelTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/FordelBeregningsgrunnlagTjenesteImplTest.java
Labels: domene/kalkulator

Mapper inn inntektskatgori for ytelseandeler (#2951)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  pom.xml
Labels: domene/kalkulator, pom
