Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

Bruker inntektsmeldingaggregatet til å bestemme om det er manglende inntektsmeldinger (#2190)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/InntektArbeidYtelseGrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/ArbeidstakerUtenInntektsmeldingTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/ArbeidstakerUtenInntektsmeldingTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/AvklaringsbehovUtlederFaktaOmBeregningTest.java
Labels: domene/kalkulator

TFP-4603: Endrer validering for å hensynta besteberegning (#2203)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapBesteberegningFraRegelTilVL.java
Labels: domene/kalkulator

TFP-4602: Ignorerer inntekt fra ytelser vi ikke finner et vedtak for under besteberegning (#2206)
  pom.xml
Labels: pom

Legger til vurdering av forlengelse (#2204)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/ForlengelseTjeneste.java
  web/app-vtp.properties
Labels: none

Endrer steg-ut-tilstand for foreslå-steget (#2208)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeslåBeregningsgrunnlagInput.java
Labels: domene/kalkulator

Meir logging ved migrering av aksjonspunkt (#2213)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/AksjonspunktMigreringTjeneste.java
Labels: none

TFP-4607: Setter inntektskategori for dagpengeandeler opprettet av be… (#2212)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapBesteberegningFraRegelTilVL.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapBesteberegningFraRegelTilVLTest.java
Labels: domene/kalkulator

FIX: Fikser validering ved KAP 8 besteberegning (#2216)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
Labels: domene/kalkulator

Setter messsage på exceptionet
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/KalkulatorException.java
Labels: domene/kalkulator

TFP-4532: Meldekort skal avgrenses til å ikke kunne starte før vedtaket de tilhører. Er bevisst valgt å ikke validere i andre retningen (altså de kan krysse vedtak tom) (#2219)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapArenaVedtakTilBesteberegningRegelmodell.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/besteberegning/MapArenaVedtakTilBesteberegningRegelmodellTest.java
Labels: domene/kalkulator

Bruker ansettelsesperiode og utbetalingsgradperiode til å bestemme gyldige refusjonsperioder (#2202)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/refusjon/MapRefusjonPerioderFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/fp/MapRefusjonPerioderFraVLTilRegelFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/svp/MapRefusjonPerioderFraVLTilRegelSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
Labels: domene/kalkulator

Håndtere segmenter som overlapper fra samme kilde (#2225)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/k9/MapRefusjonPerioderFraVLTilRegelK9.java
Labels: domene/kalkulator

Legger til støtte for kompensasjon ved ikke yrkesaktiv (#2224)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/UtbetalingsgradTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapUttakArbeidTypeTilAktivitetStatusV2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/NyAktivitetMedSøktYtelseFordeling.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMatcher.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FinnAndelsnrForAktivitetMedUtbgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
Labels: domene/kalkulator

Toggler av forlengelse i dev (#2229)
  .deploy/dev-fss.yml
Labels: none

Filtrerer bort avbrutte avklaringsbehov (#2228)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
Labels: domene/kalkulator

Får aksjonspunkt for nyoppstartet frilans om perioden som er oppgitt starter innenfor beregningsperioden (#2232)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/KontrollerFaktaBeregningFrilanserTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/utledere/NyoppstartetFLTilfelleUtleder.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/KontrollerFaktaBeregningFrilanserTjenesteImplTest.java
Labels: domene/kalkulator

Sjekker om antall perioder har endret seg i frontend i forrige behandling før kopiering (#2238)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/SpolFramoverTjeneste.java
Labels: none

K9 flytter ikkje beregningstidspunkt til før helga (#2241)
  .github/workflows/build-pr.yml
  pom.xml
Labels: pom

Felt for arbeidsgiverIdent (#2244)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/MapBeregningAktivitetDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/BeregningAktivitetDto.java
Labels: domene/kontrakt, domene/kalkulator

Renamer arbeidsgiverId (#2248)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderRefusjonTilfelleDtoTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/RefusjonskravSomKommerForSentDto.java
Labels: domene/kontrakt, domene/kalkulator

FIX: Renamer arbeidsgiverId til arbeidsgiverIdent for å matche resten av beregning (#2250)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/ytelsegrunnlag/YtelsespesifiktGrunnlagTjenesteFP.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/fp/BesteberegningInntektDto.java
Labels: domene/kontrakt, domene/kalkulator

FIX: Liten fiks for github actions V5 (#2255)
  .github/workflows/promote.yml
Labels: none

Bumper regel: Nye andeler med søkt ytelse i mellomliggende perioder (#2257)
  pom.xml
Labels: pom

Regel bump: Tar hensyn til eksisterende perioder (#2259)
  pom.xml
Labels: pom

Mapper tidslinje for ny aktivitet, samler utbetalingsgrader per arbeidsforhold om det ikkje er aggregert i k9-sak (#2262)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/periodisering/MapAndelGradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FinnAndelsnrForAktivitetMedUtbgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FinnTidslinjeForErNyAktivitet.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
  pom.xml
Labels: domene/kalkulator, pom

Oppretter ikkje duplikate perioder om det finnes i input (#2264)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/UtbetalingsgradMapper.java
Labels: none

Viser ikkje refusjon for saker som er opprettet i omfordeling (#2266)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/RefusjonDtoTjeneste.java
Labels: domene/kalkulator

Filterer bort andeler uten brutto (#2273)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
Labels: none

Ruller tilbake avklaringsbehov ved inngang til steg (#2272)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapTilstandTilSteg.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
  web/app-vtp.properties
Labels: none

Finner inntektstak ved overgang fra AAP eller DP (#2275)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
Labels: none

Matcher utbetalingsgrad for DP (#2278)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapTilKontrakt/MapFormidlingsdataBeregningsgrunnlag.java
Labels: none

Bump regel: Ny andel uten utbetalingsgrad i mellomliggende perioder med fordeling (#2281)
  pom.xml
Labels: pom

Viser riktig inntekt for arbeidsforhold uten inntektsmelding med inntektsmelding hos samme arbeidsgiver men annet arbeidsforhold (#2280)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/AndelerForFaktaOmBeregningTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektForVisning.java
Labels: domene/kalkulator

Nytt felt for avkortet før gradering (#2285)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPrStatusOgAndelDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_34__avkortet_før_gradering_på_andel.sql
Labels: domene/kalkulator, migreringer

Bumper regel (#2288)
  pom.xml
Labels: pom

Håndtering av overgang mellom SP og DP når SP er aktiv på stp (#2291)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapIAYTilKalulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBGStatuserFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/HarYtelseAvDagpenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseDtoBuilder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseFordelingDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/YtelseGrunnlagDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/OpprettBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/FastsettSkjæringstidspunktOgStatuserK14.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k9/FastsettSkjæringstidspunktOgStatuserK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FastsettSkjæringstidspunktOgStatuserFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegelTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/InntektPeriodeType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/ytelse/v1/YtelseDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/ytelse/v1/YtelseFordelingDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/ytelse/v1/YtelseGrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/ytelse/v1/YtelserDto.java
  web/app-vtp.properties
Labels: domene/kontrakt, domene/kalkulator

Logger info i staden for å feile (#2294)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/AksjonspunktMigreringTjeneste.java
Labels: none

Legger inn toggle (#2296)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBGStatuserFraVLTilRegel.java
Labels: domene/kalkulator

Løser aksjonspunkt uten begrunnelse for migrering (#2298)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovKontrollTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/AksjonspunktMigreringTjeneste.java
Labels: none

Sykepenger av dagpenger (#2303)
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulatorTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapAktivitetStatusVedSkjæringstidspunktFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/kodeverk/MapOpptjeningAktivitetFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBGStatuserFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapAktivitetStatusV2FraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapOpptjeningAktivitetTypeFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapUttakArbeidTypeTilAktivitetStatusV2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/HarYtelseAvDagpenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/InfotrygdvedtakMedDagpengerTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektForVisning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FinnInntektFraYtelse.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/LagTilpassetDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/uttak/UttakArbeidType.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/AktivitetStatusMatcher.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/MapFastsettBeregningsgrunnlagPerioderFraVLTilRegelRefusjonOgGraderingUtbgrad.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AktivitetStatus.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/OpptjeningAktivitetType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/iay/ytelse/v1/YtelseDto.java
  kontrakt/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/KalkulatorMapperTest.java
  pom.xml
Labels: domene/kontrakt, domene/kalkulator, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml
