Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Skrur på regelkomprimering i prod
  .deploy/prod-fss.yml
Labels: none

Legger til endepunkt for å komprimere vilkårlige regelsporinger
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/KomprimerJsonInputRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/regelinput/KomprimerRegelInputRequest.java
Labels: domene/kontrakt

Fjerne notNull constraint
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/regelinput/KomprimerRegelInputRequest.java
Labels: domene/kontrakt

Bump felles
  pom.xml
Labels: pom

Finner unike RefusjonAndeler ved flere overlappende grunnlag med økt refusjon (#3300)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kobling/KoblingTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/refusjon/VurderRefusjonDtoTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/BeregnForRequest.java
Labels: domene/kontrakt, domene/kalkulator

Resttjeneste for gjenoppretting av grunnlag og opprettelse av nye referanser (#3302)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/ResetGrunnlagTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierOgResettBeregningListeRequest.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/konfig/ApplicationConfig.java
Labels: domene/kontrakt, web

Legger til parameter for sisteOpprettetTid i kopieringslogikk (#3311)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/HåndteringInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/kobling/KoblingEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/AksjonspunktMigreringTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kobling/KoblingTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulatorTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/dump/DebugDumpstersTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovRepositoryTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepositoryTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierOgResettBeregningListeRequest.java
Labels: domene/kontrakt

Endrer max value til beløp som ved månedsbeløp kan konverteres til årsbeløp og passe i integer (#3299)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FastsattBrukersAndel.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FastsatteAndelerTidsbegrensetDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FastsatteVerdierDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FastsatteVerdierForBesteberegningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FastsettBeregningsgrunnlagAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FastsettEtterlønnSluttpakkeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FastsettMånedsinntektFLDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FastsettMånedsinntektUtenInntektsmeldingAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/VurderATogFLiSammeOrganisasjonAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/FordelBeregningsgrunnlagAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/FordelFastsatteVerdierDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBGTidsbegrensetArbeidsforholdDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlagSNDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlagSNforNyIArbeidslivetDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/InntektPrAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndringEllerNyoppstartetSNDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/refusjon/VurderRefusjonAndelBeregningsgrunnlagDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/brev/BeregningsgrunnlagPrStatusOgAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/detaljert/BeregningsgrunnlagPrStatusOgAndelDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/frisinn/BeregningsgrunnlagPeriodeFRISINNDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/frisinn/BeregningsgrunnlagPrStatusOgAndelFRISINNDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/inntektsgrunnlag/InntektsgrunnlagMånedDto.java
Labels: domene/kontrakt

Legger inn validering på at kopierFraReferanse er ulik ny referanse (#3315)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/KopierBeregningRequest.java
Labels: domene/kontrakt

Fjerner ugyldig koblingrelasjon (#3317)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/ResetGrunnlagTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/kobling/KoblingRepository.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjenesteTest.java
Labels: none

Returnerer antall hashede rader
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/KomprimerJsonInputRestTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
Labels: none

Nytt felt for trukket overstyring, gjenoppretter ikkje trukket overstyring ved kjøring framover (#3298)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/avklaringsbehov/AvklaringsbehovKontrollTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/HåndtererApplikasjonTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mapFraEntitet/BehandlingslagerTilKalkulusMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/VidereførOverstyringK9.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/dto/FastsettBGTidsbegrensetArbeidsforholdDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/avklaringsbehov/AvklaringsbehovDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/AvklaringsbehovUtlederFaktaOmBeregning.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/AvklaringsbehovDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_58__nytt_felt_avbrutt_overstyring.sql
  web/app-vtp.properties
Labels: domene/kontrakt, domene/kalkulator, migreringer

Egen resttjeneste for å resette grunnlag til fastsatt før oppgitt tidspunkt (#3325)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/forvaltning/ResetGrunnlagTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/forvaltning/KopierOgResetRestTjeneste.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/ResettBeregningRequest.java
Labels: domene/kontrakt

Ser kun etter andeler med lønnsendring i første periode (#3327)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
Labels: domene/kalkulator

Vidererfører overstyringer fra original kobling (#3329)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/VidereførOverstyringK14.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/VidereførOverstyringK9.java
Labels: none

Kopierer fra original kobling dersom oppgitt kopierFra-kobling ikkje har grunnlag i riktig tilstand (#3332)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/kopiering/KopierBeregningsgrunnlagTjenesteTest.java
Labels: none

Øker minne til 4GB midlertidig
  .deploy/prod-fss.yml
Labels: none

Henter forrige grunnlag på tvers av koblinger (#3335)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegInputMapper.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/BeregningsgrunnlagRepository.java
Labels: none

Revert "Ruller tilbake kun dersom aktiv tilstand er etter og ikke lik"
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagTilstand.java
Labels: domene/kontrakt

Finner tilkommet inntekt fra mottatte inntektsmeldinger (#3348)
  .deploy/dev-fss.yml
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/AktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/OpprettPerioderOgAndelerForTilkommetInntekt.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjenesteTest.java
Labels: domene/kalkulator

Legger på logging
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/FordelBeregningsgrunnlagHåndterer.java
Labels: domene/kalkulator

Dto-tjeneste for lønnsendring sjekker om aktivitet med lønnsendring har blitt vurdert automatisk i staden for å sjekke toggle (#3354)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningAndelDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderLønnsendringDtoTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/FaktaOmBeregningDtoTjenesteImplTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/fakta/VurderLønnsendringDtoTjenesteTest.java
Labels: domene/kalkulator

Tar inn ny versjon av beregningsregler (#3360)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BGAndelArbeidsforholdDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/ForeslåBeregningsgrunnlagFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagMedTogglePåTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  pom.xml
Labels: domene/kalkulator, pom

TFP-5172: Nytt tomt steg for å beregne SN / MS (#3365)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapStegTilTilstand.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapTilstandTilSteg.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegInputMapper.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/input/ForeslåBeregningsgrunnlagDel2Input.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningSteg.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagTilstand.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/StegType.java
Labels: domene/kontrakt, domene/kalkulator

TFP-5172: Tar i bruk nytt steg hvis toggle er på (#3370)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapHåndteringskodeTilTilstand.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/input/StegProsessInputTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeslåSplittToggle.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagVerifiserer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/KalkulatorInterface.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslåDel2/ForeslåBeregningsgrunnlagDel2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/ForeslåBeregningsgrunnlagDel2FRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/ForeslåBeregningsgrunnlagFRISINN.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagPeriodeRegelType.java
Labels: domene/kontrakt, domene/kalkulator

TFP-5204: Bytter ut skjæringstidspunkt for beregning med skjæringstidspunkt for opptjening når vi sjekker for vent på meldekort (#3376)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/AvklaringsbehovUtlederFastsettBeregningsaktiviteterPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fastsettskjæringstidspunkt/ytelse/k14/fp/AvklaringsbehovUtlederFastsettBeregningsaktiviteterFP.java
Labels: domene/kalkulator

Bruker ikke Å i ENV navn (#3378)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/ForeslåSplittToggle.java
Labels: none

Gjør ikke foreslå2Ut obligatorisk (#3382)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagTilstand.java
Labels: domene/kontrakt

Legger til støtte for å validere azuread tokens
  .deploy/dev-fss.yml
Labels: none

bump felles
  pom.xml
Labels: pom

Update pom.xml
  pom.xml
Labels: pom

Legger til k9-sak som preauth i dev-fss
  .deploy/dev-fss.yml
Labels: none

Bedre sjekk på om SN og MS er foreslått (#3392)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslåDel2/ForeslåBeregningsgrunnlagDel2.java
Labels: domene/kalkulator

TSF-2919 Ser på periode fra slutt av beregningsperiode fram til skjæringstidspunkt dersom den går fram til siste måned (#3394)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/LønnsendringTjenesteTest.java
Labels: domene/kalkulator

Lagrer ned faktavurdering også når toggle er på (#3396)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/tilfeller/VurderLønnsendringOppdaterer.java
Labels: domene/kalkulator

Fix sjekk med test (#3398)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslåDel2/ForeslåBeregningsgrunnlagDel2.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslåDel2/SnMsForeslåttSjekk.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslåDel2/SnMsForeslåttSjekkTest.java
Labels: domene/kalkulator

Bruker reader token til å lese fra github (#3400)
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
Labels: none

Fikse labeler (#3403)
  .github/workflows/labeler.yml
Labels: none

Setter steg ikke obligatorisk (#3406)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagTilstand.java
Labels: domene/kontrakt

Oppdatert nare og beregningsregler (#3367)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FullføreBeregningsgrunnlagFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/VurderBeregningsgrunnlagTjenesteFRISINN.java
  pom.xml
Labels: domene/kalkulator, pom
