Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Fjerner ubrukt felt i kontrakt (#4364)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/request/v1/BeregnListeRequest.java
Labels: domene/kontrakt

Vent på annen PR (#4371)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/TempAvledeKode.java
Labels: domene/kontrakt

Azure cc testing (#4365)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  migreringer/pom.xml
  pom.xml
  web/app-vtp.properties
Labels: pom

Tilkommet inntekt eget steg (#4379)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapStegTilTilstand.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/MapTilstandTilSteg.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/TilkommetAktivitetRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/kodeverk/MapPeriodeÅrsakFraVlTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/FinnUttaksgradInntektsgradering.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerGraderingMotInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/inntektgradering/SimulerTilkomneAktiviteterTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/BeregningsgrunnlagPeriodeDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagFRISINNTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/KalkulatorInterface.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederFordelBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederNyttInntektsforhold.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/FordelBeregningsgrunnlagTjenesteUtbGrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/AvklaringsbehovUtlederTilkommetInntekt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/FinnArbeidstakerInntektTidslinje.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/FrilansInntektTidslinjeUtil.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/RegisterInntektTidslinjeUtleder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/TilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/UtvidetInntektsperiodeUtleder.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/UtvidetInntektsperiodeUtlederTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningSteg.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagTilstand.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/StegType.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/gradering/InntektGraderingPeriode.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/gradering/InntektgraderingListe.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/gradering/InntektgraderingPrReferanse.java
Labels: domene/kontrakt, domene/kalkulator

Lagre versjon av beregningsregler som er brukt (#4374)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/beregning/BeregningStegTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingGrunnlagEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/sporing/RegelSporingPeriodeEntitet.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/HashGrupperingUtil.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelSporingTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/RegelsporingRepository.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/sporing/HashGrupperingUtilTest.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapRegelSporingFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/output/RegelSporingAggregat.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/output/RegelSporingGrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/output/RegelSporingPeriode.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagFRISINNTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/AvklaringsbehovUtlederForeslåBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/FullføreBeregningsgrunnlag.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/omp/FullføreBeregningsgrunnlagOMP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/psb/FullføreBeregningsgrunnlagPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/svp/FullføreBeregningsgrunnlagSVP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fullføre/ytelse/utbgrad/FullføreBeregningsgrunnlagUtbgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FullføreBeregningsgrunnlagFRISINN.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/VurderBeregningsgrunnlagTjenesteFRISINN.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapBeregningsgrunnlagFraRegelTilVLTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFraFordelingsmodellTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/vilkår/VurderBeregningsgrunnlagTjenesteTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/AvklaringsbehovUtlederForeslåBeregningTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/ytelse/utbgradytelse/FullføreBeregningsgrunnlagUtbgradTest.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_73__sporing_regel_versjon.sql
  pom.xml
Labels: domene/kalkulator, migreringer, pom

Fikse nullpointer frisinn (#4385)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/ytelse/frisinn/FullføreBeregningsgrunnlagFRISINN.java
Labels: domene/kalkulator

Diverse feilfikser (#4388)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/SimulerTilkommetInntektRestTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/regelmodelltilvl/MapFastsettBeregningsgrunnlagPerioderFraRegelTilVL.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FaktaOmFordelingDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/typer/StatusOgArbeidsgiver.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/refusjon/ytelse/VurderRefusjonBeregningsgrunnlagPleiepenger.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/TilkommetInntektTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/periodisering/FordelPerioderTjenesteTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningSteg.java
Labels: domene/kontrakt, domene/kalkulator

Bruker aktivitetsgrad og ikke utbetalingsgrad i logikk for tilkommet inntekt (#4395)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
Labels: domene/kalkulator

Bytter beskyttet ressurs attributt for kall
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/TilkommetAktivitetRestTjeneste.java
Labels: none

setter AZURE_APP_PRE_AUTHORIZED_APPS som en json fra vtp (#4391)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  pom.xml
  web/app-vtp.properties
Labels: pom

FIX: Fast versjon av labeler action (#4405)
  .github/workflows/labeler.yml
Labels: none
