Repository navikt/fp-kalkulus, changes with the labels that .github/labeler.yml gives for each.
All labels: domene/kontrakt, domene/kalkulator, migreringer, web, pom

.github/labeler.yml:

domene/kontrakt:
  - kontrakt/src/main/java/**/*
  - kodeverk/src/main/java/**/*
  
domene/kalkulator:
  - felles/src/main/java/**/*
  - kalkulator/src/main/java/**/*

migreringer:
  - migreringer/src/main/**/*
  
web:
  - web/src/main/java/**/*
  
pom:
  - '**/*/pom.xml'
  - pom.xml

Expand-contract på identype for jsonsubtype og utvide definisjon-kolonne til 50 teikn (#3611)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/HåndterBeregningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/avklaraktiviteter/AvklarAktiviteterHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FaktaOmBeregningHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/FaktaOmFordelingHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/VurderTilkommetInntektHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBGTidsbegrensetArbeidsforholdHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBeregningsgrunnlagATFLHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBeregningsgrunnlagSNNyIArbeidslivetHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlagSNHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndretArbeidssituasjonHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndringEllerNyoppstartetSNHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/overstyring/OverstyrBeregningsaktiviteterDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/overstyring/OverstyrBeregningsgrunnlagHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/refusjon/VurderRefusjonBeregningsgrunnlagDto.java
  migreringer/src/main/resources/db/migration/defaultDS/1.0/V1.1_64__utvide_definisjon_kolonne_avklaringsbehov.sql
Labels: domene/kontrakt, migreringer

Fikser feil avklaringsbehovmapping
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndretArbeidssituasjonHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/overstyring/OverstyrBeregningsaktiviteterDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/overstyring/OverstyrBeregningsgrunnlagHåndteringDto.java
Labels: domene/kontrakt

Endrer til LinkedHashSet for å garantere lik rekkefølge
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederNyttInntektsforhold.java
Labels: domene/kalkulator

Finner arbeidsprosent for utbetalingsgradytelser (#3618)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoUtil.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FinnArbeidsprosenter.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FinnArbeidsprosenterFP.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FinnArbeidsprosenterUtbetalingsgrad.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FordelBeregningsgrunnlagAndelDtoTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoUtilTest.java
Labels: domene/kalkulator

Håndter stortinget (#3616)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/faktafordeling/VurderRepresentererStortingetHåndterer.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderRepresentererStortingetTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FaktaOmFordelingDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderStortingsperiodeDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederFordelBeregning.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederRepresentererStortinget.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderRepresentererStortingetTjenesteTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PeriodeÅrsak.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/VurderRepresentererStortingetHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/FordelingDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/VurderRepresentererStortingetDto.java
Labels: domene/kontrakt, domene/kalkulator

Toggler av gradering mot inntekt
  .deploy/dev-fss.yml
Labels: none

Mapper inntektsforhold til GUI-kontrakt (#3614)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/FaktaOmFordelingDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/TilkommetInntektDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/InntektsforholdDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/VurderInntektsforholdPeriodeDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/VurderNyttInntektsforholdDto.java
Labels: domene/kontrakt, domene/kalkulator

Legger til avklaringsbehovkode i alle håndteringsdtoer (#3624)
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/HåndterBeregningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/avklaraktiviteter/AvklarAktiviteterHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FaktaOmBeregningHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/FaktaOmFordelingHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/VurderRepresentererStortingetHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/VurderTilkommetInntektHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBGTidsbegrensetArbeidsforholdHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBeregningsgrunnlagATFLHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBeregningsgrunnlagSNNyIArbeidslivetHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlagSNHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndretArbeidssituasjonHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndringEllerNyoppstartetSNHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/overstyring/OverstyrBeregningsaktiviteterDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/overstyring/OverstyrBeregningsgrunnlagHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/refusjon/VurderRefusjonBeregningsgrunnlagDto.java
Labels: domene/kontrakt

Fikse norske teikn i kodeverdier (#3626)
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

Håndterer tilbakerulling ved håndtering og ved rekjæring av steg ulikt (#3629)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusOrkestrerer.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/avklaringsbehov/AvklaringsbehovTjeneste.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjeneste.java
  domenetjenester/src/test/java/no/nav/folketrygdloven/kalkulus/tjeneste/beregningsgrunnlag/RullTilbakeTjenesteTest.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/BeregningsgrunnlagTilstand.java
Labels: domene/kontrakt

Tom konstruktør i dto for jacksonmapping
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/response/v1/beregningsgrunnlag/gui/InntektsforholdDto.java
Labels: domene/kontrakt

Update prod-fss.yml
  .deploy/prod-fss.yml
Labels: none

Update dev-fss.yml
  .deploy/dev-fss.yml
Labels: none

HåndteringDto bruker nye koder som identtype for subtypes. JsonCreator støtter å ta i mot nye koder (#3632)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonKodeverdiConverter.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonNyKodeverdiConverter.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/HåndteringKode.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/HåndterBeregningDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/avklaraktiviteter/AvklarAktiviteterHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fakta/FaktaOmBeregningHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/FaktaOmFordelingHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/VurderRepresentererStortingetHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/VurderTilkommetInntektHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBGTidsbegrensetArbeidsforholdHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBeregningsgrunnlagATFLHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBeregningsgrunnlagSNNyIArbeidslivetHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/FastsettBruttoBeregningsgrunnlagSNHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndretArbeidssituasjonHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/foreslå/VurderVarigEndringEllerNyoppstartetSNHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/overstyring/OverstyrBeregningsaktiviteterDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/overstyring/OverstyrBeregningsgrunnlagHåndteringDto.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/refusjon/VurderRefusjonBeregningsgrunnlagDto.java
  web/src/main/java/no/nav/folketrygdloven/kalkulus/app/sikkerhet/PdpRequestBuilderImpl.java
Labels: domene/kontrakt, web

Tilkommet inntekt feilrettinger (#3636)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/beregningsgrunnlag/TilkommetInntekt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapArbeidsforholdFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/fastsett/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderRepresentererStortingetTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/VurderNyeInntektsforholdDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/beregningsgrunnlag/TilkommetInntektDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederNyttInntektsforhold.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/AktivitetDto.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/OpprettPerioderOgAndelerForTilkommetInntekt.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/PSBFordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/SplittBGPerioder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/TilkommetInntektPeriodeTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/svp/SVPFordelBeregningsgrunnlagTjeneste.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/FinnTilkommetInntektTjenesteTest.java
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/HåndterBeregningDto.java
  pom.xml
  web/app-vtp.properties
Labels: domene/kontrakt, domene/kalkulator, pom

Logger ut periode som ikke finnes (#3642)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/felles/MatchBeregningsgrunnlagTjeneste.java
Labels: domene/kalkulator

Filtrerer ikkje bort forlengelser i splitting av perioder (#3646)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/avklaringsbehov/VurderRepresentererStortingetTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/SplittBGPerioder.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/ytelse/psb/TilkommetInntektPeriodeTjeneste.java
Labels: domene/kalkulator

Setter opp config for azuread (#3644)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
Labels: none

Enabler azure for domene
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
Labels: web

Registrerer azureAd module (#3651)
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
Labels: web

Fjerner toggle for besteberegning, fremskyndet regelendring og gammel atfl splitt (#3640)
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/mappers/MapFraKalkulator.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapBeregningsgrunnlagFraVLTilRegel.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/adapter/vltilregelmodell/MapInntektsgrunnlagVLTilRegelFelles.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/guitjenester/BeregningsgrunnlagDtoTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/BeregningsgrunnlagTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/ytelse/fp/VurderBesteberegningTilfelleUtleder.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/BeregningsgrunnlagInputTestUtil.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/foreslå/ForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fortsettForeslå/FortsettForeslåBeregningsgrunnlagTest.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/kontrollerfakta/ytelse/fp/VurderBesteberegningTilfelleUtlederTest.java
Labels: domene/kalkulator

Skal ikkje filtrere bort k9 ytelser ved ikke lovfestet permisjon (#3641)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/modell/iay/permisjon/PermisjonPerYrkesaktivitet.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/PermisjonsbeskrivelseType.java
Labels: domene/kontrakt, domene/kalkulator

Oppretter ikkje tilkommet inntekt AP i helg (#3649)
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/tilkommetInntekt/TilkommetInntektsforholdTjeneste.java
  kalkulator/src/main/java/no/nav/folketrygdloven/kalkulator/tid/Intervall.java
  kalkulator/src/test/java/no/nav/folketrygdloven/kalkulator/steg/fordeling/avklaringsbehov/AvklaringsbehovUtlederTilkommetInntektTest.java
Labels: domene/kalkulator

Revert "Enabler azure for domene"
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
Labels: web

Revert "Setter opp config for azuread"
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
Labels: none

Legger tilbake konfig av azure i jettyserver
  web/src/main/java/no/nav/folketrygdloven/kalkulus/jetty/JettyServer.java
Labels: web

Revert "Revert "Setter opp config for azuread""
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
Labels: none

Legger tilbake ingresser
  .deploy/dev-fss.yml
  .deploy/prod-fss.yml
Labels: none

Starter å sende nye koder (#3665)
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonKodeverdiConverter.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

Revert "Starter å sende nye koder"
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonKodeverdiConverter.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

Starter å sende ny kode
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
  web/app-vtp.properties
Labels: domene/kontrakt

Revert "Revert "Starter å sende nye koder""
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonKodeverdiConverter.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

Fikser kompileringsfeil
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonKodeverdiConverter.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonNyKodeverdiConverter.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

Revert "Fikser kompileringsfeil"
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonNyKodeverdiConverter.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

Revert "Revert "Revert "Starter å sende nye koder"""
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonKodeverdiConverter.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

Beholder gammel kode for mapping
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonKodeverdiConverter.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/domene/entiteter/mapping/AvklaringsbehovDefinisjonNyKodeverdiConverter.java
  domenetjenester/src/main/java/no/nav/folketrygdloven/kalkulus/rest/OperereKalkulusRestTjeneste.java
  kodeverk/src/main/java/no/nav/folketrygdloven/kalkulus/kodeverk/AvklaringsbehovDefinisjon.java
Labels: domene/kontrakt

Update pom.xml
  pom.xml
Labels: pom

Bump regel: Fordeler 0 til tilkomne andeler uten ytelse som ikkje har blitt fordelt automatisk (#3674)
  pom.xml
Labels: pom

Bumper felles til 1.0.7
  pom.xml
Labels: pom

Fikser getter for felt
  kontrakt/src/main/java/no/nav/folketrygdloven/kalkulus/håndtering/v1/fordeling/NyttInntektsforholdDto.java
Labels: domene/kontrakt
